@import "../../../assets/scss/abstracts/abstracts";

.select-section {
    label {
        font-size: fontSize(16px);
        color: #6b6c6f;
        letter-spacing: 0.12px;
    }
    // /* the modification */
    // option:first-of-type {
    //   display: none;
    // }
    .icon-arrow-down {
        background: url("../../../assets/files/SVG/Drop Down 4.svg") 95% center
            no-repeat;
    }
    .down-icon {
        position: absolute;
        right: 25px;
        font-size: 2.1875rem;
        top: 55px;
        background: url("../../../assets/files/SVG/Drop Down 4.svg") 95% center
            no-repeat;
        pointer-events: none;
    }
    .Select__control--is-disabled {
        background-color: #e9ecef;
        opacity: 1;
    }
}
.dd_icon {
    padding: 0 1em 0 0;
}
