.marketing_container {

    margin-left: 5rem;
    margin-right: 5rem;
  .marketing_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: "Montserrat", sans-serif;

  
  }
}

.create_coupon_form
{
  padding: 3rem;

  form
  {
      display: flex;
      flex-direction: column;
  }
}
