.card_outter {
    width: 100%;
    height: 1700px;

    .card_outter_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        h2 {
            font-size: 35px;
            text-align: center;
        }
        p {
            font-size: 18px;
            text-align: center;
            width: 70%;
        }
    }
    .card_inner {
        // background-color: blueviolet;
        width: 100%;
        height: 500px;
        margin-top: 3em;
        .card_form_outter {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            form {
                width: 100%;

                .card_item1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    input {
                        display: none;
                    }
                    button {
                        width: 200px;
                        border-radius: 100px;
                        outline: none;
                        height: 200px;
                        background-color: #53bfd2;
                        cursor: pointer;
                        border: none;
                    }
                    button:active {
                        border: none;
                    }
                    h5 {
                        margin-top: 1em;
                        font-size: 22px;
                    }
                    .combin_profile {
                        display: flex;

                        img:nth-child(2) {
                            margin-top: 9em;
                            margin-left: -3em;
                            width: 50px !important;
                            height: 50px !important;
                            cursor: pointer;
                            transition: 0.2s ease-in-out;
                        }
                        img:nth-child(2):hover {
                            padding: 0.2em;
                        }
                    }
                }
                .card_item2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    margin: 2em 1em 1em 1em;
                    h6 {
                        font-size: 22px;
                    }
                    .card_innerItem {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        input {
                            width: 80% !important;
                            padding: 0.5em;
                            margin: 0 2em 0 0;
                            border-radius: 50px;
                            background: transparent;
                            border: 1px solid #bcbcbc;
                        }
                    }
                }
                .card_item3 {
                    margin: 2em 1em 1em 1em;

                    h6 {
                        font-size: 22px;

                        margin: 0 0 1em 0;
                    }
                    label {
                        margin-right: 4em;
                        font-size: 20px;
                    }
                }
                .card_item4 {
                    margin: 2em 1em 1em 1em;

                    h6 {
                        margin: 0 0 1em 0;
                        font-size: 22px;
                    }
                    textarea {
                        width: 100%;
                        height: 100px;
                        border-radius: 20px;
                        padding: 0.5em 1em;
                    }
                    textarea:active {
                        border: none;
                        outline: none;
                        border-radius: 20px;
                    }
                }
                .card_item5 {
                    margin: 2em 1em 1em 1em;
                    h6 {
                        font-size: 22px;
                        margin: 0 0 1em 0;
                    }
                    p {
                        font-size: 18px !important;
                    }
                }
                .card_item6 {
                    height: auto;
                    margin: 2em 1em 1em 1em;

                    .card_accordion {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin: 1em 0em;

                        .iconwrapper {
                            width: 48%;
                            display: flex;
                            margin: 0;
                            padding: 0;
                            img {
                                margin-left: -3em;
                            }
                            input {
                                width: 100% !important;
                                padding: 0.5em 0.8em;
                                margin: 1em 1em 1em 0;
                                border-radius: 50px;
                                background: transparent;
                                border: 1px solid #bcbcbc;

                                @media screen and (max-width: 1023px) {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
                .submit_button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 5em;

                    a {
                        outline: none;
                        background: #53bfd2;
                        border: 0;
                        margin: 1em;
                        text-decoration: none;
                        padding: 0.2em 0.5em 0.2em 2em !important;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
