@import "./reset/reset";

@import "./layout/layout";
@import "../../component/TrainerProfile/UserScheduler/dropdown.scss";
input,
button,
.form-control {
  &:focus {
    outline: 0;
    box-shadow: 0 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.outter_table_user {
  height: auto;
  .table_user {
    height: auto;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;

    .table_inner_trainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0.5em 0 1em 0 !important;
      padding: 1.5em 1em 0 1em;
      .table_date {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        margin-left: 1rem;
      }
      .date_week {
        width: 230px;
        text-align: center;
        letter-spacing: 0.6px;
        color: #898989;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
      }
      select {
        width: 270px;
        padding: 0.5em 1em;
        border: 2px solid #898989;
        border-radius: 50px;
        height: 45px;
        font-family: Montserrat;
        -moz-appearance: none;
        -webkit-appearance: none;
      }
      select:active {
        outline: none;
      }
      select:focus {
        outline: none;
      }
    }
  }
  .table_header_txt {
    color: #898989;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
  }
  table {
    margin: 0 auto !important;
    thead {
      tr {
        th {
          text-align: center !important;
          text-overflow: ellipsis !important;
          overflow: hidden !important;
          border: 2px solid #e6e6e6 !important;
          background-clip: padding-box;
          padding-left: 0rem !important;
          padding-right: 0rem !important;
          width: 100px;
          height: 100px !important;
          .table_header_number {
            color: #161616;
            letter-spacing: 1.2px;
            font-family: "Montserrat", sans-serif !important;
            font-size: 28px !important;
            font-weight: 600 !important;
            margin-bottom: 0.2em !important;
            position: relative;
            top: 10px;
          }
          .table_header_txt {
            color: #898989;
            font-family: "Montserrat", sans-serif !important;
            font-size: 18px !important;
            font-weight: 500 !important;
            line-height: 22px !important;
          }
        }
      }
    }
    tbody {
      tr {
        .user_time_slot {
          background: #fff;
          text-align: center;
          font-family: "Montserrat", sans-serif;
          font-size: 15px;
          font-weight: 600;
          line-height: 22px;
          width: 130px !important;
          height: 70px !important;
          border: 2px solid #e6e6e6;
        }
        td {
          width: 120px !important;
          height: 70px !important;
          font-family: "Montserrat", sans-serif !important;
          background: #dedede;
        }
      }
    }
  }
}
.schedular_slots_user {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  width: 100%;
  margin: 2em 0 3em 0;
  align-items: center;
  .items_slots_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .item_slot1_user {
      display: flex;
      align-items: center;
      .indicator {
        width: 60px;
        height: 15px;
        background: #f2f2f2 0% 0% no-repeat padding-box;
        opacity: 1;
      }
      h5 {
        letter-spacing: 0.54px;
        color: #2c2c2c;
        text-transform: uppercase;
        margin: 0 1em;
        font-size: 14px;
        font-weight: 700;
        font-family: Montserrat;
      }
    }
    .item_slot2_user {
      display: flex;
      align-items: center;
      .indicator2 {
        width: 60px;
        height: 15px;
        background: #dedede;
        opacity: 1;
      }
      h5 {
        letter-spacing: 0.54px;
        color: #2c2c2c;
        text-transform: uppercase;
        margin: 0 1em;
        font-size: 14px;
        font-weight: 700;
        font-family: Montserrat;
      }
    }
    .item_slot3_user {
      display: flex;
      align-items: center;
      .indicator3 {
        width: 60px;
        height: 15px;
        background: #53bfd2;
        opacity: 1;
      }
      h5 {
        letter-spacing: 0.54px;
        color: #2c2c2c;
        text-transform: uppercase;
        margin: 0 0 0 1em;
        font-size: 14px;
        font-weight: 700;
        font-family: Montserrat;
      }
    }

    .item_slot5_user {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        letter-spacing: 0.54px;
        border: none;
        outline: none;
        text-transform: uppercase;
        margin: 0 0 0 1em;
        font-size: 15px !important;
        background-color: transparent !important;
        font-weight: 600 !important;
        font-family: Montserrat;
        font-style: italic !important;
        width: 350px !important;
        text-decoration: underline !important;
        color: #53bfd2 !important;
      }
    }
  }
}
.event_wrapper_inner {
  .submit_user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 1em;
    width: 230px;
    text-decoration: none;
    height: 52px;
    background: #53bfd2;
    text-align: right;
    letter-spacing: 0.45px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
}

.normal-btn {
  display: block;
  outline: none;
  background: #53bfd2;
  border: 0;
  height: 50px;
  margin: 1em 1em 2em 1em;
  text-decoration: none;
  padding: 0.2em 0.5em 0.2em 2em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;

  a {
    display: flex;
    align-items: center;
  }
}

.link-btn {
  text-decoration: underline;
  letter-spacing: 0px;
  color: #53bfd2;
  opacity: 1;
  border: none;
  outline: none;
  font-style: italic;
  font-size: 15px;
  line-height: 42px;
  font-weight: 500;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

.disable-btn {
  opacity: 0.5 !important;
  pointer-events: none;
}

.selected-data {
  background: #53bfd2;
  border: none;
}

select {
  border-radius: 50px;
  border: 2px solid #bcbcbc;
  box-shadow: 0 0;
  outline: 0;
  background: white;
  max-height: 45px;
  min-height: 45px;
  width: 100%;
  padding: 0px 20px;
  font-size: 18px;
  background: url("../files/SVG/Drop Down 4.svg") 95% center no-repeat;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 500;
  option {
    color: black;
    border: 2px solid #bcbcbc;
  }

  &::placeholder {
    color: #bcbcbc;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
  }
}

.custom-dropdown {
  background: transparent;
  border: 0;

  &:hover,
  &:focus,
  &:active {
    background: transparent;
    border: 0;
    box-shadow: 0 0;
  }
}
.card_agree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0 2em 0;
  input {
    padding: 1em;
    height: 20px;
    background-color: rgb(83, 191, 210);
  }
  label {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0 0 0 0.5em;
    color: #898989;
    text-align: left;
    letter-spacing: 0px;
    margin: 0;
    font-weight: 500;
    line-height: 42px;
    font-family: "Montserrat", sans-serif;

    a {
      color: rgb(83, 191, 210);
      padding-left: 0.2em;
      font-family: 800;
    }
  }
}

.rwt__tablist:not([aria-orientation="vertical"]) {
  border: 0;
}

.pointer-none {
  pointer-events: none;
}

.text-underline {
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  .outter_table_user {
    // position: relative;
    // right: 50px;
    .table_user {
      .table_inner_trainer {
        display: unset;

        select {
          width: 100%;
        }
      }
    }

    table {
      thead {
        tr {
          .user_time_slot {
            line-height: unset;
            font-size: 12px;
          }
          th {
            h6 {
              font-size: 0px;
            }
            // min-width: 45px;
            max-width: 50px;
            // width: 45px;
            .table_header_number {
              font-size: 20px !important;
            }

            .table_header_txt {
              font-size: 12px !important;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            border: solid 1px rgb(61, 61, 61) !important;
          }
        }
      }
    }
  }

  .schedular_slots_user {
    .items_slots_user {
      flex-direction: column;
      align-items: flex-start;

      .item_slot5_user {
        a {
          margin-top: 30px;
          width: 300px !important;
        }
      }
    }
  }
}

.overlay_card {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  left: 0;
  height: 100%;
  width: 100%;
  transition: ease 0.5s;
  background: rgba(7, 7, 7, 0.301) !important;
  opacity: 0;
  border-radius: 20px 20px 0 0;
}
.inner_card:hover .overlay_card {
  opacity: 1;
}

.ocard {
  position: absolute;
  height: 200px;
  width: 93%;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;

  opacity: 0;
  padding: 1rem;
  cursor: pointer;

  .circlepop {
    position: relative;
    left: 200px;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: #53bfd2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
}

.ocard:hover {
  opacity: 1;
}

// blue arrow

.message_right_chatarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  @media only screen and (max-width: 900px) {
    height: 100vh;
  }
  .message_right_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: #ffffff;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 0px 10px 0px 0px rgb(238, 173, 173);
    h2 {
      text-align: center;
      letter-spacing: 0px;
      color: #161616;
      opacity: 1;
      margin: 0;
      padding: 0;
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 58px;
    }
    .message_header_times {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 900px) {
        flex-direction: column;
      }
      .message_header_items {
        display: flex;
        align-items: center;
        h5 {
          text-align: left;
          letter-spacing: 0px;
          color: #898989;
          opacity: 1;
          margin: 0 1em 0 0.5em;
          padding: 0;
          font-family: "Montserrat", sans-serif;
          font-size: 15px;
          font-weight: 500;
          line-height: 42px;
        }
      }
    }
  }
  .message_right_textarea {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 1em;
    overflow: auto;
    .message_chat_right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      img {
        width: 40px;
        height: 40px;
      }
      .message_text {
        top: 0px;
        position: relative;
        right: 20px;
        margin: 0.5em;
        width: 325px;
        height: auto;

        background: #efefef 0% 0% no-repeat padding-box;
        opacity: 1;
        h5 {
          // width: 272px;
          text-align: left;
          color: #2c2c2c;
          padding: 1em;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-weight: normal;
          line-height: 20px;
        }
      }
    }
    .message_chat_left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      img {
        width: 40px;
        height: 40px;
      }
      .message_text {
        top: 0px;
        position: relative;
        left: 20px;
        margin: 0.5em;
        width: 325px;
        height: auto;

        background: #f8f8f8 0% 0% no-repeat padding-box;
        opacity: 1;
        h5 {
          width: 272px;
          text-align: left;
          letter-spacing: 0px;
          color: #2c2c2c;
          padding: 1em;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-weight: normal;
          line-height: 20px;
        }
      }
    }
  }

  .submit-btn-block {
    button {
      border: none;
      background-color: white;
    }
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .message_right_input {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    background-color: rgb(248, 248, 248);
    input {
      width: 100%;
      height: 50px;
      border: none;
      padding-left: 2rem;
    }
    input::placeholder {
      text-align: left;
      letter-spacing: 0px;
      color: #898989;
      font-style: italic;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: normal;
      line-height: 30px;
    }
  }
}

.react-bootstrap-table {
  table {
    td {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.in-person-img {
  top: 3px !important;
  left: 6px;
}

.in-person-option {
  position: absolute;
  top: -24px;
  left: 10px;
  width: 100%;

  h2,
  p {
    border: none !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    opacity: 0 !important;
  }

  span {
    position: absolute;
  }
}

.position-realtive {
  position: relative;
}

.react-calendar
{
  border: none !important;
}

.react-calendar__tile--now
{
  background: #d3d2d2 !important;
  border-radius: 100px;
}

.react-calendar__navigation {
  button {
    font-family: "Montserrat", sans-serif !important;
    font-weight: bold !important;
    color: #161616 !important;
    border: none !important;
  }
}

.react-calendar__month-view__weekdays__weekday {
  color: #898989 !important;
 

  abbr {
    text-decoration: none !important;
  }
}

.react-calendar__tile--active {
  background: #53bfd2 !important;
  border-radius: 200px;
}

.react-calendar__month-view__days {
    background-color: #EFEFEF;
  button {
    border: none !important;
    height: 50px !important;
    width: 50px !important;
  }
}

.react-calendar__month-view__days__day--weekend {
  color: unset !important 
}

