input:focus {
  outline: none;
}

/* Color */
.text-c1 {
  color: #180065;
}

.bg-c1 {
  background-color: #180065;
}

.text-c1 {
  color: #180065;
}

.bg-h-c1 {
  background-color: #180065;
}

.bc-c1 {
  border-color: #180065;
}

.text-c2 {
  color: #fafafa;
}

.bg-c2 {
  background-color: #fafafa;
}

.text-c2 {
  color: #fafafa;
}

.bg-h-c2 {
  background-color: #fafafa;
}

.bc-c2 {
  border-color: #fafafa;
}

.text-c3 {
  color: #424242;
}

.bg-c3 {
  background-color: #424242;
}

.text-c3 {
  color: #424242;
}

.bg-h-c3 {
  background-color: #424242;
}

.bc-c3 {
  border-color: #424242;
}

.text-c4 {
  color: #6c6c6c;
}

.bg-c4 {
  background-color: #6c6c6c;
}

.text-c4 {
  color: #6c6c6c;
}

.bg-h-c4 {
  background-color: #6c6c6c;
}

.bc-c4 {
  border-color: #6c6c6c;
}

.text-black {
  color: #000 !important;
}

/* Font Size */
.fs-38 {
  font-size: 38px;
}

.fs-37 {
  font-size: 37px;
}

.fs-36 {
  font-size: 36px;
}

.fs-35 {
  font-size: 35px;
}

.fs-34 {
  font-size: 34px;
}

.fs-33 {
  font-size: 33px;
}

.fs-32 {
  font-size: 32px;
}

.fs-31 {
  font-size: 31px;
}

.fs-30 {
  font-size: 30px;
}

.fs-29 {
  font-size: 29px;
}

.fs-28 {
  font-size: 28px;
}

.fs-27 {
  font-size: 27px;
}

.fs-26 {
  font-size: 26px;
}

.fs-25 {
  font-size: 25px;
}

.fs-24 {
  font-size: 24px;
}

.fs-23 {
  font-size: 23px;
}

.fs-22 {
  font-size: 22px;
}

.fs-21 {
  font-size: 21px;
}

.fs-20 {
  font-size: 20px;
}

.fs-19 {
  font-size: 19px;
}

.fs-18 {
  font-size: 18px;
}

.fs-17 {
  font-size: 17px;
}

.fs-16 {
  font-size: 16px;
}

.fs-15 {
  font-size: 15px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.fs-12 {
  font-size: 12px;
}

.fs-11 {
  font-size: 11px;
}

.fs-10 {
  font-size: 10px;
}

.fs-9 {
  font-size: 9px;
}

.line-height-38 {
  line-height: 38px;
}

.line-height-37 {
  line-height: 37px;
}

.line-height-36 {
  line-height: 36px;
}

.line-height-35 {
  line-height: 35px;
}

.line-height-34 {
  line-height: 34px;
}

.line-height-33 {
  line-height: 33px;
}

.line-height-32 {
  line-height: 32px;
}

.line-height-31 {
  line-height: 31px;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-29 {
  line-height: 29px;
}

.line-height-28 {
  line-height: 28px;
}

.line-height-27 {
  line-height: 27px;
}

.line-height-26 {
  line-height: 26px;
}

.line-height-25 {
  line-height: 25px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-23 {
  line-height: 23px;
}

.line-height-22 {
  line-height: 22px;
}

.line-height-21 {
  line-height: 21px;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-19 {
  line-height: 19px;
}

.line-height-18 {
  line-height: 18px;
}

.line-height-17 {
  line-height: 17px;
}

.line-height-16 {
  line-height: 16px;
}

.line-height-15 {
  line-height: 15px;
}

.line-height-14 {
  line-height: 14px;
}

.line-height-13 {
  line-height: 13px;
}

.line-height-12 {
  line-height: 12px;
}

.line-height-11 {
  line-height: 11px;
}

.line-height-10 {
  line-height: 10px;
}

.line-height-9 {
  line-height: 9px;
}

/* Font-weight */
.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

/* Height */
.h-700 {
  height: 700;
}

.h-650 {
  height: 650;
}

.h-600 {
  height: 600;
}

.h-550 {
  height: 550;
}

.h-500 {
  height: 500;
}

.h-450 {
  height: 450;
}

.dd-wrapper {
  width: auto !important;
}

.dd-wrapper .dd-header {
  border-radius: 50px !important;
  border: 2px solid #bcbcbc !important;
  width: 310px !important;
}

.dd-wrapper .dd-header span {
  padding: 0.3em !important;
}

.dd-wrapper .dd-header span svg {
  color: #bcbcbc !important;
  width: auto !important;
}

.dd-wrapper .dd-header .dd-header-title {
  margin: 2px 20px !important;
  margin-right: 30px !important;
  text-align: left !important;
  line-height: 42px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  color: #898989 !important;
}

.dd-wrapper .dd-list .dd-scroll-list {
  height: auto !important;
  background-color: #fff !important;
  max-height: none !important;
  overflow-y: hidden !important;
}

.dd-wrapper .dd-list .dd-scroll-list .dd-list-item {
  text-align: left !important;
  letter-spacing: 0.2px !important;
  color: #898989 !important;
  line-height: 42px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
}

.dd-wrapper .dd-list .dd-scroll-list .dd-list-item:hover {
  background-color: #53bfd2 !important;
  color: #fff !important;
}

input:focus,
button:focus,
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
}

.cursor-pointer {
  cursor: pointer;
}

.outter_table_user {
  height: auto;
}

.outter_table_user .table_user {
  height: auto;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
}

.outter_table_user .table_user .table_inner_trainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0.5em 0 1em 0 !important;
  padding: 1.5em 1em 0 1em;
}

.outter_table_user .table_user .table_inner_trainer .table_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outter_table_user .table_user .table_inner_trainer .date_week {
  width: 230px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #898989;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.outter_table_user .table_user .table_inner_trainer select {
  width: 250px;
  padding: 0.5em 1em;
  border: 2px solid #898989;
  border-radius: 50px;
  height: 45px;
  font-family: Montserrat;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.outter_table_user .table_user .table_inner_trainer select:active {
  outline: none;
}

.outter_table_user .table_user .table_inner_trainer select:focus {
  outline: none;
}

.outter_table_user .table_header_txt {
  color: #898989;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.outter_table_user table {
  margin: 0 auto !important;
}

.outter_table_user table thead tr th {
  text-align: center !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  border: 2px solid #e6e6e6 !important;
  background-clip: padding-box;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  width: 100px;
  height: 100px !important;
}

.outter_table_user table thead tr th .table_header_number {
  color: #161616;
  letter-spacing: 1.2px;
  font-family: "Montserrat", sans-serif !important;
  font-size: 28px !important;
  font-weight: 600 !important;
  margin-bottom: 0.2em !important;
  position: relative;
  top: 10px;
}

.outter_table_user table thead tr th .table_header_txt {
  color: #898989;
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
}

.outter_table_user table tbody tr .user_time_slot {
  background: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  width: 130px !important;
  height: 70px !important;
  border: 2px solid #e6e6e6;
}

.outter_table_user table tbody tr td {
  width: 120px !important;
  height: 70px !important;
  font-family: "Montserrat", sans-serif !important;
  background: #dedede;
}

.schedular_slots_user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 20px;
  width: 100%;
  margin: 2em 0 3em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedular_slots_user .items_slots_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.schedular_slots_user .items_slots_user .item_slot1_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedular_slots_user .items_slots_user .item_slot1_user .indicator {
  width: 60px;
  height: 15px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  opacity: 1;
}

.schedular_slots_user .items_slots_user .item_slot1_user h5 {
  letter-spacing: 0.54px;
  color: #2c2c2c;
  text-transform: uppercase;
  margin: 0 1em;
  font-size: 14px;
  font-weight: 700;
  font-family: Montserrat;
}

.schedular_slots_user .items_slots_user .item_slot2_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedular_slots_user .items_slots_user .item_slot2_user .indicator2 {
  width: 60px;
  height: 15px;
  background: #dedede;
  opacity: 1;
}

.schedular_slots_user .items_slots_user .item_slot2_user h5 {
  letter-spacing: 0.54px;
  color: #2c2c2c;
  text-transform: uppercase;
  margin: 0 1em;
  font-size: 14px;
  font-weight: 700;
  font-family: Montserrat;
}

.schedular_slots_user .items_slots_user .item_slot3_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedular_slots_user .items_slots_user .item_slot3_user .indicator3 {
  width: 60px;
  height: 15px;
  background: #53bfd2;
  opacity: 1;
}

.schedular_slots_user .items_slots_user .item_slot3_user h5 {
  letter-spacing: 0.54px;
  color: #2c2c2c;
  text-transform: uppercase;
  margin: 0 0 0 1em;
  font-size: 14px;
  font-weight: 700;
  font-family: Montserrat;
}

.schedular_slots_user .items_slots_user .item_slot5_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedular_slots_user .items_slots_user .item_slot5_user a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.54px;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin: 0 0 0 1em;
  font-size: 15px !important;
  background-color: transparent !important;
  font-weight: 600 !important;
  font-family: Montserrat;
  font-style: italic !important;
  width: 350px !important;
  text-decoration: underline !important;
  color: #53bfd2 !important;
}

.event_wrapper_inner .submit_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 1em;
  width: 230px;
  text-decoration: none;
  height: 52px;
  background: #53bfd2;
  text-align: right;
  letter-spacing: 0.45px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.normal-btn {
  display: block;
  outline: none;
  background: #53bfd2;
  border: 0;
  height: 50px;
  margin: 1em 1em 2em 1em;
  text-decoration: none;
  padding: 0.2em 0.5em 0.2em 2em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.normal-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-btn {
  text-decoration: underline;
  letter-spacing: 0px;
  color: #53bfd2;
  opacity: 1;
  border: none;
  outline: none;
  font-style: italic;
  font-size: 15px;
  line-height: 42px;
  font-weight: 500;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

.disable-btn {
  opacity: 0.5;
  pointer-events: none;
}

.selected-data {
  background: #53bfd2;
  border: none;
}

select {
  border-radius: 50px;
  border: 2px solid #bcbcbc;
  -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
  outline: 0;
  background: white;
  max-height: 45px;
  min-height: 45px;
  width: 100%;
  padding: 0px 20px;
  font-size: 18px;
  background: url("../files/SVG/Drop Down 4.svg") 95% center no-repeat;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 500;
}

select option {
  color: black;
  border: 2px solid #bcbcbc;
}

select::-webkit-input-placeholder {
  color: #bcbcbc;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

select:-ms-input-placeholder {
  color: #bcbcbc;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

select::-ms-input-placeholder {
  color: #bcbcbc;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

select::placeholder {
  color: #bcbcbc;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.custom-dropdown {
  background: transparent;
  border: 0;
}

.custom-dropdown:hover, .custom-dropdown:focus, .custom-dropdown:active {
  background: transparent;
  border: 0;
  -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
}

.card_agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em 0 2em 0;
}

.card_agree input {
  padding: 1em;
  height: 20px;
  background-color: #53bfd2;
}

.card_agree label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 0 0 0 0.5em;
  color: #898989;
  text-align: left;
  letter-spacing: 0px;
  margin: 0;
  font-weight: 500;
  line-height: 42px;
  font-family: "Montserrat", sans-serif;
}

.card_agree label a {
  color: #53bfd2;
  padding-left: 0.2em;
  font-family: 800;
}
/*# sourceMappingURL=index.css.map */