$primary-color: #180065;
$primary-color-dark: #180065;
$light-gray: #d6d6d6;
$primary-bg: #180065;
$gold: #c89a32;
$orange: #f58d45;
$white: #fff;
$green: #27bf2f;
$green-18: #189c5c;
$black: #000;
$black-50: #565958;
$black-1c: #ebebeb;
$grey: #e8e4e4;
$ash-gray: #c4c4c4;
$grey-65: #656565;
$black-4D: #4d4d4d;
$light-blue50: #dff5fb;
$light-green50: #dff9e1;
$light-blue80: #dfedff;
$light-pink: #fee7e5;
$light-violet50: #d4dcf4;
$danger-light: #f38c8c;
$gray-6d: #6e6d6d;
$required: #fa5661;
$full-height: 100vh;
$border-c0: #c0c0c0;
$light-bg: #f8f9fa;
$pagination-bg: #aebfef;
$col-555555: #555555;
$col-3fc1e833: #3fc1e833;
$col-F7946A: #f7946a;
$col-3FC1E8: #3fc1e8;
$col-1C7F9D: #1c7f9d;
$col-FFBD80: #ffbd80;
$col-67B1FF: #67b1ff;
$col-99E59D: #99e59d;
$col-5DACFF: #5dacff;
$col-26BBD3: #26bbd3;
$col-0345CD: #0345cd;
$col-083E6D: #083e6d;
$col-A23633: #a23633;
$col-53201C: #53201c;
$col-3C9FBC: #3c9fbc;
$col-CC2B5A: #cc2b5a;

$black-5: rgba(46, 25, 25, 0.5);

$c2: #fafafa;
$c3: #424242;
$c4: #6c6c6c;

/* Color */
$myColors: (
  "c1": $primary-bg,
  "c2": $c2,
  "c3": $c3,
  "c4": $c4,
);

@each $name, $colors in $myColors {
  $index: index($myColors, $colors);
  .text-#{$name} {
    color: $colors;
  }
  .bg-#{$name} {
    background-color: $colors;
  }
  .text-#{$name} {
    color: $colors;
  }
  .bg-h-#{$name} {
    background-color: $colors;
  }
  .bc-#{$name} {
    border-color: $colors;
  }
}
