.big_container {
    width: 100%;
    margin: 7em 0;
    .experience_upper_container {
        opacity: 1;
        .heading {
            padding-bottom: 40px;
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-bold) var(--unnamed-font-size-45) /
                var(--unnamed-line-spacing-55)
                var(--unnamed-font-family-cormorant-garamond);
            letter-spacing: var(--unnamed-character-spacing--0-45);
            color: var(--unnamed-color-161616);
            text-align: center;
            font: normal normal bold 45px/55px Cormorant Garamond;
            letter-spacing: -0.45px;
            color: #161616;
            opacity: 1;
            @media screen and (max-width: 920px) {
                font: normal normal bold 25px/35px Cormorant Garamond;
            }
        }
    }

    .personal_container {
        display: grid;
        grid-template-columns: 35% 65%;
        grid-column-gap: 30px;
        width: 100%;
        align-items: flex-start;
        height: 500px;
        margin-top: 8em;

        padding: 0 2em !important;
        @media screen and (max-width: 1023px) {
            grid-template-columns: auto;
            height: auto;
        }
        .personal_trainer_description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .heading {
                padding-bottom: 15px;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-600) var(--unnamed-font-size-40) /
                    var(--unnamed-line-spacing-58)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-161616);
                text-align: left;
                font: normal normal 600 40px/58px Montserrat;
                letter-spacing: 0px;
                color: #161616;
                opacity: 1;
                @media screen and (max-width: 1023px) {
                    text-align: center;
                    font: normal normal 600 24px/38px Montserrat;
                }
            }
            .discription {
                padding-bottom: 30px;

                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-32)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0-27);
                color: var(--unnamed-color-2c2c2c);
                text-align: left;
                font: normal normal normal 18px/32px Montserrat;
                letter-spacing: 0.27px;
                color: #2c2c2c;
                opacity: 1;
                @media screen and (max-width: 1023px) {
                    text-align: center;
                    font: normal normal normal 14px/32px Montserrat;
                }
            }
        }
        .right_container {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-column-gap: 10px;
            height: 550px;
            @media screen and (max-width: 1023px) {
                grid-template-columns: auto;
                height: auto;
            }
        }
        .flex-contents {
            display: flex;
            align-items: center;
            // margin: 0 0em 1em 0;
            height: 100px;
            @media screen and (max-width: 1023px) {
                justify-content: space-between;
                padding: 0 1em;
            }
            .image img {
                width: 100px;
                height: 100px;
            }
            .discription {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-32)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0-3);
                color: var(--unnamed-color-2c2c2c);
                text-align: left;
                font: normal normal normal 20px/32px Montserrat;
                letter-spacing: 0.3px;
                color: #2c2c2c;
                opacity: 1;
                @media screen and (max-width: 1023px) {
                    font: normal normal normal 16px/22px Montserrat;
                    padding: 0 0 0 1em;
                }
            }
        }
    }
}
