.outter_container_AD {
    width: 100%;
    height: auto;
    h2 {
        margin-top: 1em;
        font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) var(--unnamed-font-size-45) /
            var(--unnamed-line-spacing-55)
            var(--unnamed-font-family-cormorant-garamond);
        letter-spacing: var(--unnamed-character-spacing--0-45);
        color: var(--unnamed-color-161616);
        text-align: left;
        font: normal normal bold 50px/55px Cormorant Garamond;
        letter-spacing: -0.45px;
        color: #161616;
        opacity: 1;
    }
    h3 {
        color: #242323;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 500;
    }
}

.admin {
    margin-top: 50px;
    height: 500px;
    overflow: auto;
    padding: 1rem;
    overflow-x: hidden;
    width: 100%;

    .tariner_info {
        display: flex;
        font-size: large;
        font-weight: bold;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 500;
        width: fit-content;
        font-size: small;
        justify-content: flex-start;
        width: 100%;

        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        align-items: center;
    }
    .trainer_info {
        display: flex;
        font-size: large;
        font-weight: bold;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 500;
        width: fit-content;
        font-size: small;
        justify-content: flex-start;
        width: 100%;
        overflow: auto;

        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        align-items: center;
    }
    .tariner_info_item_heading {
        color: #242323;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        margin-right: 2rem;
        margin-left: 2rem;
        display: flex;
        height: 50px;
        width: 200px;
        align-items: center;
        padding: 2rem;
        background-color: white;
        width: 100%;
    }
}

.tariner_info_item {
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    height: 50px;
    width: 200px;
    align-items: center;
    padding: 2rem;
}

.tariner_info_button {
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.tariner_info_button:hover {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #69b7d8;
    color: white;
    font-weight: bold;
}

.trainer_admin {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1em 0 2em 0;

    .views_trainer {
        width: 280px;
        height: 150px;
        background-color: #fff;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
            rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
            rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        p {
            color: #bcbcbc;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
            line-height: 10px;
        }
        h3 {
            color: #bcbcbc;
            font-family: Montserrat;
            font-size: 26px;
            font-weight: 700;
            span {
                color: #53bfd2;
                font-family: Montserrat;
                font-size: 35px;
                font-weight: 700;
            }
        }
    }
}

.custom-table{
    overflow: auto;
    display: block;
    table-layout: auto;
}