.content {
    width: 100%;
    height: auto;
    padding: 3em 4em;
    background: #f6f6f6 0% 0% no-repeat padding-box;
    .smallContainer {
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        padding: 1em;

        @media screen and (max-width: 920px) {
            grid-template-columns: auto;
            height: auto;
        }

        .personal {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 90%;
            @media screen and (max-width: 920px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .personal_img {
                img {
                    width: 110px;
                    height: 110px;
                }
            }

            .personal_heading {
                padding: 10px 0;
                text-align: left;
                letter-spacing: 0px;
                color: #222222;
                opacity: 1;
                font-size: 20px;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
                letter-spacing: 0.2px;

                @media screen and (max-width: 1150px) and (min-width: 920px) {
                    height: 100px;
                }
                @media screen and (max-width: 920px) {
                    padding: 20px 0;
                    text-align: center;
                    font: normal normal 600 18px Montserrat;
                }
            }
            .personal_description {
                word-wrap: break-word;
                text-align: left;
                letter-spacing: 0.27px;
                color: #696969;
                opacity: 1;
                font-size: 18px;
                font-weight: 400;
                font-family: "Montserrat", sans-serif;
                @media screen and (max-width: 920px) {
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0 1em;
                    text-align: center;
                }
            }
        }
    }
}
