.container {
    // top: 975px;
    left: 0px;
    width: 100%;
    // min-width: 1400px;
    // max-width: 1920px;
    height: 493px;
    // background: var(--unnamed-color-f6f6f6) 0% 0% no-repeat padding-box;

    background: #f6f6f6 0% 0% no-repeat padding-box;
    .smallContainer {
        display: flex;
        justify-content: space-evenly;
        margin: 100px 0;

        .personal {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 50vh;

            .personal_heading {
                padding-top: 30px;
                padding-bottom: 10px;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-600) var(--unnamed-font-size-22) /
                    var(--unnamed-line-spacing-34)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-222222);
                text-align: left;
                font: normal normal 600 22px/34px Montserrat;
                letter-spacing: 0px;
                color: #222222;
                opacity: 1;
            }
            .personal_description {
                word-wrap: break-word;
                top: 1283px;
                left: 298px;
                width: 365px;
                height: 86px;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-30)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0-27);
                text-align: left;
                font: normal normal normal 18px/30px Montserrat;
                letter-spacing: 0.27px;
                color: #696969;
                opacity: 1;
            }
        }

        .socialSession {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .social_heading {
                padding-top: 30px;
                padding-bottom: 10px;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-600) var(--unnamed-font-size-22) /
                    var(--unnamed-line-spacing-34)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-222222);
                text-align: left;
                font: normal normal 600 22px/34px Montserrat;
                letter-spacing: 0px;
                color: #222222;
                opacity: 1;
            }

            .social_description {
                word-wrap: break-word;
                top: 1283px;
                left: 298px;
                width: 365px;
                height: 86px;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-30)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0-27);
                text-align: left;
                font: normal normal normal 18px/30px Montserrat;
                letter-spacing: 0.27px;
                color: #696969;
                opacity: 1;
            }
        }

        .classSession {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 50vh;
            .class_heading {
                padding-top: 30px;
                padding-bottom: 10px;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-600) var(--unnamed-font-size-22) /
                    var(--unnamed-line-spacing-34)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-222222);
                text-align: left;
                font: normal normal 600 22px/34px Montserrat;
                letter-spacing: 0px;
                color: #222222;
                opacity: 1;
            }
            .class_description {
                word-wrap: break-word;
                top: 1283px;
                left: 298px;
                width: 365px;
                height: 86px;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-30)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0-27);
                text-align: left;
                font: normal normal normal 18px/30px Montserrat;
                letter-spacing: 0.27px;
                color: #696969;
                opacity: 1;
            }
        }
    }
}
