  .user_notify_outter_container {
    height: unset;
    margin-bottom: 200px;

    background: #f6f6f6;

    .user_notify_inner_container {
      padding: 1em 5em;
      .notify_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        u
        {
          color: #53BFD2;
          font-weight: 500;
          font-style: italic;
          cursor: pointer;
        }
        h2 {
          text-align: left;
          letter-spacing: 0px;
          color: #161616;
          font-size: 40px;
          line-height: 58px;
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
        }
      }
      .notify_wrapper {
        .rwt__tab {
          padding: 1em 1em 0 0;
          margin: 0 3em 1em 0;
          text-align: center;
          letter-spacing: 0.9px;
          color: #161616;
          text-transform: uppercase;
          font-size: 18px;
          line-height: 22px;
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
        }
        .rwt__tab[aria-selected="true"]:after {
          width: 80%;
          border-bottom: 3px solid #53bfd2;
        }
        .rwt__tablist:not([aria-orientation="vertical"]) {
          border-bottom: none;
        }
        .tabPanel_outter {
          .notify_box_container {
            height: 800px;
            overflow: auto;
            .notify_box {
              width: 95%;
              height: 189px;

              background: #ffffff;
              box-shadow: 0px 3px 12px #16161608;
              border-radius: 20px;
              opacity: 1;
              margin-top: 3em;

              .closeIcon {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                img {
                  position: relative;
                  top: 20px;
                  right: 35px;
                  width: 13px;
                  height: 13px;
                }
              }
              .notify_inner_box {
                display: flex;
                align-items: center;

                padding: 2em;
                margin-right: 1em;
                .notify_profile {
                  img {
                    position: relative;
                    top: -15px;
                    width: 82px;
                    height: 82px;
                  }
                }
                .notify_message {
                  display: flex;
                  flex-direction: column;
                  margin-left: 2em;
                  h6 {
                    text-align: left;
                    letter-spacing: 0px;
                    color: #2c2c2c;
                    font-size: 20px;
                    line-height: 32px;
                    font-weight: normal;
                    font-family: "Montserrat", sans-serif;
                    span {
                      text-align: left;
                      text-decoration: underline;
                      letter-spacing: 0px;
                      color: #53bfd2;
                      font-size: 20px;
                      line-height: 32px;
                      font-weight: normal;
                      font-family: "Montserrat", sans-serif;
                    }
                  }
                  .notify_time {
                    display: flex;
                    align-items: center;
                    margin-top: 1em;
                    img {
                      width: 17px;
                      height: 17px;
                    }
                    p {
                      text-align: left;
                      letter-spacing: 0px;
                      font-size: 15px;
                      font-weight: 500;
                      font-family: Montserrat;
                      color: #898989;
                      padding: 0;
                      margin: 0 0 0 1em;
                    }
                  }
                }
              }
            }
          }
          button {
            display: flex;
            align-items: center;

            text-align: right;
            letter-spacing: 0.45px;
            color: #161616;
            text-transform: uppercase;
            border: none;
            margin: 2em 0;
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .user_notify_outter_container {
      .user_notify_inner_container {
        // display: none;
        padding: 0px;
        .notify_header
        {
          margin-top: 100px;
          display: flex;
          align-items: center;

          h2
          {
            font-size: 25px;
          }

          u{
            font-size: 14px;
          }
        }
      }
    }
  }

  .notification_card {
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    padding: 1rem;

    .mark_as_read
    {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem;
      cursor: pointer;
    }

    .notification_card_noti
    {
      display: flex;
      align-items: center;
    }

    .noti_content {
      margin-left: 2rem;
      .noti_msg {
        color: #2c2c2c;
        font-size: 20px;
        margin-bottom: 20px;

        @media only screen and (max-width: 900px) {
          font-size: unset;
        }
      }
    }

    .noti_img {
      border-radius: 82px;
      object-fit: cover;
      margin-left: 1rem;
      height: 82px;
      width: 82px;
      @media only screen and (max-width: 900px) {
        height: 52px;
        width: 52px;
      }
    }

    .noti_time {
      display: flex;
      align-items: center;
      color: #898989;
      font-weight: 500;
      @media only screen and (max-width: 900px) {
      font-size: 14px;
      }
      .avail_img {
        margin-right: 5px;
      }
    }
  }

  .no_noti
  {
    margin-top: 2rem;
  }
