.user-avatar-pic {
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  //   padding-bottom: 4px;
  text-transform: uppercase;

  &.background-blue {
    background: #2196f3;
  }
  &.background-red {
    background: #f44336;
  }
  &.background-green {
    background: #4caf50;
  }
  &.background-brown {
    background: #795548;
  }
  &.background-orange {
    background: #ff9800;
  }
}
