.outter_container_AD {
    width: 100%;
    height: 900px;
    h2 {
        margin-top: 1em;
        font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) var(--unnamed-font-size-45) /
            var(--unnamed-line-spacing-55)
            var(--unnamed-font-family-cormorant-garamond);
        letter-spacing: var(--unnamed-character-spacing--0-45);
        color: var(--unnamed-color-161616);
        text-align: left;
        font: normal normal bold 50px/55px Cormorant Garamond;
        letter-spacing: -0.45px;
        color: #161616;
        opacity: 1;
    }
    h3 {
        color: #242323;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 500;
    }
    .inner_AD {
        .wrapper_AD {
            .AD_views {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: auto;
                grid-column-gap: 2%;
                margin: 1em 0;
                .views_AD {
                    width: 100%;
                    height: 150px;
                    background-color: #fff;
                    margin: 1em 0;
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
                        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
                        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
                    p {
                        color: #bcbcbc;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 700;
                        margin: 0;
                        line-height: 10px;
                    }
                    h3 {
                        color: #bcbcbc;
                        font-family: Montserrat;
                        font-size: 22px;
                        font-weight: 700;
                        span {
                            color: #53bfd2;
                            font-family: Montserrat;
                            font-size: 35px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
