.footer_container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    @media screen and (max-width: 1023px) {
        width: 100%;
    }

    footer {
        height: 300px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        background-color: #161616;

        @media screen and (max-width: 1023px) {
            width: 100%;
            flex-wrap: wrap;
        }
        .footer_outter {
            width: 100%;
            .footer_main {
                display: grid;
                grid-template-columns: 30% auto;
                grid-template-rows: auto;

                align-items: flex-end;
                padding: 0 0em 0 1em;
                @media screen and (max-width: 1023px) {
                    grid-template-columns: auto;
                }

                .footer_left {
                    display: flex;
                    justify-content: center;
                    height: 300px;
                    align-items: center;
                    background-color: #161616;
                    @media screen and (max-width: 1023px) {
                        height: 300px;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                    }

                    .footer_left_items {
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        padding-left: 55px;

                        @media screen and (max-width: 1023px) {
                            width: 100%;
                            flex-direction: column;
                            align-items: center;
                        }
                        p {
                            text-align: left !important;
                            letter-spacing: 0px;
                            color: #ffffff;
                            display: flex;
                            line-height: 54px;
                            font-size: 22px;
                            font-weight: normal;
                            font-family: "Montserrat", sans-serif;

                            @media screen and (max-width: 1023px) {
                                width: 100%;
                                flex-direction: column;
                                padding: 0 !important;
                                align-items: center;
                                text-align: center !important;
                                margin: 3em 0 2em 0;
                            }
                        }
                        .footer_socialIcons {
                            .footer_social {
                                display: flex;
                                list-style-type: none;
                                margin: 0;
                                width: 100%;
                                padding: 0;
                                @media screen and (max-width: 1023px) {
                                    padding: 0;
                                    margin: 0 0 5em 0;
                                    z-index: 0;
                                    width: 100%;
                                }

                                li {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: 100%;
                                    a {
                                        font-size: 40px !important;
                                        color: #53bfd2;
                                        svg {
                                            width: 23px;
                                            height: 24px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .footer_right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: #2c2c2c;
                    height: 380px;

                    width: 100%;
                    margin: 0;
                    clip-path: polygon(
                        100% -800%,
                        100% 100%,
                        100% 100%,
                        0% 100%
                    );
                    @media screen and (max-width: 1023px) {
                        width: 100%;
                        height: 700px;
                        background: #000
                            url("../../../assets/files/SVG/Grey BG.png")
                            no-repeat;
                        background-size: cover;
                        z-index: 0;
                        clip-path: none;
                        // display: none;
                    }

                    .footer_right_inner {
                        padding: 0 3em 0 8em;

                        @media screen and (max-width: 1023px) {
                            margin: 0 auto;
                        }
                        .right_wrapper {
                            margin: 0 2em;
                            .logo_contents {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin: 2em 0;
                                position: relative;
                                @media screen and (max-width: 1023px) {
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                }
                                a {
                                    text-align: left;

                                    letter-spacing: 0px;
                                    color: #53bfd2;
                                    text-decoration: none;
                                    line-height: 24px;
                                    font-size: 17px;
                                    font-weight: normal;
                                    font-family: "Montserrat", sans-serif;
                                }
                            }
                            .footer_links {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin: 1em 0;
                                padding: 0;

                                list-style-type: none;
                                @media screen and (max-width: 1023px) {
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                }
                                li {
                                    a {
                                        font-weight: 200;
                                        font-size: 25px;
                                        font-family: Montserrat;
                                        letter-spacing: 0px;
                                        color: #ffffff;
                                        text-transform: lowercase;
                                        opacity: 1;
                                        text-decoration: none;
                                        @media screen and (max-width: 1023px) {
                                            margin: 0.5em 0;
                                        }
                                    }
                                }
                            }
                            hr {
                                background-color: #454545;
                                position: relative;
                                padding: 0.1em 0;
                                margin: 2em 0;
                                top: 20px;
                                @media screen and (max-width: 1023px) {
                                    display: none;
                                }
                            }
                        }
                        .footer_contents {
                            margin: 0.5em 2em;

                            display: flex;
                            justify-content: space-between;
                            @media screen and (max-width: 1023px) {
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                            }
                            .footer_policy {
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                @media screen and (max-width: 1023px) {
                                    flex-direction: column-reverse;
                                    align-items: center;
                                    justify-content: center;
                                }

                                p {
                                    text-align: left;
                                    letter-spacing: 0px;
                                    color: #898989;
                                    opacity: 1;
                                    text-transform: uppercase;
                                    line-height: 27px;
                                    font-size: 12px;
                                    font-weight: normal;
                                    font-family: "Montserrat", sans-serif;
                                    @media screen and (max-width: 1023px) {
                                        text-align: center;
                                    }

                                    span,
                                    a {
                                        display: inline;
                                        text-decoration: none;
                                        color: #898989;
                                        text-transform: none;

                                        @media screen and (max-width: 1023px) {
                                            text-align: center;
                                            display: flex;
                                            justify-content: center;
                                            color: #898989;
                                            text-decoration: none;
                                            padding: 0 0.5em;
                                        }

                                        a {
                                            @media screen and (max-width: 1023px) {
                                                margin-left: 0.3em;
                                            }
                                        }
                                    }
                                }
                                .footer_privacy {
                                    @media screen and (max-width: 1023px) {
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                    .footer_privacy_ul {
                                        display: flex;
                                        list-style-type: none;
                                        padding: 0;
                                        @media screen and (max-width: 1023px) {
                                            padding: 0;
                                            margin: 0 0 1.5em 0;
                                        }

                                        li {
                                            margin: 0 1em;
                                            text-align: right;
                                            letter-spacing: 0px;
                                            color: #898989;
                                            line-height: 27px;
                                            font-size: 14px;
                                            font-weight: normal;
                                            font-family: "Montserrat",
                                                sans-serif;
                                            @media screen and (max-width: 1023px) {
                                                text-align: center;
                                                margin: 0 auto;
                                            }
                                            a {
                                                display: inline;
                                                text-decoration: none;
                                                color: #898989;
                                                font-size: 12px;
                                                font-family: "Montserrat",
                                                    sans-serif;
                                            }
                                        }
                                        img {
                                            @media screen and (max-width: 1023px) {
                                                padding: 0 0.6em;
                                            }
                                        }
                                    }
                                    .hr_mobile {
                                        @media screen and (max-width: 1023px) {
                                            background-color: #454545;
                                            height: 2px;
                                            width: 100%;
                                            position: relative;
                                            margin: 0 0 0.5em 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
