@import "../../../../assets/scss/abstracts/abstracts";

.main_message_container {
  background-color: #f6f6f6;
  padding: 1em;
  height: auto;

  .message_outter_container {
    width: 100%;
    height: 100vh;
    padding: 0 4em;
    @media only screen and (max-width: 900px) {
      padding: 0px;
    }

    h2 {
      text-align: left;
      letter-spacing: 0px;
      color: #161616;
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      font-weight: 600;
      line-height: 58px;
    }

    .message_inner {
      height: 500px;
      margin: 2em 0 0 0;
      .message_wrapper {
        .rwt__tab {
          text-align: center;
          letter-spacing: 0.9px;
          color: #161616;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
        }
        button {
          padding: 0.5em 0.6em 0.5em 0;
          margin: 0 1em 0 0;
        }

        .transparent-btn {
          padding: 0;
          border: 0;
          background: transparent;

          .arrow_container_blue {
            pointer-events: none;
          }
        }
        .message_inner {
          .message_inner_one {
            background-color: white;
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: auto;
            // height: 500px;
            margin: 4em 0em;
            border-radius: 20px;
          
            .message_left::-webkit-scrollbar-track {
              //-webkit-box-shadow: inset 0 0 6px #F6F6F6;
              //background-color: #f5f5f5;
            }

            .message_left::-webkit-scrollbar {
              width: 5px;
              //background-color: #f5f5f5;
            }

            .message_left::-webkit-scrollbar-thumb {
              background-color: #b8b8b8;
              //border: 1px solid #555555;
            }

            .message_left {
              // -moz-box-shadow: 0 5px 0 0 #e9e9e9;
              // -webkit-box-shadow: 0 5px 0 0 #e9e9e9;
              // box-shadow: 0 5px 0 0 #e9e9e9;

              height: 550px;
              overflow-y: auto;

              background-color: #ffffff;
              border-radius: 20px 0px 0px 20px;

              .contact_item {
                text-decoration: none;
                cursor: pointer;
                user-select: none;

                .inner_link {
                  //border-radius: 20px 0 0px 0px;
                  display: flex;
                  align-items: center;
                  padding: 2rem;

                  width: 100%;
                  height: 100px;
                  border-bottom: 2px solid #e6e6e6;

                  background-color: rgb(255, 255, 255);
                  transition: 0.2s ease;

                  &:hover {
                    background-color: rgb(224, 224, 224);
                  }
                  img {
                    width: 66px;
                    height: 66px;
                    opacity: 1;
                    border-radius: 50px;
                  }
                  .message_link_notify {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    margin-left: 0.5em;
                    padding: 1em 0.2em;
                    position: relative;
                    width: 100%;

                    h3 {
                      text-align: left;
                      letter-spacing: 0px;
                      color: #161616;
                      opacity: 1;
                      margin: 0;
                      padding: 0;
                      font-family: "Montserrat", sans-serif;
                      font-size: 16px;
                      font-weight: 600;
                      line-height: 20px;
                    }
                    h6 {
                      text-align: left;
                      letter-spacing: 0px;
                      color: #2c2c2c;
                      font-family: "Montserrat", sans-serif;
                      font-size: 12px;
                      font-weight: normal;
                      line-height: 20px;
                    }

                    span {
                      position: absolute;
                      font-size: 8px;
                      color: #898989;
                      top: 0;
                      right: 0;
                    }
                    p {
                      font-size: 12px;
                      color: #2c2c2c;
                      margin-bottom: 0;
                      min-height: 53px;
                      max-height: 53px;
                    }
                  }

                  .message_link_notify_mobile {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    margin-left: 0.5em;
                    padding: 1em 0.2em;
                    position: relative;
                    width: 100%;

                    h3 {
                      text-align: left;
                      letter-spacing: 0px;
                      color: #161616;
                      opacity: 1;
                      margin: 0;
                      padding: 0;
                      font-family: "Montserrat", sans-serif;
                      font-size: 16px;
                      font-weight: 600;
                      line-height: 20px;
                    }
                    h6 {
                      text-align: left;
                      letter-spacing: 0px;
                      color: #2c2c2c;
                      font-family: "Montserrat", sans-serif;
                      font-size: 12px;
                      font-weight: normal;
                      line-height: 20px;
                    }

                    span {
                      position: absolute;
                      font-size: 8px;
                      color: #898989;
                      top: 0;
                      right: 0;
                    }
                    p {
                      font-size: 12px;
                      color: #2c2c2c;
                      margin-bottom: 0;
                      min-height: 53px;
                      max-height: 53px;
                    }
                  }
                }
              }
            }

            .message_right {
              height: 550px;
              @media only screen and (max-width: 900px) {
                display: none;
              }

              .message_right_chatarea {
                border-left: 3px solid #f6f6f6;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 550px;
                .message_right_header {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  padding: 0.5em;
                  background-color: #ffffff;
                  -moz-box-shadow: 3px 3px 5px 6px #ccc;
                  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
                  box-shadow: 0px 10px 0px 0px rgb(238, 173, 173);
                  h2 {
                    text-align: center;
                    letter-spacing: 0px;
                    color: #161616;
                    opacity: 1;
                    margin: 0;
                    padding: 0;
                    font-family: "Montserrat", sans-serif;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 58px;
                  }
                  .message_header_times {
                    display: flex;
                    align-items: center;
                    .message_header_items {
                      display: flex;
                      align-items: center;
                      h5 {
                        text-align: left;
                        letter-spacing: 0px;
                        color: #898989;
                        opacity: 1;
                        margin: 0 1em 0 0.5em;
                        padding: 0;
                        font-family: "Montserrat", sans-serif;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 42px;
                      }
                    }
                  }
                }
                .message_right_textarea {
                  width: 100%;
                  height: 100%;
                  background-color: #fff;
                  padding: 1em;
                  overflow: auto;
                  .message_chat_right {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-end;
                    img {
                      width: 40px;
                      height: 40px;
                    }
                    .message_text {
                      top: 0px;
                      position: relative;
                      right: 20px;
                      margin: 0.5em;
                      width: 325px;
                      height: auto;

                      background: #efefef 0% 0% no-repeat padding-box;
                      opacity: 1;
                      h5 {
                        // width: 272px;
                        text-align: left;
                        color: #2c2c2c;
                        padding: 1em;
                        font-family: "Montserrat", sans-serif;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 20px;
                      }
                    }
                  }
                  .message_chat_left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    img {
                      width: 40px;
                      height: 40px;
                    }
                    .message_text {
                      top: 0px;
                      position: relative;
                      left: 20px;
                      margin: 0.5em;
                      width: 325px;
                      height: auto;

                      background: #f8f8f8 0% 0% no-repeat padding-box;
                      opacity: 1;
                      h5 {
                        width: 272px;
                        text-align: left;
                        letter-spacing: 0px;
                        color: #2c2c2c;
                        padding: 1em;
                        font-family: "Montserrat", sans-serif;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 20px;
                      }
                    }
                  }
                }

                .submit-btn-block {
                  background: #fff;
                  height: 100%;
                  display: flex;
                  align-items: center;
                }
                .message_right_input {
                  width: 100%;
                  height: 50px;
                  display: flex;
                  align-items: center;

                  background-color: rgb(248, 248, 248);
                  input {
                    width: 100%;
                    height: 50px;
                    border: none;
                    padding-left: 2rem;
                  }
                  input::placeholder {
                    text-align: left;
                    letter-spacing: 0px;
                    color: #898989;
                    font-style: italic;
                    font-family: "Montserrat", sans-serif;
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 30px;
                  }
                }
              }
            }
          }

          @include media-breakpoint-mobile-land {
            .message_inner_one {
              display: block;
            }
          }
        }
      }
    }
  }
}

.rwt__tablist:not([aria-orientation="vertical"]) {
  border: 0;
}

.msg-time {
  position: absolute;
  font-size: 10px;
  color: #2c2c2c;
  bottom: 4px;
  right: 15px;
}

.info-badge {
  background: #ddd;
  border-radius: 10px;
  padding: 0px 0.6rem;
}
