.banner_container_trainer {
    width: 100%;
    height: 800px;
    background: url("../../../assets/files/TrainerSignUp/Banner Image.png"),
        linear-gradient(0deg, #ffffff00 0%, #38222159 51%, #2b1514a7 100%) 0% 0% no-repeat padding-box;
    background-size: 100%;
    opacity: 0s;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    .wrapper_main {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: auto;
        align-items: center;
        @media screen and (max-width: 1023px) {
            grid-template-columns: auto;
        }

        .item_left {
            text-align: left;
            width: 60%;
            position: relative;
            top: -80px;
            @media screen and (max-width: 1023px) {
                margin: 0 auto;
                text-align: center;
                padding: 2em 0;
            }
            h2 {
                width: 539px;
                height: 147px;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 60px/75px
                    var(--unnamed-font-family-cormorant-garamond);
                color: var(--unnamed-color-ffffff);
                text-align: left;
                font: normal normal 600 60px/75px Cormorant Garamond;
                letter-spacing: -1.2px;
                color: #ffffff;
                text-shadow: 0px 3px 6px #624123;
                opacity: 1;
            }
            h6 {
                width: 500px;
                height: 61px;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium)
                    var(--unnamed-font-size-20) / 35px var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0-3);
                color: var(--unnamed-color-ffffff);
                text-align: left;
                font: normal normal medium 20px/35px Montserrat;
                letter-spacing: 0.3px;
                color: #ffffff;
                text-shadow: 0px 3px 6px #62412329;
                opacity: 1;
            }
        }
        .item_right {
            background-color: #fff;
            height: 50vh;
            margin: 0 2em;
            text-align: center;
        }
    }
    .wrapper {
        margin: 3em 0 2em 0;

        @media screen and (max-width: 1023px) {
            width: 80%;
            margin: 0.5em 2em;
            height: auto;
            margin: 0 auto;
        }
        .item_right {
            border-radius: 10px;
            width: 530px;
            height: auto;
            background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
            background: #ffffff 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 12px #16161626;
            opacity: 1;
            .inner_items {
                margin: 0.5em;
                padding: 2em 0 0 0;

                h3 {
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
                        var(--unnamed-font-size-45) / var(--unnamed-line-spacing-55)
                        var(--unnamed-font-family-cormorant-garamond);
                    letter-spacing: var(--unnamed-character-spacing--0-45);
                    color: var(--unnamed-color-161616);
                    text-align: center;
                    font: normal normal bold 45px/55px Cormorant Garamond;
                    letter-spacing: -0.45px;
                    color: #161616;
                }
                p {
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal)
                        var(--unnamed-font-size-18) / var(--unnamed-line-spacing-32)
                        var(--unnamed-font-family-montserrat);
                    letter-spacing: var(--unnamed-character-spacing-0-27);
                    color: var(--unnamed-color-2c2c2c);
                    text-align: center;
                    font: normal normal normal 18px/32px Montserrat;
                    letter-spacing: 0.27px;
                    color: #2c2c2c;
                }
            }
            .form_items {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 100%;

                .input_items {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    padding: 0.5em 0;
                    width: 80%;

                    input {
                        width: 425px;
                        height: 45px;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                        padding: 0 1.5em;
                    }
                    input:focus {
                        outline: none;
                    }
                    input::placeholder {
                        font-family: Montserrat;
                        font-size: 18px;
                    }

                    img {
                        position: absolute;
                        right: -50px;
                        margin: 0 auto;
                        padding: 0.8em 0 0.8em 1em;
                    }
                    span {
                        font-size: 10px;
                        padding: 0em 1em 0 1em;
                        text-align: left !important;
                        color: red;
                        font-weight: bold;
                    }
                }

                .or_items {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    padding: 1em 3em;

                    p {
                        margin: 0;
                        padding: 0 1em;
                        text-transform: uppercase;
                    }

                    .hr_line {
                        background-color: #bcbcbc;
                        height: 1px;
                        width: 120px;
                    }
                }
                .submit_button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 1.5em 0 0 0;
                    width: 100%;

                    button {
                        outline: none;
                        border: 0;
                        padding: 0.2em 0.5em !important;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: bold !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 425px;
                        height: 52px;
                        background: var(--unnamed-color-53bfd2) 0% 0% no-repeat padding-box;
                        background: #53bfd2 0% 0% no-repeat padding-box;
                        opacity: 1;

                        p {
                            text-align: center;
                            padding: 0 0.5em 0 0.5em;
                            display: flex;
                            margin: 0;
                            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
                                var(--unnamed-font-size-18) / var(--unnamed-line-spacing-22)
                                var(--unnamed-font-family-montserrat);
                            color: var(--unnamed-color-161616);
                            text-align: right;
                            font: normal normal bold 18px/22px Montserrat;
                            letter-spacing: 0.45px;
                            color: #161616;
                            text-transform: uppercase;
                            opacity: 1;

                            align-items: center;
                            @media screen and (max-width: 1125px) {
                                font-size: 10px;
                            }
                        }
                        img {
                            width: auto;
                            margin-left: 1em;
                            @media screen and (max-width: 1125px) {
                                width: 20px;
                            }
                        }
                    }
                }
                .errorMessage {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    font-size: 10px;
                    padding: 0em 1em 0 1em;
                    text-align: left !important;
                    color: red;
                    font-weight: bold;
                }
            }
            .login_items {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h4 {
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-500)
                        var(--unnamed-font-size-22) / var(--unnamed-line-spacing-38)
                        var(--unnamed-font-family-montserrat);
                    font: normal normal 800 22px/38px Montserrat;
                    margin: 2em 0 0 0;
                }
                a {
                    text-decoration: none;
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
                        var(--unnamed-font-size-18) / var(--unnamed-line-spacing-22)
                        var(--unnamed-font-family-montserrat);
                    color: var(--unnamed-color-161616);
                    font: normal normal bold 18px/22px Montserrat;
                    letter-spacing: 0.45px;
                    color: #161616 !important;
                    text-transform: uppercase;
                    opacity: 1;
                    margin-bottom: 3em;
                }
            }
        }
    }
}
