.banner_container_trainer {
    width: 100%;
    height: 825px;
    background: url("../../../assets/files/TrainerSignUp/Banner Image.png"),
        linear-gradient(0deg, #ffffff00 0%, #38222159 51%, #2b1514a7 100%) 0% 0%
            no-repeat padding-box;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-blend-mode: multiply;
    @media screen and (max-width: 1023px) {
        height: auto;
    }

    .wrapper_main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1023px) {
            flex-wrap: wrap;
        }

        .item_left {
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            width: 100%;

            h2 {
                text-align: left;
                letter-spacing: -1.2px;
                color: #ffffff;
                text-shadow: 0px 3px 6px #624123;
                font-size: 60px;
                line-height: 75px;
                font-weight: 600;
                font-family: "Cormorant Garamond", sans-serif;
            }
            h6 {
                text-align: left;
                letter-spacing: 0.3px;
                color: #ffffff;
                text-shadow: 0px 3px 6px #62412329;
                font-size: 20px;
                line-height: 35px;
                font-weight: 500;
                font-family: "Montserrat", sans-serif;
            }
        }
        @media screen and (max-width: 1023px) {
            .item_left {
                padding: 2em 0;
                width: 100%;
                margin: 0 2em;
                h2 {
                    width: 100%;
                    line-height: 55px;
                    font-size: 50px;
                }
            }
        }
        @media only screen and (min-width: 100px) and (max-width: 765px) {
            .item_left {
                h2 {
                    line-height: 55px;
                    font-size: 48px;
                }
                h6 {
                    font-size: 18px;
                }
            }
        }

        .wrapper {
            margin: 0 auto;
            .item_right {
                background-color: #fff;
                height: 50vh;
                margin: 0 2em;
                text-align: center;
            }
            .item_right {
                border-radius: 10px;
                width: 570px;

                height: 770px;

                background: #ffffff;
                box-shadow: 0px 3px 12px #16161626;
                opacity: 1;
                .inner_items {
                    margin: 4.5em;
                    padding: 4.5em 0 0 0;

                    h3 {
                        text-align: center;
                        letter-spacing: -0.45px;
                        color: #161616;
                        font-size: 45px;
                        line-height: 55px;
                        font-weight: bold;
                        font-family: "Cormorant Garamond", sans-serif;
                    }
                    p {
                        text-align: center;
                        letter-spacing: 0.27px;
                        color: #2c2c2c;
                        font-size: 18px;
                        line-height: 32px;
                        font-weight: normal;
                        font-family: "Montserrat", sans-serif;
                    }
                }
                .form_items_trainer {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    color: #242424;
                    form {
                        width: 100%;
                        .input_items_trainer {
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            padding: 0.5em 0;
                            width: 100%;
                            color: #242424;
                            margin: 0 auto;
                            .react-tel-input .flag-dropdown {
                                background: transparent;
                                border: none;
                                .arrow {
                                    display: none;
                                }
                            }
                            .fullname {
                                width: 100%;
                                height: 45px;

                                border: 2px solid #bcbcbc;
                                border-radius: 30px;
                                opacity: 1;
                                padding: 0 1.5em;
                                color: #242424;
                                font-family: "Montserrat", sans-serif;
                                font-size: 18px;
                                font-weight: 500 !important;
                                text-rendering: optimizeLegibility !important;
                                text-transform: capitalize;
                            }
                            input:focus {
                                outline: none;
                                font-family: "Montserrat", sans-serif;
                                font-size: 18px;
                                font-weight: 400 !important;
                            }
                            input::placeholder {
                                font-family: "Montserrat", sans-serif;
                                font-size: 18px;
                                color: #bcbcbc;
                                font-weight: 400 !important;
                            }

                            input {
                                width: 100%;
                                height: 45px;

                                border: 2px solid #bcbcbc;
                                border-radius: 30px;
                                opacity: 1;
                                padding: 0 1.5em;
                                color: #242424;
                                font-family: "Montserrat", sans-serif;
                                font-size: 18px;
                                font-weight: 500 !important;
                                text-rendering: optimizeLegibility !important;
                            }
                            input:focus {
                                outline: none;
                                font-family: "Montserrat", sans-serif;
                                font-size: 18px;
                                font-weight: 400 !important;
                            }
                            input::placeholder {
                                font-family: "Montserrat", sans-serif;
                                font-size: 18px;
                                color: #bcbcbc;
                                font-weight: 400 !important;
                            }

                            img {
                                position: absolute;
                                right: 17px;
                                margin: 0 auto;
                                padding: 0.8em 0 0.8em 1em;
                            }
                            span {
                                font-size: 10px;
                                padding: 0em 1em 0 1em;
                                text-align: left !important;
                                color: rgb(255, 31, 31);
                                font-weight: bold;
                                font-family: Montserrat;
                                text-rendering: optimizeLegibility !important;
                            }
                        }
                    }

                    .or_items {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        padding: 1em 3em;

                        p {
                            margin: 0;
                            padding: 0 1em;
                            text-transform: uppercase;
                        }

                        .hr_line {
                            background-color: #bcbcbc;
                            height: 1px;
                            width: 120px;
                        }
                    }
                    .submit_button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 1.5em 0 0 0;
                        width: 100%;

                        button {
                            outline: none;
                            border: 0;
                            padding: 0.2em 0.5em !important;
                            text-decoration: none;
                            text-transform: uppercase;
                            color: #fff;
                            font-weight: bold !important;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 425px;
                            height: 52px;
                            font-family: "Montserrat", sans-serif;
                            font-size: 18px;
                            line-height: 22px;
                            font-weight: bold;
                            background: rgb(83, 191, 210);
                            text-align: center;
                        }
                    }
                    .errorMessage {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        font-size: 10px;
                        padding: 0em 1em 0 1em;
                        text-align: left !important;
                        color: red;
                        font-weight: bold;
                        font-family: Montserrat;
                    }
                }
                .login_items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h4 {
                        margin: 2em 0 1em 0;
                        font-size: 22px;
                        font-weight: 500;
                        font-family: Montserrat;
                    }
                    a {
                        text-decoration: none;
                        letter-spacing: 0.45px;
                        color: #161616 !important;
                        text-transform: uppercase;
                        margin-bottom: 3em;
                        display: flex;
                        align-items: center;
                        margin-left: 31px;
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: bold;
                        font-family: "Montserrat", sans-serif;
                    }
                }
            }
        }
        @media screen and (max-width: 1023px) {
            .wrapper {
                width: 100%;
                .item_right {
                    width: 100%;
                    margin: 0 auto;
                    .inner_items {
                        margin: 0 auto;
                        h3 {
                            padding: 0 0.3em;
                        }
                        p {
                            padding: 0 1.5em;
                        }
                    }
                    .form_items_trainer {
                        form {
                            padding: 0 8em;
                            .submit_button {
                                button {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                h2 {
                    width: 100%;
                    line-height: 55px;
                    font-size: 50px;
                }
            }
        }
        @media only screen and (min-width: 100px) and (max-width: 765px) {
            .wrapper {
                .item_right {
                    .form_items_trainer {
                        form {
                            padding: 0 1.5em;
                            .submit_button {
                                button {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.react-tel-input {
    > div {
        display: none;
    }
}
