.outter_we_container {
  background-color: #53bfd2;

  width: 100%;
  height: auto;

  .inner_we_container {
    padding: 0 10em;
    @media screen and (max-width: 1024px) {
      padding: 0;
    }
    .we_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;

      .we_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5em;
        img {
          margin-bottom: 2em;
        }
        span {
          height: 125px;
          border: 2px solid #2c7683;
          width: 0px;
          background: #2c7683;
          margin: 5em 0;
        }
        .separator {
          height: 125px;
          border: 2px solid #2c7683;
          width: 0px;
          background: #2c7683;
          margin: 2em 0;
        }
        .section_images {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 2em;
          img {
            width: 125px;
            height: 125px;
            margin: 0 3em;
          }
        }
        h2 {
          margin-top: 2em;
          text-align: center;
          letter-spacing: 0px;
          color: #161616;
          line-height: 58px;
          font-size: 50px;
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
        }

        p {
          text-align: center;
          letter-spacing: -0.35px;
          color: #ffffff;
          text-shadow: 0px 1px 2px #0296b159;
          line-height: 50px;
          font-size: 35px;
          font-weight: bold;
          font-family: "Cormorant Garamond", sans-serif;
        }
        h6 {
          margin: 1em 0 3em 0;
          text-align: center;
          letter-spacing: 0px;
          color: #161616;
          line-height: 33px;
          font-size: 28px;
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
    .watermark {
      position: relative;
      right: 180px;
    }
  }
}



@media only screen and (max-width: 900px) {
  .outter_we_container {
    .inner_we_container {
      .we_wrapper {
        .we_section {
            margin-top: 0px;
            .section_images
            {
                img
                {
                    width: 60px;
                    margin: 1rem;
                }
            }
            img{

                width: 75vw;
            }
          p {
            font-size: 25px;
          }
        }
      }
    }
  }
}
