.results_container {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 100px;
  background-color: #f8f8f8;

  h1 {
    padding: 5rem;
  }

  .results_grid {
    .row {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      grid-column-gap: 20px;
      justify-items: center;
      align-items: center;
      margin: 0em 0 8em 0;
      row-gap: 5rem;
      column-gap: 5rem;
    }

    .cardd {
      width: 350px;
      height: 400px;
      background-color: #ffffff;
      box-shadow: 0px 3px 12px #1616160d;
      border-radius: 20px;
      padding: 0;

      .card_image {
        height: 50%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        background-color: #53bfd2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: bold;
        color: white;
        text-transform: capitalize;
      }
      .card_content {
        height: 45%;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .name {
          color: #161616;
          font-size: 30px;
          font-family: "Cormorant Garamond";
          text-transform: capitalize;
        }

        .vertical {
          color: #898989;
          text-transform: uppercase;
          letter-spacing: 0.9px;
          font-family: "Montserrat";
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        ._content {
          font-size: 13px;
          font-family: "Montserrat";
          color: #898989;
          font-weight: 500;
          margin-bottom: 10px;
        }
      }

      .card_view_profile {
        height: 15%;
        width: 100%;
        background-color: #53bfd2;
        border-radius: 0px 0px 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
      }
    }

    .pagination {
      font-size: 20px;
      display: flex;
      justify-content: center;

      li.active {
        a {
          color: black;
        }
      }
      li {
        padding: 1rem;
        background-color: #53bfd2;
        border: solid 1px rgb(209, 209, 209);
        a {
          color: #ffffff;
        }
      }
    }
  }
}

.common-pagination {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  .custom-pagination {
    justify-content: end;
    margin: 10px 0;
  }
  .page-link:focus {
    box-shadow: none;
  }
  .page-item:last-child .page-link {
    background-color: #e6e6e7 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .page-item:last-child .page-link:hover {
    background-color: rgba($color: #53bfd2, $alpha: 0.8) !important;
    border: solid 0.5px transparent !important;
    color: white !important;
  }

  .page-item:first-child .page-link {
    background-color: #e6e6e7 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .page-item:first-child .page-link:hover {
    background-color: rgba($color: #53bfd2, $alpha: 0.8) !important;
    border: solid 0.5px transparent !important;
    color: white !important;
  }

  .page-item .page-link {
    background-color: #e6e6e7;
    border-radius: 1px;
    border: solid 0.5px transparent;
  }

  .page-item .page-link:hover {
    background-color: rgba($color: #53bfd2, $alpha: 0.8);
    border: solid 0.5px transparent;
    color: white;
  }
  .page-item,
  .page-item .disabled {
    .page-link {
      border: 0.5px solid transparent;
    }
  }

  .custom-pagination {
    .page-link {
      font-size: fontSize(12px);
      color: black;
      padding: 0.6rem 0.8rem 0.6rem 0.8rem;
      font-weight: 800;
      border: 0.5px solid transparent;
    }
    .page-item.active .page-link {
      background-color: #53bfd2;
      color: white;
      border: 0.5px solid transparent;
      font-weight: 800;
    }
  }
}
