.results_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding: 5rem;
  }

  .results_grid {
    .row {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      grid-column-gap: 20px;
      justify-items: center;
      align-items: center;
      margin: 0em 0 8em 0;
      row-gap: 2rem;
    }

    .card
    {
        width: 350px;
        height: 400px;
        background-color: rgb(83, 83, 83);
    }
  }
}
