.link_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 3em 0;
}

.link_wrapper .inner_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link_wrapper .inner_links a {
  margin-left: 0.5em;
  text-align: left;
  letter-spacing: 0.18px;
  color: #161616;
  text-decoration: none;
  border-bottom: 2px solid #53bfd2;
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.main_wrappercontainer {
  width: 100%;
  height: 1024px;
  padding: 0 5em;
}

.main_wrappercontainer .wrapper_inneritem {
  margin: 0 auto;
}

.main_wrappercontainer .wrapper_inneritem h1 {
  text-align: center;
  font-size: 35px;
  letter-spacing: 0px;
  color: #161616;
  margin-top: 25px;
  line-height: 58px;
  font-size: 33px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.main_wrappercontainer .wrapper_inneritem p {
  letter-spacing: 0.27px;
  width: 100% !important;
  color: #696969;
  opacity: 1;
  width: 63%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 0.27px;
  color: #696969;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper {
  margin: 3em 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  grid-column-gap: 50px;
  height: auto;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_1 {
  margin: 1em 0 2em 0;
  position: relative;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_1 h6 {
  color: #161616;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_1 .inputs_platform input {
  width: 100%;
  padding: 1em 1.5em;
  height: 45px;
  border: 2px solid #bcbcbc;
  border-radius: 30px;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_1 .inputs_platform input::-webkit-input-placeholder {
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_1 .inputs_platform input:-ms-input-placeholder {
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_1 .inputs_platform input::-ms-input-placeholder {
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_1 .inputs_platform input::placeholder {
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_1 .inputs_platform input:focus {
  outline: none;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2 {
  margin: 1em 0 2em 0;
  position: relative;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2 h6 {
  color: #161616;
  opacity: 1;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2 .inputs_platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2 .inputs_platform button {
  border-radius: 50px;
  padding: 0.65em 2.5em;
  border: 2px solid #bcbcbc;
  margin-right: 20px;
  background-color: transparent;
  color: black;
  width: 165px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2 .inputs_platform button:active, .main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2 .inputs_platform button:focus, .main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2 .inputs_platform button:hover {
  background-color: #000;
  color: #fff;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2 .inputs_platform button.buttonTrue {
  background-color: white;
  color: #000;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2 .inputs_platform button.buttonFalse {
  color: #fff;
  background-color: black;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2_inner {
  margin: 1em 0 2em 0;
  position: relative;
  top: 10px;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2_inner h6 {
  color: #161616;
  opacity: 1;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
  margin-bottom: 1em;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2_inner input {
  width: 100%;
  padding: 1em 1.5em;
  height: 45px;
  border: 2px solid #bcbcbc;
  border-radius: 30px;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2_inner input::-webkit-input-placeholder {
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2_inner input:-ms-input-placeholder {
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2_inner input::-ms-input-placeholder {
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2_inner input::placeholder {
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_2_inner input:focus {
  outline: none;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_3 {
  margin: 2em 0 1.5em 0;
  position: relative;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_3 h6 {
  color: #161616;
  opacity: 1;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_3 label {
  margin-right: 3em;
  color: #2c2c2c;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_3 .inputs_platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 {
  margin: 1em 0 0em 0;
  position: relative;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 h6 {
  color: #161616;
  opacity: 1;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 .inputs_platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 .inputs_platform textarea {
  width: 92%;
  height: 70px;
  border: 2px solid #bcbcbc;
  border-radius: 20px;
  font-size: 18px;
  color: #161616;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0.5em 1em;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 .inputs_platform textarea::-webkit-input-placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 .inputs_platform textarea:-ms-input-placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 .inputs_platform textarea::-ms-input-placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 .inputs_platform textarea::placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 .inputs_platform textarea:focus {
  outline: none;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 .inputs_platform label {
  margin-right: 3em;
  color: #2c2c2c;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_4 .inputs_platform .loction_img_select {
  position: relative;
  left: -60px;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_5 {
  margin: 1em 0 2em 0;
  position: relative;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_5 h6 {
  color: #161616;
  opacity: 1;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_5 label {
  margin-right: 3em;
  color: #2c2c2c;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_5 .inputs_platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_6 {
  margin: 1em 0 2em 0;
  position: relative;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_6 h6 {
  color: #161616;
  opacity: 1;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_6 .inputs_platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_6 .inputs_platform textarea {
  width: 92%;
  height: 70px;
  border: 2px solid #bcbcbc;
  border-radius: 20px;
  font-size: 18px;
  color: #161616;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0.5em 1em;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_6 .inputs_platform textarea::-webkit-input-placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_6 .inputs_platform textarea:-ms-input-placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_6 .inputs_platform textarea::-ms-input-placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_6 .inputs_platform textarea::placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_6 .inputs_platform textarea:focus {
  outline: none;
}

.main_wrappercontainer .wrapper_inneritem .content_wrapper .item_6 .inputs_platform .loction_img_select {
  position: relative;
  left: -60px;
}

.main_wrappercontainer .wrapper_inneritem .submit_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_wrappercontainer .wrapper_inneritem .submit_button button {
  outline: none;
  background: #53bfd2;
  border: 0;
  margin: 1em;
  width: 210px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 2em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}

.main_wrappercontainer .wrapper_inneritem .submit_button button img {
  width: auto;
  margin-left: 1em;
  color: red;
}

.main_wrappercontainer .ava_watermark {
  position: relative;
  left: -70px;
  top: -131px;
}
/*# sourceMappingURL=styles.css.map */