.ReactModal__Content {
    margin: 0 auto;
    margin-top: 2em;
    width: 32%;
    height: auto;
    overflow: auto;
    opacity: 1;
    position: relative;
    @media screen and (max-width: 1024px) {
        width: auto;
    }
}
.outter_container {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: auto;

    .inner_container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        svg {
            cursor: pointer;
            width: 28px;
            height: 28px;
            opacity: 1;
        }
    }
    .wrapper_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        h2 {
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-bold) var(--unnamed-font-size-45) /
                var(--unnamed-line-spacing-55)
                var(--unnamed-font-family-cormorant-garamond);
            letter-spacing: var(--unnamed-character-spacing--0-45);
            color: var(--unnamed-color-161616);
            text-align: center;
            font: normal normal bold 45px/55px Cormorant Garamond;
            letter-spacing: -0.45px;
            color: #161616;
            opacity: 1;
        }
        p {
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
                var(--unnamed-line-spacing-32)
                var(--unnamed-font-family-montserrat);
            letter-spacing: var(--unnamed-character-spacing-0-27);
            color: var(--unnamed-color-2c2c2c);
            text-align: center;
            font: normal normal normal 18px/32px Montserrat;
            letter-spacing: 0.27px;
            color: #2c2c2c;
            opacity: 1;
        }

        .form_item_login {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .input_item1_signin {
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 0.5em 0;
                width: 100%;

                input {
                    width: 425px !important;
                    height: 45px;
                    align-items: center;
                    border: 1.5px solid var(--unnamed-color-bcbcbc);
                    border: 2px solid #bcbcbc;
                    border-radius: 30px;
                    opacity: 1;
                    padding: 1em 1em;

                    background: transparent;
                }
                input:focus {
                    outline: none;
                }

                img {
                    position: absolute;
                    right: 0;
                    margin: 0 auto;
                    padding: 1em 3em;
                }
                span {
                    font-size: 10px;
                    padding: 0em 1em 0 1em;
                    text-align: left !important;
                    color: red;
                    font-weight: bold;
                }
            }

            .submit_button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1em;
                .login_button {
                    outline: none;
                    background: #53bfd2;
                    border: 0;
                    width: 425px;
                    padding: 0.8em;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: bold;
                    height: 52px;
                    background: var(--unnamed-color-53bfd2) 0% 0% no-repeat
                        padding-box;
                    background: #53bfd2 0% 0% no-repeat padding-box;
                    opacity: 1;
                    img {
                        width: auto;
                        margin-left: 1em;
                    }
                }
            }
            .errorMessage {
                text-align: center;
                display: flex;
                justify-content: center;
                font-size: 10px;
                padding: 0em 1em 0 1em;
                text-align: left !important;
                color: red;
                font-weight: bold;
            }
        }

        .remember_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0.5em;

            .remember_left {
                display: flex;
                align-items: center;
                width: 50%;

                .check {
                    margin: 0;
                    padding: 0;
                    width: 10%;
                }

                label {
                    font-size: 15px;
                    padding: 0 0 0 0.5em;
                    color: #898989;
                    font: var(--unnamed-font-style-normal) normal 300 15px /
                        var(--unnamed-line-spacing-42)
                        var(--unnamed-font-family-montserrat);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-898989);
                    text-align: left;
                    font: normal normal 300 15px/42px Montserrat;
                    letter-spacing: 0px;
                    color: #898989;
                }
            }

            .forgotpass_right {
                width: 50%;
                display: flex;
                justify-content: flex-end;

                .forgotpass {
                    font: italic normal var(--unnamed-font-weight-medium) 15px /
                        var(--unnamed-line-spacing-42)
                        var(--unnamed-font-family-montserrat);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-53bfd2);
                    text-align: left;
                    text-decoration: underline;
                    font: italic normal medium 15px/42px Montserrat;
                    letter-spacing: 0px;
                    color: #53bfd2;
                }
            }
        }
        .or_items {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0.5em 0em;

            p {
                margin: 0;
                padding: 0 1em;
                text-transform: uppercase;
            }

            .hr_line {
                background-color: #bcbcbc;
                height: 1px;
                width: 120px;
            }
        }
        .social_buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .facebook-auth {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                outline: none;
                border: 1px solid #bcbcbc;
                width: 80%;
                background-color: #fff;
                color: #bcbcbc;
                border-radius: 50px;
                margin: 0.2em 1em;
                width: 425px;
                height: 45px;
                border: 1.5px solid var(--unnamed-color-bcbcbc);
                border: 2px solid #bcbcbc;
                border-radius: 30px;
                opacity: 1;

                img {
                    margin: 0.5em 1.3em;
                    width: 10px;
                }
            }
            .google-auth {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: #fff;
                color: #bcbcbc;
                outline: none;
                border: 1px solid #bcbcbc;
                border-radius: 50px;
                margin: 0.7em 1em;
                width: 425px;
                height: 45px;
                border: 1.5px solid var(--unnamed-color-bcbcbc);
                border: 2px solid #bcbcbc;
                border-radius: 30px;
                opacity: 1;

                img {
                    margin: 0.5em 1em;
                    width: 20px;
                }
            }
        }
        .login_items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h4 {
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-222222);
                text-align: center;
                font-size: 22px;
                font-family: Montserrat;
                font-weight: 800;
                letter-spacing: 0px;
                color: #222222;
                opacity: 1;
                margin-top: 2em;
            }
            .links_item_signup {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 1em 0;

                a {
                    text-align: right;
                    letter-spacing: 0.45px;
                    color: #161616;
                    text-transform: uppercase;
                    opacity: 1;
                    font-family: Montserrat !important;
                    font-weight: 800 !important;
                    font-size: 18px;
                    letter-spacing: 0px;
                    color: #222222 !important;
                    text-decoration: none;
                }
            }
        }
    }
}
