.ReactModal__Content {
    margin: 0 auto;
    margin-top: 6em;
    width: 40%;
    height: 700px;
    opacity: 1;
    z-index: 999;

    position: relative;
    @media screen and (max-width: 1024px) {
        width: auto;
    }
}
.outter_container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 999 !important;

    .inner_container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        svg {
            cursor: pointer;
        }
    }
    .wrapper_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 9999;

        h2 {
            text-align: center;
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-bold) var(--unnamed-font-size-22) /
                var(--unnamed-line-spacing-38)
                var(--unnamed-font-family-garamond);
            font: normal normal bold 35px/40px Garamond;
        }
        p {
            text-align: center;
        }

        .form_items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            form {
                width: 100%;
            }

            .input_items {
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 0.5em 0;
                width: 100%;

                input {
                    border: 1px solid #bcbcbc;
                    padding: 0.3em 2em;
                    width: 100%;
                    background: #fff;
                }

                img {
                    position: absolute;
                    right: 0;
                    margin: 0 auto;
                    padding: 0.5em 1em;
                }
                span {
                    font-size: 10px;
                    padding: 0em 1em 0 1em;
                    text-align: left !important;
                    color: red;
                    font-weight: bold;
                }
            }

            .submit_button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2em;
                .login_button {
                    outline: none;
                    background: #53bfd2;
                    border: 0;
                    margin: 1em 2em 0 0;
                    margin: 0;
                    width: 100%;
                    padding: 0.8em;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: bold;
                    img {
                        width: auto;
                        margin-left: 1em;
                    }
                }
            }
            .errorMessage {
                text-align: center;
                display: flex;
                justify-content: center;
                font-size: 10px;
                padding: 0em 1em 0 1em;
                text-align: left !important;
                color: red;
                font-weight: bold;
            }
        }

        .remember_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0.5em;

            .remember_left {
                display: flex;
                align-items: center;
                width: 50%;

                .check {
                    margin: 0;
                    padding: 0;
                    width: 10%;
                }

                label {
                    font-size: 15px;
                    padding: 0 0 0 0.5em;
                    color: #898989;
                }
            }

            .forgotpass_right {
                width: 50%;
                display: flex;
                justify-content: flex-end;

                a {
                    font-size: 15px;
                    color: #53bfd2;
                    font-style: italic;
                    font-weight: bold;
                }
            }
        }
        .or_items {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0.5em 3em;

            p {
                margin: 0;
                padding: 0 1em;
                text-transform: uppercase;
            }

            .hr_line {
                background-color: #bcbcbc;
                height: 1px;
                width: 120px;
            }
        }
        .social_buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .facebook-auth {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                outline: none;
                border: 1px solid #bcbcbc;
                width: 80%;
                background-color: #fff;
                color: #bcbcbc;
                border-radius: 50px;
                margin: 0.2em 1em;

                img {
                    margin: 0.5em 1.3em;
                    width: 10px;
                }
            }
            .google-auth {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: #fff;
                color: #bcbcbc;
                outline: none;
                border: 1px solid #bcbcbc;
                border-radius: 50px;
                margin: 0.2em 1em;
                width: 80%;

                img {
                    margin: 0.5em 1em;
                    width: 20px;
                }
            }
        }
        .login_items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h4 {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-500) var(--unnamed-font-size-22) /
                    var(--unnamed-line-spacing-38)
                    var(--unnamed-font-family-montserrat);
                font: normal normal 500 16px/38px Montserrat;
                margin: 0.5em 0 0 0;
            }
            .links_item {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 1em 0;
                a {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    font: var(--unnamed-font-style-normal) normal
                        var(--unnamed-font-weight-800)
                        var(--unnamed-font-size-18) /
                        var(--unnamed-line-spacing-30)
                        var(--unnamed-font-family-montserrat);
                    font: normal normal 800 14px/20px Montserrat;
                    color: #000;
                }
            }
        }
    }
}
