:root {
    --primary-bg: #ffffff;
    --text-color: #000000;
    --logo: #53bfd2;
    --icon-color: #bcbcbc;
    --active-text: #000;
}

.navbaractive.active {
    transition: 0.8s ease-in-out;
    background: var(--primary-bg);
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.navbar-sass {
    margin: 0 auto;
    display: flex;
    margin-top: -2em;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.main_navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 999 !important;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: -120px;
    position: relative;
}

.header-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
    position: relative;
}
.header-links a {
    color: var(--text-color);
    padding: 0 0.5em !important;
    text-decoration: none;
}

.logo-content img {
    position: relative;
    height: 50px !important;
    padding: 0.2em 0 0 0;
}
.defaultLogo img {
    height: 50px !important;
    padding: 1em;
    margin-top: 1em !important;
    display: flex;
    width: 100px;
    justify-content: center;
    position: relative;
}
.changeLogo {
    height: 50px !important;
    padding: 0em;
    width: 80px;
    margin: 0 !important;
    position: relative;
}
.search-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}
.search-items .input-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.search-items .input-item .input {
    background: transparent;
    border: 1px solid var(--logo);
    border-radius: 50px;
    padding: 0.3em 0.5em;
    width: 250px;
}
.search-icon {
    margin: 0 1em 0 -1.5em;
    padding: 0;
    font-size: 1.5em;
    color: var(--icon-color);
}
.login-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-item img {
    margin: 0 1em;
    cursor: pointer;
}

.nav_icon {
    display: none;
    color: var(--icon-color);
}
@media screen and (max-width: 1024px) {
    .nav_icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .header-links {
        display: none;
    }
    .logo-content svg {
        display: flex;
        justify-content: center;
    }
    .input-item input {
        display: none;
    }
    .search-icon {
        display: none;
    }
    .login-item svg {
        display: none;
    }
    .login-item img:nth-child(1) {
        display: none;
    }
    .login-item1 img {
        margin: 0 !important;
    }
    .link-icons svg {
        display: flex;
    }
    .navbaractive.active {
        position: sticky;
        top: 0;
    }
}
