.tracker_main {
    background-color: #000;
    width: 100%;
    .wrapper_item {
        // background: yellowgreen;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;

        .items {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                color: #fff;
                margin-top: 0.5em;
                text-transform: uppercase;
                font-weight: bold;
                margin: 0;
            }
            .active {
                color: #ff0000;
            }
        }
    }
}

