
$primary-bg: #fff
$primary-box: #f6f6f6
$small-text: #696969

*
    padding: 0
    margin: 0

.slide-container
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    width: 100%
    background: #f6f6f6
    // min-width: 1200px
    // max-width: 1920px
    height: 858px
    @media screen and (max-width:920px)
        padding: 0 2em

    .inner_location
        padding: 5em

    .header-content
        h1
            font-size: 45px
            text-align: center
            margin-top: 0.5em
        p
            font-size: 18px
            text-align: center
            padding: 0
            width: 50%
            margin: 0 auto !important
            color: $small-text
            @media screen and (max-width:1120px)
                width: 70%

                padding: 0
                margin: 0

    .slick-slider
        display: flex
        width: 100%
        margin: 2em 0
        align-items: center
        justify-content: space-evenly
        @media screen and (max-width:920px)
            margin: 0
            padding: 0
            justify-content: center
            align-items: center

        .slick-list
            margin: 0 2em
            .slick-dots
                display: none
            .main-slide
                .slide-content
                    background: $primary-box
                    margin: 1em

                    p
                        text-align: center
                        padding: 1em 0
                        color: $small-text
                        font-size: 18px
                        font-weight: bold
                        text-transform: uppercase

                    .slide-image
                        width: 100%
                        height: auto !important
                        @media screen and (max-width:1024px)
                            height: auto
                        @media screen and (max-width:1024px) and (min-width:1300px)
                            height: auto

                    .slide-line
                        width: 100%

        .right-arrow
            font-size: 3em
            color: #000
            cursor: pointer
            user-select: none
            z-index: 999
            position: relative

        .left-arrow
            font-size: 3em
            color: #000
            cursor: pointer
            user-select: none
            z-index: 10
