.dd-wrapper {
    width: 100% !important;
    .dd-header {
        border-radius: 50px !important;
        border: 2px solid #bcbcbc !important;
        width: 310px !important;
        span {
            padding: 0.3em !important;
            svg {
                color: #bcbcbc !important;
                width: auto !important;
            }
        }
        .dd-header-title {
            margin: 2px 20px !important;
            margin-right: 30px !important;
            text-align: left !important;
            line-height: 42px !important;
            font-size: 20px !important;
            font-weight: 500 !important;
            font-family: "Montserrat", sans-serif !important;
            color: #898989 !important;
        }
    }
    .dd-list {
        .dd-scroll-list {
            height: auto !important;
            background-color: #fff !important;
            max-height: none !important;
            overflow-y: hidden !important;
            .dd-list-item {
                text-align: left !important;
                letter-spacing: 0.2px !important;
                color: #898989 !important;
                line-height: 42px !important;
                font-size: 20px !important;
                font-weight: 500 !important;
                font-family: "Montserrat", sans-serif !important;
                &:hover {
                    background-color: #53bfd2 !important;
                    color: #fff !important;
                }
            }
        }
    }
}
