.schedule_main {
    .schedule_heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h1 {
            margin: 0 2em;
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-600) var(--unnamed-font-size-40) /
                var(--unnamed-line-spacing-58)
                var(--unnamed-font-family-montserrat);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-161616);
            text-align: left;
            font: normal normal 600 40px/58px Montserrat;
            letter-spacing: 0px;
            color: #161616;
            opacity: 1;
        }
        .dates {
            display: flex;
            justify-content: space-evenly;
            margin-right: 4em;
            a {
                margin: 1em;
                color: black;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    .schedule_wrapper {
        width: 90%;
        height: 500px;
        margin: 3em 4em;
        background-color: #53bfd2;
        .eventCalender {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 500px;
            h1 {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-medium)
                    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-42)
                    var(--unnamed-font-family-montserrat);
                color: var(--unnamed-color-161616);
                text-align: center;
                font: normal normal medium 20px/42px Montserrat;
                letter-spacing: 0.2px;
                color: #161616;
                opacity: 1;
            }
        }
    }
}
.table_trainer {
    height: 500px;
    width: 100%;
    padding: 1em 10em 4em 10em;

    .table_inner_trainer {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0.5em 0 2em 0;
        .date_week {
            width: 230px;
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-600) var(--unnamed-font-size-20) /
                var(--unnamed-line-spacing-22)
                var(--unnamed-font-family-montserrat);
            color: var(--unnamed-color-898989);
            text-align: center;
            font: normal normal 600 20px/22px Montserrat;
            letter-spacing: 0.6px;
            color: #898989;
            text-transform: uppercase;
        }
    }
}

.table_header_txt {
    color: #898989;
    font: normal normal medium 20px/22px Montserrat;
}

.table_header_number {
    color: #161616;
    letter-spacing: 1.2px;
    font: normal normal 600 32px/22px Montserrat;
    padding-top: 15px;
    position: relative;
    top: 10px;
}
.time_show {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
        var(--unnamed-font-size-20) / var(--unnamed-line-spacing-22)
        var(--unnamed-font-family-montserrat);
    color: var(--unnamed-color-161616);
    text-align: center;
    font: normal normal 600 20px/22px Montserrat;
    letter-spacing: 0.6px;
    color: #161616;
    text-transform: uppercase;
}
.table-drag-select {
    height: 500px;
}
.schedular_slots {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    width: 100%;
    margin: 1em 0 3em 0;
    align-items: center;
    .items_slots {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .item_slot1 {
            display: flex;
            align-items: center;
            .indicator {
                width: 75px;
                height: 15px;
                background: #f2f2f2 0% 0% no-repeat padding-box;
                opacity: 1;
            }
            h5 {
                letter-spacing: 0.54px;
                color: #2c2c2c;
                text-transform: uppercase;
                margin: 0 1em;
                font-size: 16px;
                font-weight: 600;
                font-family: Montserrat;
            }
        }
        .item_slot2 {
            display: flex;
            align-items: center;
            .indicator2 {
                width: 75px;
                height: 15px;
                background: #dedede 0% 0% no-repeat padding-box;
                opacity: 1;
            }
            h5 {
                letter-spacing: 0.54px;
                color: #2c2c2c;
                text-transform: uppercase;
                margin: 0 1em;
                font-size: 16px;
                font-weight: 600;
                font-family: Montserrat;
            }
        }
        .item_slot3 {
            display: flex;
            align-items: center;
            .indicator3 {
                width: 75px;
                height: 15px;
                background: #53bfd2 0% 0% no-repeat padding-box;
                opacity: 1;
            }
            h5 {
                letter-spacing: 0.54px;
                color: #2c2c2c;
                text-transform: uppercase;
                margin: 0 0 0 1em;
                font-size: 16px;
                font-weight: 600;
                font-family: Montserrat;
            }
        }
    }
    .items_slot_button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            display: flex;
            align-items: center;
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
                var(--unnamed-line-spacing-22)
                var(--unnamed-font-family-montserrat);
            color: var(--unnamed-color-161616);
            text-align: right;
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.45px;
            color: #161616;
            text-transform: uppercase;
            border: none;
        }
    }
}
