.schedule_main {
    width: 93%;
    .schedule_heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h1 {
            margin: 0 2em;
            text-align: left;
            letter-spacing: 0px;
            color: #161616;
            font-family: "Montserrat", sans-serif;
            font-size: 40px;
            font-weight: 600;
            line-height: 58px;
        }
        .dates {
            display: flex;
            justify-content: space-evenly;
            margin-right: 4em;
            a {
                margin: 1em;
                color: black;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    .schedule_wrapper {
        width: 90%;
        height: auto;
        margin: 3em 4em;
        .eventCalender {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 500px;
            h1 {
                text-align: center;
                letter-spacing: 0.2px;
                color: #161616;
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                font-weight: 500;
                line-height: 42px;
            }
        }
    }
}

.outter_table_trainer {
    // padding: 1em 6.5em 4em 6.5em;
    position: relative;
    top: 93px;

    .table_trainer {
        height: auto;
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
        margin-top: 5em;

        .table_inner_trainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 0.5em 0 2em 0;
            padding: 1.5em 1em 0 1em;
            .table_date {
                display: flex;
                align-items: center;
            }
            .date_week {
                width: 230px;
                text-align: center;
                letter-spacing: 0.6px;
                color: #898989;
                text-transform: uppercase;
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 22px;
            }
            select {
                width: 250px;
                padding: 0.5em 1em;
                border: 2px solid #898989;
                border-radius: 50px;
                height: 45px;
                font-family: Montserrat;
                -moz-appearance: none;
                -webkit-appearance: none;
            }
            select:active {
                outline: none;
            }
            select:focus {
                outline: none;
            }
        }
    }
}
.table_header_txt {
    color: #898989;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
}

.table_header_number {
    color: #161616;
    letter-spacing: 1.2px;
    padding-top: 15px;
    position: relative;
    top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.time_show {
    text-align: center;
    letter-spacing: 0.6px;
    color: #161616;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
}
.table-drag-select {
    height: 500px;
}
.schedular_slots {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    width: 100%;
    margin: 2em 0 3em 0;
    align-items: center;
    .items_slots {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .item_slot1 {
            display: flex;
            align-items: center;
            .indicator {
                width: 75px;
                height: 15px;
                background: #f2f2f2 0% 0% no-repeat padding-box;
                opacity: 1;
            }
            h5 {
                letter-spacing: 0.54px;
                color: #2c2c2c;
                text-transform: uppercase;
                margin: 0 1em;
                font-size: 16px;
                font-weight: 600;
                font-family: Montserrat;
            }
        }
        .item_slot2 {
            display: flex;
            align-items: center;
            .indicator2 {
                width: 75px;
                height: 15px;
                background: #dedede;
                opacity: 1;
            }
            h5 {
                letter-spacing: 0.54px;
                color: #2c2c2c;
                text-transform: uppercase;
                margin: 0 1em;
                font-size: 16px;
                font-weight: 600;
                font-family: Montserrat;
            }
        }
        .item_slot3 {
            display: flex;
            align-items: center;
            .indicator3 {
                width: 75px;
                height: 15px;
                background: #53bfd2;
                opacity: 1;
            }
            h5 {
                letter-spacing: 0.54px;
                color: #2c2c2c;
                text-transform: uppercase;
                margin: 0 0 0 1em;
                font-size: 16px;
                font-weight: 600;
                font-family: Montserrat;
            }
        }
    }
    .items_slot_button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            display: flex;
            align-items: center;
            text-align: right;
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.45px;
            color: #161616;
            text-transform: uppercase;
            border: none;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
        }
    }
}
.table2 {
    thead {
        th {
            text-align: center !important;
            text-overflow: ellipsis !important;
            overflow: hidden !important;
            border: 2px solid #e6e6e6 !important;
            background-clip: padding-box;
            line-height: 3rem !important;
            padding-left: 0rem !important;
            padding-right: 0rem !important;
            width: 120px;
            height: 120px !important;
            .table_header_number {
                color: #161616;
                letter-spacing: 1.2px;
                font-family: "Montserrat", sans-serif;
                font-size: 32px;
                font-weight: 600;
                padding-top: 15px;
                position: relative;
                top: 10px;
            }
            .table_header_txt {
                color: #898989;
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                font-weight: 500;
                line-height: 22px;
            }
        }
    }
    .time_show {
        text-align: center;
        letter-spacing: 0.6px;
        color: #161616;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
    }

    .avaiable_slot {
        background: #fff;
        text-align: center !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        border: 2px solid #e6e6e6 !important;
        background-clip: padding-box;
        line-height: 3rem !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        width: 120px;
        height: 70px;
        th {
            width: 100px;
            border: 2px solid #e6e6e6 !important;
        }
    }
    td {
        width: 120px;
        height: 60px;
        border: 2px solid #e6e6e6 !important;
        text-align: center;
        background: #dedede;
    }
}

.slot_time {
    background: #fff !important;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.table_trainer {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 auto;
    .scheduler_button {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: 0;
        margin: 1em 0 0 0;
        width: auto;
        height: 52px;
        text-decoration: none;
        padding: 0.2em 0.5em 0.2em 0.5em !important;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        position: relative;
        top: -6px;
        .default_label {
            color: rgb(137, 137, 137);
            display: flex;
            align-items: center;
            width: 400px;
            font-size: 16px;
            margin: 0;
            padding: 0 0 0 0.5em;
        }
    }
}
.table-drag-select td {
    text-align: center !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    border: 2px solid #e6e6e6 !important;
    background-clip: padding-box;
    line-height: 3rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}
.scheduler_button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 0;
    margin: 1em 0 0 0;
    width: 20%;
    height: 52px;
    text-decoration: none;
    padding: 0.2em 0.5em 0.2em 0.5em !important;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}
