.outter_earn_container {
  height: auto;

  background: #f6f6f6;
  .inner_earn_container {
    padding: 1em 1em 0 2em;
    .earn_heading {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: auto;
      align-items: center;
      .earnHeader {
        h2 {
          text-align: left;
          letter-spacing: 0px;
          color: #161616;
          font-family: "Montserrat", sans-serif;
          font-size: 40px;
          line-height: 58px;
          font-weight: 600;
        }
      }
      .earnDropdown_tabs {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .tab_outter_earn {
          width: 338px;
          height: 45px;

          border: 2px solid #bcbcbc;
          border-radius: 30px;
        }
        .dd_outter_earn {
          width: 182px;
          height: 45px;

          border: 2px solid #bcbcbc;
          border-radius: 30px;
          .css-yk16xz-control {
            border: none;
            background-color: transparent;

            .css-1uccc91-singleValue {
              text-align: left;
              letter-spacing: 0.2px;
              color: #898989;
              font-family: "Montserrat", sans-serif;
              font-size: 20px;
              line-height: 42px;
              font-weight: 600;
            }

            .css-1hb7zxy-IndicatorsContainer {
              .css-1okebmr-indicatorSeparator {
                display: none;
              }
            }
          }
          .css-1pahdxg-control {
            border: 0px solid transparent !important;
            outline: none;
          }
          .css-26l3qy-menu {
            background-color: rgb(255, 255, 255);
          }
        }
      }
    }
    .earn_wrapper {
      .earn_graph {
        margin-top: 3em;
        display: grid;
        grid-template-columns: 40% 50%;
        grid-template-rows: auto;
        align-items: center;
        .earn_total {
          width: 390px;
          height: 291px;

          background: #ffffff;
          box-shadow: 0px 3px 12px #16161608;
          border-radius: 20px;
          .earn_total_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .total_item1 {
              height: 163px;
              width: 100%;
              .total_data {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                grid-column-gap: 30px;
                align-items: center;
                justify-content: center;
                height: 163px;
                border-bottom: 1px solid #e6e6e6;
                .earn_image {
                  width: 89px;
                  height: 89px;
                }
                .earning_money {
                  h2 {
                    text-align: left;
                    letter-spacing: 0px;
                    color: #53bfd2;
                    font-family: "Montserrat", sans-serif;
                    font-size: 50px;
                    line-height: 58px;
                    font-weight: 600;
                  }
                  p {
                    text-align: left;
                    letter-spacing: 0.9px;
                    color: #161616;
                    text-transform: uppercase;
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 600;
                  }
                }
              }
            }
            .total_item2 {
              height: 128px;
              width: 100%;
              .annual_status {
                display: grid;
                grid-template-columns: 33.3% 33.3% 33.3%;
                grid-template-rows: auto;
                align-items: center;
                height: 128px;
                .day_earn,
                .month_earn {
                  width: 100%;
                  height: 128px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-right: 1px solid #e6e6e6;
                  h2 {
                    text-align: center;
                    font-family: "Montserrat", sans-serif;
                    font-size: 28px;
                    line-height: 58px;
                    font-weight: 600;
                    letter-spacing: 0px;
                    color: #161616;
                    margin: 0;
                    line-height: 40px;
                  }
                  p {
                    margin: 0;
                    text-align: center;
                    letter-spacing: 0.75px;
                    color: #898989;
                    text-transform: uppercase;
                    font-family: "Montserrat", sans-serif;
                    font-size: 15px;
                    line-height: 22px;
                    font-weight: 500;
                  }
                }
                .month_earn {
                  border: none;
                }
              }
            }
          }
        }
        .earn_charts {
          width: 600px;
          height: 291px;

          background: #ffffff;
          box-shadow: 0px 3px 12px #16161608;
          border-radius: 20px;
          padding: 0 2em;
          .outter_chart_grid {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: auto;
            align-items: center;
            .chart_flex {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              height: 225px;

              .chart_contents {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 291px;

                h3 {
                  letter-spacing: 0px;
                  color: #161616;
                  font-size: 20px;
                  font-family: "Montserrat";
                  font-weight: 500;
                }
                p {
                  letter-spacing: 0px;
                  color: #2c2c2c;
                  font-size: 14px;
                  font-family: "Montserrat";
                  font-weight: 500;
                  margin: 0;
                }
              }
            }
            .chart_section {
              margin: 0 2em;
              background: darkcyan;
              height: 280px;
            }
          }
        }
      }
    }
    .outter_ts {
      margin-top: 4em;
      .inner_ts {
        .ts_header {
          h2 {
            color: #626262;
            font-size: 25px;
            font-family: Montserrat;
            font-weight: 500;
          }
        }
        .ts_overflow_container {
          overflow: auto;
          height: 500px;
          padding: 0 1em 0 0;
          .ts_wrapper {
            margin-top: 2em;
            // height: 170px;
            padding: 2rem;

            background: #ffffff;
            box-shadow: 0px 3px 12px #16161608;
            border-radius: 20px;
            .ts_card {
              // display: grid;

              // grid-template-columns: auto auto auto 19%;

              // grid-template-rows: auto;
              // align-items: center;
              // height: 170px;
              // padding: 0 0.7em;
              .card_profile,
              .card_transaction,
              .card_amount,
              .card_payment {
                display: flex;
                align-items: center;

                .profile_card_img {
                  width: 100px;
                  height: 100px;
                  background: rgb(32, 189, 200);
                  border-radius: 100px;
                }
                .profile_card_content,
                .transaction_card_content,
                .amount_card_content,
                .payment_card_content {
                  margin-left: 1.5em;

                  h4 {
                    text-align: left;
                    letter-spacing: 0px;
                    color: #161616;
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 14px;
                    font-family: Montserrat;
                    font-weight: 600;
                    height: 23px;
                  }
                  p {
                    margin: 0;
                    text-align: left;
                    letter-spacing: 0.2px;
                    color: #898989;
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    line-height: 42px;
                    font-weight: 600;
                  }
                  .wrap_content_ts {
                    display: flex;

                    p {
                      padding-left: 0.5em;
                    }
                  }
                }
                .payment_card_content {
                  img {
                    margin-top: 0.5em;
                    width: 53px;
                    height: 35px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
