.payment_container {
    width: 100%;
    height: auto;
    .payment_wrapper {
        .payment_heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-bold) var(--unnamed-font-size-45) /
                    var(--unnamed-line-spacing-55)
                    var(--unnamed-font-family-cormorant-garamond);
                letter-spacing: var(--unnamed-character-spacing--0-45);
                color: var(--unnamed-color-161616);
                text-align: center;
                font: normal normal bold 45px/55px Cormorant Garamond;
                letter-spacing: -0.45px;
                color: #161616;
                opacity: 1;
            }
            p {
                width: 70%;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-30)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0-27);
                text-align: center;
                font: normal normal normal 18px/30px Montserrat;
                letter-spacing: 0.27px;
                color: #696969;
                opacity: 1;
            }
        }
        .payment_inner {
            .payment_item1 {
                margin: 1em 0 2em 0;

                h6 {
                    font-size: 22px !important;
                    margin: 2em 0 1em 0;
                }
                .inputs_payment {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    select {
                        display: block;
                        padding: 0.3em 1em !important;
                        width: 100%;
                        margin-right: 1em;
                        border: 1px solid #bcbcbc;
                        border-radius: 50px;
                        background: url("../../../../../assets/SVG/Drop Down 4.svg")
                            95% center no-repeat;
                        background-color: transparent;
                        appearance: none;
                        font-size: 16px;
                        color: black;
                        border: 1px solid #bcbcbc;

                        /* this is must */
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        height: 45px;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                    }
                    .active {
                        color: black;
                    }
                    .option {
                        font-size: 16px;
                        color: #bcbcbc;
                    }

                    input {
                        width: 100%;
                        border: 1px solid #bcbcbc;
                        padding: 0.3em 1em;
                        margin-right: 1em;
                        height: 45px;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                    select,
                    input:focus {
                        outline: none;
                    }
                    input:nth-child(3) {
                        border: none;
                    }
                    .custom-file-input {
                        color: transparent;
                        width: 65%;
                    }
                    .custom-file-input::-webkit-file-upload-button {
                        visibility: hidden;
                    }
                    .custom-file-input::before {
                        content: "upload";
                        outline: none;

                        border: 0;
                        // margin: 0 1em;
                        // padding: 0.5em 2em;
                        text-transform: uppercase;
                        color: black;
                        font-weight: bold;
                    }
                    .custom-file-input:hover::before {
                        border-color: black;
                    }
                    .custom-file-input:active {
                        outline: 0;
                    }
                    .custom-file-input:active::before {
                        background: -webkit-linear-gradient(
                            top,
                            #e3e3e3,
                            #f9f9f9
                        );
                    }

                    .checkarrow {
                        position: relative;
                        right: 150px;
                    }
                }
            }
            .payment_item2 {
                margin: 1em 0 2em 0;

                h6 {
                    font-size: 22px;
                    margin: 2em 0 1em 0;
                }
                .inputs_payment {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 67%;
                    select {
                        display: block;
                        padding: 0.3em 1em !important;
                        width: 100%;
                        margin-right: 1em;
                        border-radius: 50px;
                        background: url("../../../../../assets/SVG/Drop Down 4.svg")
                            95% center no-repeat;
                        background-color: transparent;
                        appearance: none;
                        /* this is must */
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        height: 45px;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                    }
                    .active {
                        color: black;
                    }
                    .option {
                        font-size: 16px;
                        color: #bcbcbc;
                    }
                    input {
                        width: 100%;
                        padding: 0.3em 1em;
                        margin-right: 1em;
                        border-radius: 50px;
                        height: 45px;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                    input:focus {
                        outline: none;
                    }
                    input:nth-child(3) {
                        border: none;
                    }
                }
            }
        }
    }
}
