.work_banner {
    background: #53bfd2 url("../../../assets/files/SVG/M Watermark.svg") right
        100% no-repeat;
    opacity: 0.9;
    width: 100%;
    height: 400px;

    .work_main {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;

        .work_heading {
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                color: #fff;
                font-family: Cormorant Garamond;
                font-weight: bold;
                font-size: 45px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}
