@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.main_wrapper {
  // background-color: yellowgreen;
  width: 100%;
  height: auto;
  margin-bottom: 8em;
  .links_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
    .outter_links {
      display: flex;
      align-items: center;
      .inner_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
          margin-left: 1em;
          margin-right: 1em;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
            var(--unnamed-line-spacing-42) var(--unnamed-font-family-montserrat);
          color: var(--unnamed-color-161616);
          text-align: left;
          font: normal normal normal 16px/22px Montserrat;
          letter-spacing: 0.18px;
          color: #161616;
          opacity: 1;
          text-decoration: none;
        }

        div {
          width: 85%;
          height: 2px;
          // margin-left: 1.5em;
          background-color: #53bfd2;
        }
      }
    }
  }
  .wrapper_inneritems {
    width: 80%;
    margin: 0 auto;

    h1 {
      text-align: center;
      font-size: 35px;
    }
    p {
      text-align: center;
      font-size: 18px;
      width: 80%;
      margin: 0 auto;
      color: #696969;
      letter-spacing: 0.27px;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      line-height: 30px;
    }

    .contents_wrapper {
      margin: 3em 0.5em;
      width: 100%;
      height: auto;
      .item1 {
        margin: 1em 0 2em 0;

        .inputs_experience {
          // label {
          //     margin-right: 3em;
          // }

          display: flex;
          align-items: center;

          .checkbox_label {
            color: #2c2c2c;
          }
        }
      }

      .item2 {
        margin: 1em 0 2em 0;
        h6 {
          margin-bottom: 1em;
        }
        span {
          font-size: 10px;
          cursor: pointer;
        }
        h5 {
          cursor: pointer;
          font-size: 12px;
          color: #53bfd2;
        }

        .inputs_experience {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 0.5em;
          align-items: center;
          input {
            width: 50%;
            margin-right: 1em;
            padding: 0.3em 1em;
            border-radius: 50px;
            height: 45px;
            border: 1.5px solid var(--unnamed-color-bcbcbc);
            border: 2px solid #bcbcbc;
            border-radius: 30px;
            opacity: 1;

            &:nth-child(2) {
              width: 30%;
            }
            &:nth-child(3) {
              width: 30%;
            }
          }
          input::placeholder {
            font-size: 16px;
            color: #bcbcbc;
            margin: 0;
            padding: 0;
          }
          input:focus {
            outline: none;
          }
        }
      }
      .item3 {
        margin: 1em 0 2em 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h6 {
          margin-bottom: 1em;
        }
        h5 {
          cursor: pointer;
          font-size: 12px;
          color: #53bfd2;
        }

        .inputs_background {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 0.5em;
          align-items: center;
          input {
            // width: 50%;
            margin-right: 1em;
            border: 1px solid #bcbcbc;
            padding: 0.3em 1em;
            width: 650px;
            height: 45px;
            border: 1.5px solid var(--unnamed-color-bcbcbc);
            border: 2px solid #bcbcbc;
            border-radius: 30px;
            opacity: 1;

            &:nth-child(2) {
              width: 650px;
            }
            &:nth-child(3) {
              width: 30%;
              border: 0;
            }
          }
          input:focus {
            outline: none;
          }
          input::placeholder {
            font-size: 16px;
            color: #bcbcbc;
            margin: 0;
            padding: 0;
          }
          .custom-file-input {
            color: transparent;
            width: 65%;
          }
          .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
          }
          .custom-file-input::before {
            content: "upload";
            outline: none;

            border: 0;
            // margin: 0 1em;
            // padding: 0.5em 2em;
            text-transform: uppercase;
            color: black;
            font-weight: bold;
          }
          .custom-file-input:hover::before {
            border-color: black;
          }
          .custom-file-input:active {
            outline: 0;
          }
          .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
          }

          .checkarrow {
            position: relative;
            right: 150px;
          }
        }
      }
      .item4 {
        margin: 1em 0 2em 0;
        h6 {
          margin-bottom: 1em;
        }
        textarea {
          width: 100%;
          height: 135px;
          border: 1.5px solid var(--unnamed-color-bcbcbc);
          border: 2px solid #bcbcbc;
          border-radius: 20px;
          opacity: 1;
          padding: 0.5em 1em;
        }
        textarea:focus {
          outline: none;
        }

        .inputs_experience {
          width: 100%;
        }
      }
      .item5 {
        margin: 1em 0 2em 0;
        h6 {
          margin-bottom: 1em;
        }

        .inputs_experience {
          display: flex;
          justify-content: space-around;
          width: 100%;
          input {
            width: 50%;
            margin-right: 1em;
            padding: 0.3em 1em;
            border-radius: 50px;
            width: 650px;
            height: 45px;
            border: 1.5px solid var(--unnamed-color-bcbcbc);
            border: 2px solid #bcbcbc;
            border-radius: 30px;
            opacity: 1;
          }
          input::placeholder {
            font-size: 16px;
            color: #bcbcbc;
            margin: 0;
            padding: 0;
          }
          input:focus {
            outline: none;
          }
        }
      }
      .item6 {
        margin: 1em 0 2em 0;
        h6 {
          margin-bottom: 1em;
        }
        textarea {
          width: 100%;
          height: 135px;
          border: 1.5px solid var(--unnamed-color-bcbcbc);
          border: 2px solid #bcbcbc;
          border-radius: 20px;
          opacity: 1;
          padding: 0.5em 1em;
        }
        textarea:focus {
          outline: none;
        }
      }
      .submit_button {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          outline: none;
          background: #53bfd2;
          border: 0;
          margin: 1em;
          width: 210px;
          height: 52px;
          display: flex;
          align-items: center;
          padding: 0.5em 2em;
          text-transform: uppercase;
          color: #fff;
          font-weight: bold;

          a {
            display: flex;
            align-items: center;
          }
          img {
            width: auto;
            margin-left: 1em;
            color: red;
          }
        }
      }
    }
  }
}

textarea::placeholder {
  /* Firefox, Chrome, Opera */
  padding-left: 15px !important;
  padding-top: 10px;
  color: #898989;
  font-style: italic;
  opacity: 0.7;
}
