@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.outter_container_bg {
  height: auto;
  .container {
    .links_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 2em 0;
      .outter_links {
        display: flex;
        align-items: center;
        .inner_links {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          a {
            margin-left: 0.5em;
            margin-right: 0.5em;
            text-align: left;
            letter-spacing: 0.18px;
            color: #161616;
            line-height: 22px;
            font-size: 16px;
            font-weight: normal;
            font-family: "Montserrat", sans-serif;
            text-decoration: none;
            border-bottom: 2px solid #53bfd2;
          }
        }
        .arrow_left {
          position: relative;
          left: 5px;
        }
        .arrow_right {
          position: relative;
          right: 5px;
        }
      }
    }
    .main_wrapper {
      width: 100%;
      height: auto;
      padding: 0 5.5em;
      @media screen and (max-width: 920px)
      {
        padding: 0px;
      }

      .wrapper_inneritems {
        width: 80%;
        margin: 0 auto;

        h1 {
          text-align: center;
          font-size: 30px;
          line-height: 58px;
          font-size: 30px;
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
          letter-spacing: 0px;
          color: #161616;
          opacity: 1;
        }
        p {
          letter-spacing: 0.27px;
          width: 100% !important;
          color: #696969;
          opacity: 1;
          width: 63%;
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
          text-align: center;
          letter-spacing: 0.27px;
          color: #696969;
          opacity: 1;
          font-weight: 400;
        }

        .contents_wrapper {
          margin: 3em 0.5em 0 0.5em;
          width: 100%;
          height: auto;
          .item1 {
            position: relative;
            top: 15px;

            h6 {
              margin-bottom: 1em;
              font-size: 22px;
              text-align: left;
              letter-spacing: 0px;
              color: #161616;
              font-family: "Montserrat", sans-serif;
              margin-bottom: 20px;
            }

            .inputs_experience {
              display: flex;
              align-items: center;

              .checkbox_label {
                color: #2c2c2c;
                font-size: 18px;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                margin: 0 2em 0 0;
              }
            }
          }

          .item2 {
            margin-top: 45px;
            .blue_line {
              width: 160px;
              height: 0.5px;
              background-color: #53bfd2;
              position: relative;
              top: -16px;
              left: 4px;
            }
            h6 {
              margin-bottom: 1em;
              font-size: 22px;
              text-align: left;
              letter-spacing: 0px;
              color: #161616;
              font-family: "Montserrat", sans-serif;
              margin-bottom: 20px;
            }
            span {
              font-size: 10px;
              cursor: pointer;
            }
            h5 {
              cursor: pointer;
              font-size: 15px;
              color: #53bfd2;
              position: relative;
              top: -9px;
            }

            .inputs_experience {
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 0.5em;
              align-items: center;

              input {
                width: 574px;
                margin-right: 1em;
                padding: 0.3em 1em;
                height: 45px;

                border: 2px solid #bcbcbc;
                border-radius: 30px;
                opacity: 1;
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 500;
                top: -10px;
                position: relative;
                &:nth-child(2) {
                  width: 30%;
                }
                &:nth-child(3) {
                  width: 30%;
                }
              }
              input::placeholder {
                color: #bcbcbc;
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 500;
              }
              input:focus {
                outline: none;
              }
            }
          }
          .item3 {
            margin: 2em 0 2em 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .blue_line {
              width: 128px;
              height: 1.5px;
              background-color: #53bfd2;
              position: relative;
              top: -8px;
              left: 4px;
            }
            h6 {
              font-size: 22px;
              text-align: left;
              letter-spacing: 0px;
              color: #161616;
              font-family: "Montserrat", sans-serif;

              margin-bottom: 0.7em;
            }
            h5 {
              cursor: pointer;
              font-size: 12px;
              color: #53bfd2;
              font-size: 15px;
            }

            .inputs_background {
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 0.5em;
              align-items: center;

              input {
                width: 100%;
                margin-right: 1em;
                padding: 0.3em 1em;
                height: 45px;

                border: 2px solid #bcbcbc;
                border-radius: 30px;
                opacity: 1;
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 500;
                position: relative;
                &:nth-child(2) {
                  width: 650px;
                }
                &:nth-child(3) {
                  width: 30%;
                  border: 0;
                }
              }
              input::placeholder {
                color: #bcbcbc;
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 500;
              }
              input:focus {
                outline: none;
              }
              .custom-file-input {
                color: transparent;
                width: 65%;
              }
              .custom-file-input::-webkit-file-upload-button {
                visibility: hidden;
              }
              .custom-file-input::before {
                content: "upload";
                outline: none;

                border: 0;

                text-transform: uppercase;
                color: black;
                font-weight: bold;
              }
              .custom-file-input:hover::before {
                border-color: black;
              }
              .custom-file-input:active {
                outline: 0;
              }
              .custom-file-input:active::before {
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
              }

              .checkarrow {
                position: relative;
                right: 150px;
              }
            }
          }
          .item4 {
            margin: 2.5em 0 2em 0;
            h6 {
              font-size: 22px;
              text-align: left;
              letter-spacing: 0px;
              color: #161616;
              font-family: "Montserrat", sans-serif;
              margin-bottom: 16px;
            }
            textarea {
              width: 98%;
              height: 135px;

              border: 2px solid #bcbcbc;
              border-radius: 20px;
              font-size: 18px;
              color: #161616;
              font-family: "Montserrat", sans-serif;
              font-weight: 500;
              padding: 0.5em 1em;
            }
            textarea::placeholder {
              font-size: 18px;
              color: #bcbcbc;
              font-style: italic;
              font-family: "Montserrat", sans-serif;
              font-weight: 500;
            }
            textarea:focus {
              outline: none;
            }

            .inp_main {
              width: 500px;
            }
          }
          .item5 {
            margin: 2.5em 0 2em 0;

            h6 {
              font-size: 22px;
              text-align: left;
              letter-spacing: 0px;
              color: #161616;
              font-family: "Montserrat", sans-serif;
              margin-bottom: 16px;
            }

            select {
              border-radius: 50px;
              border: 2px solid #bcbcbc;
              box-shadow: 0 0;
              outline: 0;
              background: white;
              max-height: 45px;
              min-height: 45px;
              width: 100%;
              padding: 0px 20px;
              font-size: 18px;
              background: url("../../../assets/files/SVG/Drop Down 4.svg") 95%
                center no-repeat;
              background-color: transparent;
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              font-weight: 500;
              option {
                color: black;
                border: 2px solid #bcbcbc;
              }
            }
            select::placeholder {
              color: #bcbcbc;
              font-family: Montserrat;
              font-size: 18px;
              font-weight: 500;
            }

            .inputs_experience_drop {
              input {
                background: transparent;
                width: 100%;
                padding: 0.5em 1em;
                border-radius: 50px;
                border: 2px solid #bcbcbc;
                outline: none;
                -webkit-appearance: none;
                appearance: none;
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 500;
                color: #696969;
                height: 45px;
              }
              input::placeholder {
                color: #bcbcbc;
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 500;
              }
              input:focus {
                outline: none;
              }
            }
          }
          .item6 {
            margin: 2.6em 0 2em 0;
            h6 {
              margin-bottom: 1em;

              font-size: 22px;
              text-align: left;
              letter-spacing: 0px;
              color: #161616;
              font-family: "Montserrat", sans-serif;
              margin-bottom: 14px;
            }
            textarea {
              width: 98%;
              height: 135px;

              border: 2px solid #bcbcbc;
              border-radius: 20px;
              font-size: 18px;
              color: #161616;
              font-family: "Montserrat", sans-serif;
              font-weight: 500;
              padding: 0.5em 1em;
            }
            textarea::placeholder {
              font-size: 18px;
              color: #bcbcbc;
              font-style: italic;

              font-family: "Montserrat", sans-serif;
              font-weight: 500;
            }
            textarea:focus {
              outline: none;
            }
          }
          .submit_button {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
              outline: none;
              background: rgb(83, 191, 210);
              border: 0;
              margin: 1em;
              width: 210px;
              height: 52px;
              padding: 0.5em 2em;
              text-transform: uppercase;
              color: #fff;
              font-weight: bold;
              margin-top: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              a {
                display: flex;
                align-items: center;
                justify-content: center;
              }
              img {
                width: auto;
                margin-left: 1em;
                color: red;
              }
            }
          }
        }
      }
    }
    .bg_watermark {
      position: relative;
      top: 0px;
      left: -50px;
    }
  }
}
