.main {
  height: 800px;
  .wrapper_about {
    height: 100vh;

    h2 {
      margin-top: 2em;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 18px;
      width: 80%;
      margin: 0 auto;
      color: #696969;
      letter-spacing: 0.27px;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      line-height: 30px;
    }
    .wrapper_inputs {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 2em;

      .wrapper_innerInput {
        margin: 1em;
        width: 40%;

        label {
          font-size: 22px;
        }
        input {
          width: 100%;
          padding: 0.3em 1em;
          height: 45px;
          border: 1.5px solid var(--unnamed-color-bcbcbc);
          border: 2px solid #bcbcbc;
          border-radius: 30px;
          opacity: 1;
        }
        input::placeholder {
          font-size: 16px;
          color: #bcbcbc;
          margin: 0;
          padding: 0;
        }
        input:focus {
          outline: none;
        }

        select {
          background: transparent;
          width: 100%;
          margin: 0.5em 1em 0.5em 0;
          padding: 0.4em 0.5em;
          border-radius: 50px;
          border: 1px solid #bcbcbc;
          outline: none;
          appearance: none;
        }

        select:invalid {
          color: #bcbcbc;
        }
        .iconwrapper {
          display: flex;
          margin: 0;
          padding: 0;
          img {
            margin-left: -3em;
          }
        }
      }
      .submit_button {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          display: flex;
          align-items: center;
          outline: none;
          background: #53bfd2;
          border: 0;
          margin: 1em;
          width: 210px;
          height: 52px;
          text-decoration: none;
          padding: 0.2em 0.5em 0.2em 2em !important;
          text-transform: uppercase;
          color: #fff;
          font-weight: bold;
          img {
            width: auto;
            margin-left: 1em;
            color: red;
          }
        }
      }
    }
  }
}
