.content {
    width: 100%;
    height: auto;
    padding: 3em 4em;
    background: #f6f6f6 0% 0% no-repeat padding-box;
    .smallContainer {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        // margin: 7em auto;
        padding: 1em;

        @media screen and (max-width: 920px) {
            grid-template-columns: auto;
            height: auto;
        }

        .personal {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 90%;
            @media screen and (max-width: 920px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .personal_img {
                height: 100px;
                width: auto;
            }

            .personal_heading {
                padding: 20px 0;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-600) var(--unnamed-font-size-22) /
                    var(--unnamed-line-spacing-34)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-222222);
                text-align: left;
                font: normal normal 600 22px/34px Montserrat;
                letter-spacing: 0px;
                color: #222222;
                opacity: 1;
                @media screen and (max-width: 1150px) and (min-width: 920px) {
                    height: 100px;
                }
                @media screen and (max-width: 920px) {
                    padding: 20px 0;
                    text-align: center;
                    font: normal normal 600 18px Montserrat;
                }
            }
            .personal_description {
                word-wrap: break-word;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-30)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0-27);
                text-align: left;
                font: normal normal normal 18px/30px Montserrat;
                letter-spacing: 0.27px;
                color: #696969;
                opacity: 1;
                @media screen and (max-width: 920px) {
                    font: normal normal normal 14px Montserrat;
                    padding: 0 1em;
                    text-align: center;
                }
            }
        }
    }
}
