.TF_outter_container {
  width: 100%;
  height: 1500px;
  background: #f6f6f6;
  opacity: 1;
  margin-bottom: 5rem;

  .TF_inner_container {
    .TF_headers {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        margin-top: 2em;
        text-align: center;
        letter-spacing: 0px;
        color: #161616;
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
        font-weight: 600;
        line-height: 58px;
      }
      p {
        width: 997px;
        text-align: center;
        letter-spacing: 0.27px;
        color: #696969;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 30px;
      }
    }
    .TF_wrapper {
      .TF_inner_wrapper {
        display: grid;
        grid-template-columns: 60% 40%;
        height: auto;
        grid-template-rows: auto;
        grid-column-gap: 40px;
        margin-top: 3em;
        .TF_wrapper_left {
          height: 100%;
          background: #ffffff;
          box-shadow: 0px 3px 12px #16161608;
          opacity: 1;
          overflow: auto;
          border-radius: 15px;
          .TF_wrapper_content {
            padding: 3em 5em;
            // border-radius: 15px;

            h2 {
              margin: 1em 0;
              text-align: left;
              letter-spacing: -0.45px;
              color: #161616;
              font-family: "Cormorant Garamond", sans-serif;
              font-size: 45px;
              font-weight: bold;
              line-height: 55px;
            }
            .TF_form {
              form {
                h3 {
                  margin: 0 0 0.5em 0;
                  text-align: left;
                  letter-spacing: 0px;
                  color: #626262;
                  opacity: 1;
                  font-size: 28px;
                  font-family: "Montserrat", sans-serif;
                  font-weight: 500;
                }
                .TF_inner_form {
                  .TF_wrapper_input {
                    display: flex;
                    // align-items: center;
                    flex-wrap: wrap;

                    h4 {
                      text-align: left;
                      letter-spacing: 0px;
                      color: #2c2c2c;
                      font-family: "Montserrat", sans-serif;
                      font-size: 20px;
                      font-weight: normal;
                      line-height: 58px;
                    }
                    .inner_input {
                      display: flex;
                      width: 100%;
                      position: relative;
                      input {
                        height: 45px;
                        width: 100%;
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        padding: 1em 1.5em;
                        padding-right: 2.4rem;
                      }
                      input::placeholder {
                        font-size: 18px;
                        font-family: Montserrat;
                      }
                      input:focus {
                        outline: none;
                      }
                      img {
                        position: absolute;
                        right: 15px;
                        bottom: 0.9rem;
                      }
                    }
                    .TF_input {
                      margin: 1em 0;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      width: 100%;
                      input {
                        height: 45px;
                        width: 48%;
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                        padding: 1em 1.5em;
                        padding-right: 2.4rem;
                      }
                      .inner_input {
                        display: flex;
                        width: 100%;
                        input {
                          height: 45px;
                          width: 100%;
                          border: 2px solid #bcbcbc;
                          border-radius: 30px;
                          opacity: 1;
                          padding: 1em 1.5em;
                          padding-right: 2.4rem;
                        }
                        input::placeholder {
                          font-size: 18px;
                          font-family: Montserrat;
                        }
                        input:focus {
                          outline: none;
                        }
                        img {
                          position: absolute;
                          right: 15px;
                          // bottom: 2.3rem;
                        }
                      }
                    }
                  }
                }
                .TF_remember_left {
                  display: flex;
                  align-items: center;
                  width: 100%;

                  .TF_check {
                    margin: 0.5em;
                    padding: 0;
                  }
                  input {
                    width: 15px;
                    height: 15px;

                    border: 2px solid #bcbcbc;
                    opacity: 1;
                  }
                  label {
                    margin-left: 0.5em;
                    font-size: 15px;
                    padding: 0 0 0 0em;
                    color: #898989;
                    text-align: left;
                    letter-spacing: 0px;
                    position: relative;
                    left: 0px;
                    font-family: "Montserrat", sans-serif;
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 42px;
                  }
                }
                .TF_button {
                  margin-top: 3em;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 280px;
                    height: 52px;
                    background: #53bfd2;
                    opacity: 1;
                    outline: none;
                    border: none;
                    text-align: right;
                    letter-spacing: 0.45px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 22px;
                  }
                  h5 {
                    text-decoration: underline;
                    letter-spacing: 0px;
                    color: #53bfd2;
                    letter-spacing: 0px;
                    font-size: 15px;
                    font-family: Montserrat;
                    font-weight: 600;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
        .TF_wrapper_right {
          height: 100%;
          border-radius: 15px;

          background: #ffffff;
          box-shadow: 0px 3px 12px #16161608;
          opacity: 1;
          .TF_right {
            height: auto;
            padding: 4em 2em;
            border-radius: 30px;
            background: #ffffff;
            box-shadow: 0px 3px 12px #16161608;
            opacity: 1;
            .TF_profile {
              display: flex;
              align-items: center;
              img {
                width: 92px;
                height: 92px;
                border-radius: 50px;
              }
              .TF_name {
                margin-left: 1em;
                h2 {
                  text-align: left;
                  letter-spacing: -0.35px;
                  color: #161616;
                  font-family: "Cormorant Garamond", sans-serif;
                  font-size: 35px;
                  font-weight: bold;
                  line-height: 45px;
                }
                p {
                  text-align: left;
                  letter-spacing: 0.9px;
                  color: #898989;
                  text-transform: uppercase;
                  font-family: "Montserrat", sans-serif;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 22px;
                }
              }
            }
            .TF_wrapper {
              .TF_details {
                margin-top: 2em;
                h3 {
                  text-align: left;
                  letter-spacing: 0.75px;
                  color: #898989;
                  text-transform: uppercase;
                  font-family: "Montserrat", sans-serif;
                  font-size: 15px;
                  font-weight: 600;
                  line-height: 22px;
                }
                .TF_data_inner {
                  display: flex;
                  align-items: center;
                  h4 {
                    margin-left: 1em;
                    letter-spacing: 0px;
                    color: #161616;
                    opacity: 1;
                    font-size: 22px;
                    font-weight: 600;
                    font-family: "Montserrat", sans-serif;
                  }
                }
              }

              .TF_service_details {
                margin-top: 2em;
                .TF_service_wrapper {
                  width: 100%;
                  .TF_service_left {
                    display: flex;
                    justify-content: flex-start;
                    // border-radius: 15px;
                    .TF_service_header {
                      width: 100%;
                      .TF_inner_header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h3 {
                          height: 35px;
                          font-family: Montserrat;
                          font-size: 20px;
                          font-weight: 600;
                          letter-spacing: 0px;
                          color: #626262;
                          opacity: 1;
                        }
                      }

                      .TF_data_item {
                        .TF_data_title {
                          h3 {
                            text-align: left;
                            letter-spacing: 0.3px;
                            color: #898989;
                            opacity: 1;
                            cursor: pointer;
                            margin-top: 0.5em;
                            font-family: "Montserrat", sans-serif;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 35px;
                          }
                          .line {
                            margin-top: 0.5em;
                            height: 2px;
                            width: 80% !important;
                            background-color: #bcbcbc;
                          }
                          .line.show {
                            display: none;
                          }
                        }
                        .TF_DT_grid {
                          display: grid;
                          grid-template-columns: 50% 50%;
                          grid-template-rows: auto;
                          align-items: center;
                          justify-content: space-between;
                          .TF_DT_left {
                            .TF_DT_content {
                              overflow: hidden;
                              transition: all 0.5s cubic-bezier(0, 1, 0, 1);
                              max-height: 0;
                              p {
                                text-align: left;
                                letter-spacing: 0px;
                                color: #898989;
                                transition: 0.2s ease-in-out;
                                font-family: "Montserrat", sans-serif;
                                font-size: 20px;
                                font-weight: normal;
                                line-height: 58px;
                              }
                              p:hover {
                                color: black;
                              }
                            }
                            .TF_DT_contentshow {
                              width: 100%;
                              margin: 0;
                              padding: 0;
                              max-height: 999px;
                              transition: all 0.5s cubic-bezier(1, 1, 1, 0);
                              p {
                                margin: 0;
                                padding: 0;
                                text-align: left;
                                letter-spacing: 0px;
                                color: #898989;
                                opacity: 1;
                                width: 100%;
                                font-family: "Montserrat", sans-serif;
                                font-size: 20px;
                                font-weight: normal;
                                line-height: 58px;
                              }

                              div {
                                height: 2px;
                                width: 80% !important;
                                background-color: #bcbcbc;
                              }
                            }
                          }
                          .TF_DT_right {
                            .TF_DT_content {
                              overflow: hidden;
                              transition: all 0.5s cubic-bezier(0, 1, 0, 1);
                              max-height: 0;
                              p {
                                text-align: left;
                                letter-spacing: 0px;
                                color: #898989;
                                font-family: "Montserrat", sans-serif;
                                font-size: 20px;
                                font-weight: normal;
                                line-height: 58px;
                              }
                            }
                            .TF_DT_contentshow {
                              height: auto;

                              width: 100%;
                              margin: 0;
                              padding: 0;
                              max-height: 999px;
                              transition: all 0.5s cubic-bezier(1, 1, 1, 0);
                              p {
                                text-align: right;
                                margin: 0;
                                padding: 0;
                                letter-spacing: 0px;
                                color: #898989;
                                font-family: "Montserrat", sans-serif;
                                font-size: 20px;
                                font-weight: normal;
                                line-height: 58px;
                                width: 100%;
                              }

                              div {
                                height: 2px;
                                width: 80% !important;
                                background-color: #bcbcbc;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .TF_skip {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 4em 0 3em 0;
        h2 {
          text-align: center;
          letter-spacing: 0px;
          color: #222222;
          font-family: Montserrat;
          font-size: 22px;
          margin: 0;
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          text-align: center;
          margin-left: 1em;
          text-align: right;
          letter-spacing: 0.45px;
          color: #161616;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
          width: 100%;
        }
      }
    }
  }
}

.session-item {
  text-align: left;
  letter-spacing: 0px;
  color: #898989;
  transition: 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: normal;
  //   line-height: 58px;
}

.TF_data_item {
  &:not(.no-border) {
    border-bottom: 2px solid #e6e6e6;
  }
}

.react-tel-input {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .TF_outter_container {
    margin-top: 2rem;
    
    height: unset;
    .TF_inner_container {
      
      .TF_wrapper {
        .TF_skip
        {
          display: unset;
         
          h2{
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            margin-top: 2rem;
          }
        }
        .TF_inner_wrapper {
          display: unset;

          .TF_wrapper_left {
            .TF_wrapper_content {
              padding-top: 3em;
              padding-left: 1em;
              padding-right: 1em;
            }
          }
        }
      }
      .TF_headers {
        p {
          width: unset;
        }
      }
    }
  }
}
