.best-match-container {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 3rem;

  .main-loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;


  .no-match {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 3rem;

    p {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0px;
      color: #53bfd2;
      text-transform: uppercase;
    }
  }
  }

  @media only screen and (max-width: 900px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .trainer-card__grid {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .trainer-card__grid > * {
    margin-bottom: 4rem;
    justify-self: center;
  }

  .view-more-trainer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 1rem;

    .view-more-trainer__cta {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 19px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 0.45px;
      color: #161616;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}
