.best-match-container {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 3rem;

  .main-loader{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: 900px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .trainer-card__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .trainer-card__grid > * {
    margin-bottom: 4rem;
  }

  .view-more-trainer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 1rem;

    .view-more-trainer__cta {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 19px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 0.45px;
      color: #161616;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
}
