.main_message_container {
    background-color: #f6f6f6;
    padding: 1em;
    height: auto;

    .message_outter_container {
        width: 100%;
        height: 100vh;
        padding: 0 4em;
        h2 {
            text-align: left;
            letter-spacing: 0px;
            color: #161616;
            font-size: 40px;
            line-height: 58px;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
        }

        .message_inner {
            height: 500px;
            margin: 2em 0 0 0;
            .message_wrapper {
                .rwt__tab {
                    text-align: center;
                    letter-spacing: 0.9px;
                    color: #161616;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: bold;
                    font-family: "Montserrat", sans-serif;
                }
                button {
                    padding: 0.5em 0.6em 0.5em 0;
                    margin: 0 1em 0 0;
                }
                .message_inner {
                    .message_inner_one {
                        display: grid;
                        grid-template-columns: 30% 70%;
                        grid-template-rows: auto;
                        height: 500px;
                        margin: 4em 2em;
                        border-radius: 20px;
                        .message_left {
                            -moz-box-shadow: 0 5px 0 0 #e9e9e9;
                            -webkit-box-shadow: 0 5px 0 0 #e9e9e9;
                            box-shadow: 0 5px 0 0 #e9e9e9;
                            height: 550px;
                            background-color: #ffffff;

                            a {
                                text-decoration: none;

                                .inner_link {
                                    border-radius: 20px 0 0px 0px;
                                    display: flex;
                                    align-items: center;
                                    padding: 1em 0.5em;
                                    width: 100%;
                                    height: 100px;

                                    background-color: rgb(255, 255, 255);
                                    transition: 0.2s ease;

                                    &:hover {
                                        background-color: rgb(224, 224, 224);
                                    }
                                    img {
                                        width: 66px;
                                        height: 66px;
                                        opacity: 1;
                                        border-radius: 50px;
                                    }
                                    .message_link_notify {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        justify-content: center;
                                        margin-left: 0.5em;
                                        padding: 1em 0.2em;
                                        h3 {
                                            text-align: left;
                                            letter-spacing: 0px;
                                            color: #161616;
                                            opacity: 1;
                                            margin: 0;
                                            padding: 0;
                                            font-size: 16px;
                                            line-height: 20px;
                                            font-weight: 600;
                                            font-family: "Montserrat",
                                                sans-serif;
                                        }
                                        h6 {
                                            text-align: left;
                                            letter-spacing: 0px;
                                            color: #2c2c2c;
                                            font-size: 12px;
                                            line-height: 20px;
                                            font-weight: normal;
                                            font-family: "Montserrat",
                                                sans-serif;
                                        }
                                    }
                                }
                            }
                        }
                        .message_right {
                            height: 550px;

                            .message_right_chatarea {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: center;
                                height: 550px;
                                .message_right_header {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 0.5em;
                                    background-color: #ffffff;
                                    -moz-box-shadow: 3px 3px 5px 6px #ccc;
                                    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
                                    box-shadow: 0px 10px 0px 0px
                                        rgb(238, 173, 173);
                                    h2 {
                                        text-align: center;
                                        letter-spacing: 0px;
                                        color: #161616;
                                        opacity: 1;
                                        margin: 0;
                                        padding: 0;
                                        font-size: 22px;
                                        line-height: 58px;
                                        font-weight: 600;
                                        font-family: "Montserrat", sans-serif;
                                    }
                                    .message_header_times {
                                        display: flex;
                                        align-items: center;
                                        .message_header_items {
                                            display: flex;
                                            align-items: center;
                                            h5 {
                                                text-align: left;

                                                letter-spacing: 0px;
                                                color: #898989;
                                                opacity: 1;
                                                margin: 0 1em 0 0.5em;
                                                padding: 0;
                                                font-size: 15px;
                                                line-height: 42px;
                                                font-weight: 500;
                                                font-family: "Montserrat",
                                                    sans-serif;
                                            }
                                        }
                                    }
                                }
                                .message_right_textarea {
                                    width: 100%;
                                    height: 100%;
                                    background-color: #faf9f9;
                                    padding: 1em;
                                    overflow: auto;
                                    .message_chat_right {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-end;
                                        justify-content: flex-end;
                                        img {
                                            width: 40px;
                                            height: 40px;
                                        }
                                        .message_text {
                                            top: 0px;
                                            position: relative;
                                            right: 20px;
                                            margin: 0.5em;
                                            width: 325px;
                                            height: 100px;

                                            background: #efefef;
                                            opacity: 1;
                                            h5 {
                                                width: 272px;
                                                text-align: left;
                                                letter-spacing: 0px;
                                                color: #2c2c2c;
                                                padding: 1em;
                                                font-size: 12px;
                                                line-height: 20px;
                                                font-weight: normal;
                                                font-family: "Montserrat",
                                                    sans-serif;
                                            }
                                        }
                                    }
                                    .message_chat_left {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        justify-content: flex-start;
                                        img {
                                            width: 40px;
                                            height: 40px;
                                        }
                                        .message_text {
                                            top: 0px;
                                            position: relative;
                                            left: 20px;
                                            margin: 0.5em;
                                            width: 325px;
                                            height: 100px;

                                            background: #efefef;

                                            h5 {
                                                width: 272px;
                                                text-align: left;
                                                letter-spacing: 0px;
                                                color: #2c2c2c;
                                                padding: 1em;
                                                font-size: 12px;
                                                line-height: 20px;
                                                font-weight: normal;
                                                font-family: "Montserrat",
                                                    sans-serif;
                                            }
                                        }
                                    }
                                }
                                .message_right_input {
                                    width: 100%;
                                    height: 50px;
                                    display: flex;
                                    align-items: center;

                                    background-color: rgb(248, 248, 248);
                                    input {
                                        width: 100%;
                                        height: 50px;
                                        border: none;
                                    }
                                    input::placeholder {
                                        text-align: left;
                                        letter-spacing: 0px;
                                        color: #898989;
                                        font-style: italic;
                                        font-size: 20px;
                                        line-height: 30px;
                                        font-weight: normal;
                                        font-family: "Montserrat", sans-serif;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
