.wrapper {
    width: 600px;
    margin: 0 auto;
}

.accordion-wrapper {
    & + * {
        margin-top: 0.5em;
    }
}

.accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
}

.accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
    font-weight: 600;
    cursor: pointer;
    color: black;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;

    &::after {
        content: url("../../../../assets/files/SVG/Cross 2.svg");
        // width: 20px;
        // height: 2px;
        // background-color: rgb(0, 0, 0);
        // background-image: url("../../../assets/files/SVG/Negative.svg");
    }

    &:hover,
    &.open {
        color: #666;
    }

    &.open {
        &::after {
            content: url("../../../../assets/files/SVG/Negative.svg");
        }
    }
}

// .accordion-content {
//     padding: 0em 0;
// }
