.outter_container_card {
    width: 100%;
    height: auto;
    .card_prev_link {
        margin-top: 3em;

        width: 100%;
        a {
            text-align: right;
            display: flex;
            justify-content: flex-end;
            letter-spacing: 0px;
            color: #53bfd2;
            font-size: 15px;
            font-weight: 500;
            font-family: Montserrat;
            text-decoration: underline;
        }
    }

    .card_outter {
        width: 100%;
        padding: 0 9em;

        .card_outter_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 6em;
            h2 {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-bold) var(--unnamed-font-size-45) /
                    var(--unnamed-line-spacing-55)
                    var(--unnamed-font-family-cormorant-garamond);
                letter-spacing: var(--unnamed-character-spacing--0-45);
                color: var(--unnamed-color-161616);
                text-align: center;
                font: normal normal bold 45px/55px Cormorant Garamond;
                letter-spacing: -0.45px;
                color: #161616;
                opacity: 1;
            }
            p {
                letter-spacing: 0.27px;
                width: 100% !important;
                color: #696969;
                opacity: 1;
                width: 63%;
                font-size: 18px;
                font-family: Montserrat;
                text-align: center;
                letter-spacing: 0.27px;
                color: #696969;
                opacity: 1;
                font-weight: 500;
            }
        }
        .card_inner {
            // background-color: blueviolet;
            width: 100%;
            margin-top: 3em;
            .card_form_outter {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                .card_item1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    input {
                        display: none;
                    }
                    button {
                        width: 200px;
                        border-radius: 100px;
                        outline: none;
                        height: 200px;
                        background-color: #53bfd2;
                        cursor: pointer;
                        border: none;
                        margin-top: 5px;
                    }
                    button:active {
                        border: none;
                    }
                    h5 {
                        margin-top: 1em;
                        font-size: 22px;
                        color: #161616;
                        font-family: Montserrat;
                        font-weight: 600;
                        text-align: center;
                        font: normal normal medium 22px/42px Montserrat;
                        letter-spacing: 0px;
                    }
                    .combin_profile {
                        display: flex;

                        img:nth-child(2) {
                            margin-top: 9em;
                            margin-left: -3em;
                            width: 50px !important;
                            height: 50px !important;
                            cursor: pointer;
                            transition: 0.2s ease-in-out;
                        }
                        img:nth-child(2):hover {
                            padding: 0.2em;
                        }
                    }
                }
                .card_item2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    margin: 2em 1em 1em 1em;
                    h6 {
                        margin-top: 1em;
                        font-size: 22px;
                        color: #161616;
                        font-family: Montserrat;
                        font-weight: 500;
                        letter-spacing: var(--unnamed-character-spacing-0);
                        text-align: left;
                        font: normal normal medium 22px/42px Montserrat;
                        letter-spacing: 0px;
                        text-transform: capitalize;
                        opacity: 1;
                    }
                    .card_innerItem {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        input {
                            display: flex;
                            justify-content: space-between;

                            border-radius: 50px;
                            background: transparent;
                            border: 1px solid #bcbcbc;
                            font: var(--unnamed-font-style-normal) normal
                                var(--unnamed-font-weight-medium)
                                var(--unnamed-font-size-20) /
                                var(--unnamed-line-spacing-42)
                                var(--unnamed-font-family-montserrat);
                            color: #898989;
                            font-size: 20px;
                            color: #161616;
                            font-family: Montserrat;
                            font-weight: 500;
                            padding: 0 1.5em;
                            height: 45px;
                            width: 95%;
                        }
                    }
                }
                .card_item3 {
                    margin: 3.5em 1em 1em 1em;

                    h6 {
                        margin-top: 1em;
                        font-size: 22px;
                        color: #161616;
                        font-family: Montserrat;
                        font-weight: 500;
                        letter-spacing: var(--unnamed-character-spacing-0);
                        text-align: left;
                        font: normal normal medium 22px/42px Montserrat;
                        letter-spacing: 0px;
                        text-transform: capitalize;
                        opacity: 1;
                    }
                    .inputs_experience {
                        display: flex;
                        align-items: center;
                        label {
                            margin: 0 2em 0 0.5em;
                            font-size: 18px;

                            letter-spacing: 0px;
                            color: #2c2c2c;
                            font-family: Montserrat;
                            font-weight: 500;
                            text-align: left;
                            opacity: 1;
                        }
                    }
                }
                .card_item4 {
                    margin: 2em 1em 1em 1em;

                    h6 {
                        margin: 1em 0 0.5em 0;
                        font-size: 22px;
                        color: #161616;
                        font-family: Montserrat;
                        font-weight: 500;
                        letter-spacing: var(--unnamed-character-spacing-0);
                        text-align: left;
                        font: normal normal medium 22px/42px Montserrat;
                        letter-spacing: 0px;
                        text-transform: capitalize;
                        opacity: 1;
                    }
                    textarea {
                        width: 100%;
                        height: 135px;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 20px;
                        font-size: 18px;
                        color: #161616;
                        font-family: "Montserrat";
                        font-weight: 500;
                        padding: 0.5em 1em;
                    }
                    textarea::placeholder {
                        font-size: 18px;
                        color: #bcbcbc;
                        font-style: italic;
                        font-family: "Montserrat";
                        font-weight: 500;
                    }
                    textarea:focus {
                        outline: none;
                    }
                }
                .card_item5 {
                    margin: 3.3em 1em 1em 1em;
                    h6 {
                        margin-top: 1em;
                        font-size: 22px;
                        color: #161616;
                        font-family: Montserrat;
                        font-weight: 500;
                        letter-spacing: var(--unnamed-character-spacing-0);
                        text-align: left;
                        font: normal normal medium 22px/42px Montserrat;
                        letter-spacing: 0px;
                        text-transform: capitalize;
                        opacity: 1;
                    }
                    p {
                        font: var(--unnamed-font-style-normal) normal
                            var(--unnamed-font-weight-normal)
                            var(--unnamed-font-size-18) /
                            var(--unnamed-line-spacing-30)
                            var(--unnamed-font-family-montserrat);
                        letter-spacing: var(--unnamed-character-spacing-0-27);
                        color: var(--unnamed-color-2c2c2c);
                        text-align: left;
                        font: normal normal normal 18px/30px Montserrat;
                        letter-spacing: 0.27px;
                        color: #2c2c2c;
                    }
                }
                .card_item6 {
                    height: auto;
                    margin: 2em 1em 1em 1em;

                    .card_accordion {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin: 1em 0em;

                        .iconwrapper {
                            width: 48%;
                            display: flex;
                            margin: 0;
                            padding: 0;
                            img {
                                margin-left: -3.3em;
                                position: relative;
                                top: -9px;
                            }
                            input {
                                width: 100% !important;
                                margin: 1em 1em 1em 0;
                                border-radius: 50px;
                                background: transparent;
                                width: 500px;
                                height: 45px;
                                font-size: 22px;
                                color: #161616;
                                font-family: Montserrat;
                                font-weight: 500;
                                border: 1.5px solid var(--unnamed-color-bcbcbc);
                                border: 2px solid #bcbcbc;
                                border-radius: 30px;
                                opacity: 1;
                                margin-right: 1em;
                                padding: 0.3em 1em;
                                opacity: 1;
                                top: -10px;
                                position: relative;
                                @media screen and (max-width: 1023px) {
                                    width: 100% !important;
                                }
                            }
                            input::placeholder {
                                font-size: 15px;
                                font: var(--unnamed-font-style-normal) normal
                                    var(--unnamed-font-weight-normal)
                                    var(--unnamed-font-size-20) /
                                    var(--unnamed-line-spacing-30)
                                    var(--unnamed-font-family-montserrat);
                                letter-spacing: var(
                                    --unnamed-character-spacing-0-3
                                );
                                text-align: left;
                                font: normal normal normal 15px/30px Montserrat;
                                color: #898989;
                            }
                        }
                    }
                }
                .submit_button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 5em;

                    a {
                        outline: none;
                        background: #53bfd2;
                        border: 0;
                        margin: 1em;
                        text-decoration: none;
                        padding: 0.2em 0.5em 0.2em 2em !important;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: bold;
                        margin-top: 55px;
                        width: 333px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 5em;
                    }
                }
            }
        }
    }
}
