.wrapper_heading
    margin: 2em 0 1em 0
    padding: 1em
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    h2
        text-align: center
        font-size: 40px

    p
        text-align: center
        width: 50%

.row
    display: grid
    grid-template-columns: auto auto auto
    grid-template-rows: auto
    grid-column-gap: 20px
    justify-items: center
    align-items: center
    @media screen and (max-width: 920px)
        grid-template-columns: auto

    .card
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center
        margin: 1em 0
        height: auto
        width: 314px
        border-radius: 50px
        background: #ffffff

        .card-img-top
            width: 314px
            height: 200px
            border-radius: 20px 20px 0 0
        .card-body
            width: 314px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            h4
                font-size: 35px
            h6
                font-size: 18px

            p
                font-size: 12px
        .card-button
            button
                display: flex
                align-items: center
                justify-content: space-between
                padding: 0 0.8em
                margin: 0 auto
                width: 314px
                height: 62px
                outline: none
                border: 0
                cursor: pointer
                border-radius: 0 0 20px 20px
                // background: #53BFD2
                text-transform: uppercase
                font-weight: bold
                color: #fff
                p
                    margin: 0
                    text-transform: lowercase
                    display: flex
                    align-items: center
                    transition: .2s ease-in-out

                    font: italic normal 300 15px sans-sarif

                img
                    position: absolute
                    left: 50%
                    width: 40px
                span
                    margin-left: 0.3em
                    font: normal normal 300 16px sans-sarif

                // &:hover
                //     background: red
.showmore
    display: flex
    justify-content: center
    margin: 1em 0 3em 0
    padding: 0 1em

    .showmore_btn
        outline: none
        border: none
        padding: 0 1em
        text-transform: uppercase
        font-weight: bold
        img
            margin: 0 0 0 1em

.readmore
    margin: 0 0.5em
    text-decoration: underline
    transition: .2s ease-in-out
    &:hover
        color: #53BFD2

.no_match
    text-align: center
