.dd-wrapper {
    width: 100% !important;
    .dd-header {
        border-radius: 50px !important;
        border: 2px solid #bcbcbc !important;
        span {
            padding: 0.3em !important;
            svg {
                color: #bcbcbc !important;
                width: auto !important;
            }
        }
        .dd-header-title {
            margin: 2px 20px !important;
            margin-right: 30px !important;
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) /
                var(--unnamed-line-spacing-42)
                var(--unnamed-font-family-montserrat);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-898989);
            text-align: left !important;
            font: normal normal normal 20px/42px Montserrat !important;
            letter-spacing: 0px;
            color: #898989 !important;
        }
    }
    .dd-list {
        .dd-scroll-list {
            height: auto !important;
            background-color: #fff !important;
            max-height: none !important;
            overflow-y: hidden !important;
            .dd-list-item {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-medium)
                    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-42)
                    var(--unnamed-font-family-montserrat);
                color: var(--unnamed-color-898989);
                text-align: left !important;
                font: normal normal 20px/42px Montserrat !important;
                letter-spacing: 0.2px !important;
                color: #898989 !important;
                font-family: 500 !important;
                &:hover {
                    background-color: #53bfd2 !important;
                }
            }
        }
    }
}
