.payment_container {
    width: 100%;
    height: auto;
    .payment_wrapper {
        .payment_heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-bold) var(--unnamed-font-size-45) /
                    var(--unnamed-line-spacing-55)
                    var(--unnamed-font-family-cormorant-garamond);
                letter-spacing: var(--unnamed-character-spacing--0-45);
                color: var(--unnamed-color-161616);
                text-align: center;
                font: normal normal bold 45px/55px Cormorant Garamond;
                letter-spacing: -0.45px;
                color: #161616;
                opacity: 1;
            }
            p {
                width: 70%;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-30)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0-27);
                text-align: center;
                font: normal normal normal 18px/30px Montserrat;
                letter-spacing: 0.27px;
                color: #696969;
                opacity: 1;
            }
        }
        .payment_inner {
            .payment_item1 {
                margin: 1em 0 2em 0;

                h6 {
                    font-size: 22px !important;
                    margin: 2em 0 1em 0;
                    color: #161616;
                    opacity: 1;
                    font-size: 22px;
                    font-family: "Montserrat";
                    font-weight: 500;
                }
                .inputs_payment1 {
                    display: grid;
                    grid-template-columns: 33% 33% 23% 9%;
                    grid-template-rows: auto;
                    align-items: center;
                    width: 1100px;
                    grid-column-gap: 20px;
                    select {
                        background: transparent;
                        width: 130%;
                        margin: 0.5em 1em 0.5em 0;
                        padding: 0em 1.5em;
                        border-radius: 50px;
                        border: 2px solid #bcbcbc;
                        outline: none;
                        appearance: none;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 500;
                        color: #161616;
                        height: 45px;
                        background: url("../../../../../assets/files/SVG/Drop Down 4.svg")
                            95% center no-repeat;
                        background-color: transparent;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;

                        option {
                            color: black;
                            border-radius: 100px;
                            border: 2px solid #bcbcbc;
                        }
                    }
                    select::placeholder {
                        color: #bcbcbc;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 400;
                    }
                    select:invalid {
                        color: #bcbcbc;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 500;
                    }

                    input {
                        width: 100% !important;
                        margin: 1em 1em 1em 0;
                        border-radius: 50px;
                        background: transparent;
                        height: 45px;
                        font-size: 22px;
                        color: #161616;
                        font-family: Montserrat;
                        font-weight: 500;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                        margin-right: 1em;
                        padding: 0.3em 2em 0.3em 1em;
                        opacity: 1;
                        // top: -10px;
                        // position: relative;
                    }
                    input::placeholder {
                        font-size: 18px;
                        font-weight: 400;
                        font-family: Montserrat;
                        color: #898989;
                    }
                    input:nth-child(3) {
                        border: none;
                    }
                    .custom-file-input {
                        color: transparent;
                        width: 65%;
                    }
                    .custom-file-input::-webkit-file-upload-button {
                        visibility: hidden;
                    }
                    .custom-file-input::before {
                        content: "upload";
                        outline: none;

                        border: 0;
                        // margin: 0 1em;
                        // padding: 0.5em 2em;
                        text-transform: uppercase;
                        color: black;
                        font-weight: bold;
                    }
                    .custom-file-input:hover::before {
                        border-color: black;
                    }
                    .custom-file-input:active {
                        outline: 0;
                    }
                    .custom-file-input:active::before {
                        background: -webkit-linear-gradient(
                            top,
                            #e3e3e3,
                            #f9f9f9
                        );
                    }

                    .checkarrow {
                        position: relative;
                        right: 150px;
                    }
                }
            }
            .payment_item2 {
                margin: 1em 0 2em 0;

                h6 {
                    margin: 2em 0 1em 0;
                    color: #161616;
                    opacity: 1;
                    font-size: 22px;
                    font-family: "Montserrat";
                    font-weight: 500;

                    letter-spacing: 0px;
                }
                .inputs_payment {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 85%;
                    select {
                        background: transparent;
                        width: 380px;
                        margin: 0.5em 1em 0.5em 0;
                        padding: 0em 1.5em;
                        border-radius: 50px;
                        border: 2px solid #bcbcbc;
                        outline: none;
                        appearance: none;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 500;
                        color: #161616;
                        height: 45px;
                        background: url("../../../../../assets/files/SVG/Drop Down 4.svg")
                            95% center no-repeat;
                        background-color: transparent;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;

                        option {
                            color: black;
                            border-radius: 100px;
                            border: 2px solid #bcbcbc;
                        }
                    }
                    select::placeholder {
                        color: #bcbcbc;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 400;
                    }
                    select:invalid {
                        color: #bcbcbc;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 500;
                    }

                    input {
                        width: 320px !important;
                        margin: 1em 1em 1em 0;
                        border-radius: 50px;
                        background: transparent;
                        width: 500px;
                        height: 45px;
                        font-size: 22px;
                        color: #161616;
                        font-family: Montserrat;
                        font-weight: 500;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                        margin-right: 1em;
                        padding: 0.3em 2em 0.3em 1em;
                        opacity: 1;
                        position: relative;
                        right: 40px;

                        @media screen and (max-width: 1023px) {
                            width: 100% !important;
                        }
                    }
                    input::placeholder {
                        font-size: 18px;
                        font-weight: 400;
                        font-family: Montserrat;

                        color: #898989;
                    }
                    input:nth-child(3) {
                        border: none;
                    }
                }
            }
        }
    }
}
