.outter_terms_container {
    padding: 3em 3em;
    width: 100%;
    height: auto;

    .div_outer {
        padding: 3em 3em;

        .box1 {
            h2 {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-600) var(--unnamed-font-size-40) /
                    var(--unnamed-line-spacing-58)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-161616);
                text-align: left;
                font: normal normal 600 40px/58px Montserrat;
                letter-spacing: 0px;
                color: #161616;
                opacity: 1;
            }

            p {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-18) / 33px
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0);
                text-align: left;
                font: normal normal normal 18px/33px Montserrat;
                letter-spacing: 0px;
                color: #696969;
                opacity: 1;
            }
        }

        .box2 {
            h5 {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-600) var(--unnamed-font-size-40) /
                    var(--unnamed-line-spacing-58)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-161616);
                text-align: left;
                font: normal normal 600 25px/58px Montserrat;
                letter-spacing: 0px;
                color: #161616;
                opacity: 1;
            }

            ul {
                li {
                    color: #53bfd2;
                }
                li span {
                    font: var(--unnamed-font-style-normal) normal
                        var(--unnamed-font-weight-normal)
                        var(--unnamed-font-size-18) / 33px
                        var(--unnamed-font-family-montserrat);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    text-align: left;
                    font: normal normal normal 18px/33px Montserrat;
                    letter-spacing: 0px;
                    color: #696969;
                    opacity: 1;
                    list-style-type: none;
                }
            }

            p {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-18) / 33px
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0);
                text-align: left;
                font: normal normal normal 18px/33px Montserrat;
                letter-spacing: 0px;
                color: #696969;
                opacity: 1;
            }
        }
    }
    .readmore_button {
        margin-bottom: 8em;
        button {
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-bold) var(--unnamed-font-size-18) /
                var(--unnamed-line-spacing-22)
                var(--unnamed-font-family-montserrat);
            color: var(--unnamed-color-161616);
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.45px;
            color: #161616;
            text-transform: uppercase;
            opacity: 1;
            text-decoration: none;
            margin-bottom: 1em;
            border: none;
            width: 100%;
        }
    }

    .common_margin {
        margin-top: 24px;
    }

    .common_margin_li {
        margin-top: 9px;
    }
}
