.inner_card {
    position: relative;
    transition: all 1.5s ease;
    width: 332px;
    height: 200px;
    border-radius: 20px 20px 0 0;
}
.inner_card img {
    display: block;
    transition: all 1.5s ease;
    width: 332px !important;
    height: 200px;
    border-radius: 20px 20px 0 0;
}
.content_card {
    position: absolute;
    top: 45%;
    .circle_hover_card {
        background-color: #53bfd2;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: wrap;
        text-align: center;
        border-radius: 100px;
        position: relative;
        top: -70px;
        right: 0;
        left: 230px;
        p {
            padding: 0 0.5em !important;
            text-align: center;
            font-size: 10px;
            margin: 0 auto;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            text-transform: capitalize;
        }
    }
}
.overlay_card {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    left: 0;
    height: 100%;
    width: 100%;
    transition: ease 0.5s;
    background: rgba(7, 7, 7, 0.301);
    opacity: 0;
    border-radius: 20px 20px 0 0;
}
.inner_card:hover .overlay_card {
    opacity: 1;
}
// .inner img:hover {
//     transform: scale(0.5);
//     opacity: 0.5;
//     filter: alpha(opacity=50);
//     background-color: rgba(0, 0, 0, 0.5);
//     transition: all 1s;
//     -webkit-transition: all 1s;
// }
