.big_container {
    width: 100%;
    margin: 7em 0;
    .experience_upper_container {
        opacity: 1;
        .heading {
            padding-bottom: 40px;
            text-align: center;
            letter-spacing: -0.45px;
            color: #161616;
            font-size: 45px;
            line-height: 55px;
            font-weight: bold;
            font-family: "Cormorant Garamond", sans-serif;
            @media screen and (max-width: 920px) {
                font-size: 25px;
                line-height: 35px;
            }
        }
    }

    .personal_container_trainer {
        display: grid;
        grid-template-columns: 35% 65%;
        grid-column-gap: 50px;
        width: 100%;
        align-items: flex-start;
        height: 500px;
        margin-top: 2em;
        @media screen and (max-width: 1023px) {
            grid-template-columns: auto;
            height: auto;
        }
        .personal_trainer_description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .heading {
                padding-bottom: 15px;
                text-align: left;
                letter-spacing: 0px;
                color: #161616;
                font-size: 38px;
                line-height: 58px;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
                @media screen and (max-width: 1023px) {
                    text-align: center;
                    font-size: 24px;
                    line-height: 38px;
                }
            }
            p {
                padding-bottom: 30px;
                text-align: left;
                letter-spacing: 0.27px;
                color: #2c2c2c;
                font-size: 16px;
                line-height: 32px;
                font-weight: normal;
                font-family: "Montserrat", sans-serif;
                @media screen and (max-width: 1023px) {
                    text-align: center;
                    font-size: 14px;
                    line-height: 32px;
                }
            }
        }
        .right_container {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-column-gap: 0px;
            height: 550px;
            @media screen and (max-width: 1023px) {
                grid-template-columns: auto;
                height: auto;
            }
        }
        .flex-contents_trainer {
            display: flex;
            align-items: center;
            // margin: 0 0em 1em 0;
            height: 100px;
            @media screen and (max-width: 1023px) {
                justify-content: space-between;
                padding: 0 1em;
            }
            .image img {
                width: 100px;
                height: 100px;
            }
            p {
                text-align: left;
                margin: 0 10px;
                letter-spacing: 0.3px;
                color: #2c2c2c;
                font-size: 18px;
                line-height: 32px;
                font-weight: normal;
                font-family: "Montserrat", sans-serif;
                @media screen and (max-width: 1023px) {
                    font-size: 16px;
                    line-height: 22px;
                    padding: 0 0 0 1em;
                }
            }
        }
    }
}
