.react-responsive-modal-modal {
    border-radius: 10px;
    position: relative;
    @media screen and (max-width: 1024px) {
        width: auto;
    }
}
.close_login {
    position: relative;
    top: 30px;
    left: -30px;
}
.outter_container {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 590px;
    overflow: auto;

    .inner_container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        height: 40px;

        svg {
            cursor: pointer;
            width: 28px;
            height: 28px;
            opacity: 1;
        }
    }
    .wrapper_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        h2 {
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-bold) var(--unnamed-font-size-45) /
                var(--unnamed-line-spacing-55)
                var(--unnamed-font-family-cormorant-garamond);
            letter-spacing: var(--unnamed-character-spacing--0-45);
            color: var(--unnamed-color-161616);
            text-align: center;
            font: normal normal bold 45px/55px Cormorant Garamond;
            letter-spacing: -0.45px;
            color: #161616;
            opacity: 1;
        }
        p {
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
                var(--unnamed-line-spacing-32)
                var(--unnamed-font-family-montserrat);
            letter-spacing: var(--unnamed-character-spacing-0-27);
            color: var(--unnamed-color-2c2c2c);
            text-align: center;
            font: normal normal normal 18px/32px Montserrat;
            letter-spacing: 0.27px;
            color: #2c2c2c;
            opacity: 1;
        }

        .form_item_login {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .input_item1_signin {
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 0.5em 0;
                width: 100%;
                color: #242424;
                margin: 0 auto;

                input {
                    height: 45px;
                    width: 90%;
                    border: 1.5px solid var(--unnamed-color-bcbcbc);
                    border: 2px solid #bcbcbc;
                    border-radius: 30px;
                    opacity: 1;
                    padding: 0em 1.5em;
                    font-size: 18px;
                    color: var(--unnamed-color-898989) !important;
                    font: var(--unnamed-font-style-normal) normal
                        var(--unnamed-font-weight-normal)
                        var(--unnamed-font-size-20) /
                        var(--unnamed-line-spacing-42)
                        var(--unnamed-font-family-montserrat);
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0 auto;
                }
                input::placeholder {
                    color: #898989;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                }
                input:focus {
                    outline: none;
                }

                img {
                    position: absolute;
                    right: 47px;

                    margin: 0 auto;
                    padding: 0.8em 0 0.8em 1em;
                }
                span {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    font-size: 10px;
                    text-align: left !important;
                    color: red;
                    font-family: Montserrat;
                    font-weight: 500;
                    width: 80%;
                    margin: 0 auto;
                    padding: 0.5em 0 0 0;
                }
            }

            .submit_button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1em;
                .login_button {
                    margin-top: 1em;
                    outline: none;
                    background: rgb(83, 191, 210);
                    border: 0;
                    width: 425px;
                    padding: 0.8em;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: bold;
                    height: 52px;
                    background: var(--unnamed-color-53bfd2) 0% 0% no-repeat
                        padding-box;
                    background: rgb(83, 191, 210) 0% 0% no-repeat padding-box;
                    opacity: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: auto;
                        margin-left: 1em;
                    }
                }
            }
            .errorMessage {
                text-align: center;
                display: flex;
                justify-content: center;
                font-size: 10px;
                padding: 0em 1em 0 1em;
                text-align: left !important;
                color: red;
                font-weight: bold;
            }
        }

        .remember_container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0 1em 0 2em;

            .remember_left {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 32%;

                .check {
                    margin: 0;
                    padding: 0;
                    width: 10%;
                }

                label {
                    font-size: 15px;
                    padding: 0 0 0 0.5em;
                    color: #898989;
                    font: var(--unnamed-font-style-normal) normal 300 15px /
                        var(--unnamed-line-spacing-42)
                        var(--unnamed-font-family-montserrat);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-898989);
                    text-align: left;
                    font: normal normal 300 15px/42px Montserrat;
                    letter-spacing: 0px;
                    color: #898989;
                    position: relative;
                    left: -20px;
                    height: 35px;
                }
            }

            .forgotpass_right {
                width: 50%;
                display: flex;
                justify-content: flex-end;

                .forgotpass {
                    font-style: italic;
                    font-weight: 800;
                    font-size: 15px;
                    font-family: Montserrat;
                    letter-spacing: 0px;
                    color: rgb(83, 191, 210);
                }
            }
        }
        .or_items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5em 0em;
            margin: 0 0 2em 0;

            p {
                margin: 0;
                padding: 0 1em;
                text-transform: uppercase;
            }

            .hr_line {
                width: 208px;
                height: 0px;
                border: 1px solid var(--unnamed-color-bcbcbc);
                border: 1px solid #bcbcbc;
                opacity: 1;
            }
        }
        .social_buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 2em 0;

            .facebook-auth {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                outline: none;
                border: 1px solid #bcbcbc;
                width: 80%;
                background-color: #fff;
                color: #bcbcbc;
                border-radius: 50px;
                margin: 0.2em 1em;
                width: 425px;
                height: 45px;
                border: 1.5px solid var(--unnamed-color-bcbcbc);
                border: 2px solid #bcbcbc;
                border-radius: 30px;
                opacity: 1;
                color: #898989;
                font-family: Montserrat;
                font-size: 18px;

                img {
                    margin: 0.5em 1.3em;
                    width: 10px;
                }
            }
            .google-auth {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: #fff;
                color: #bcbcbc;
                outline: none;
                border: 1px solid #bcbcbc;
                border-radius: 50px;
                margin: 0.7em 1em;
                width: 425px;
                height: 45px;
                border: 1.5px solid var(--unnamed-color-bcbcbc);
                border: 2px solid #bcbcbc;
                border-radius: 30px;
                opacity: 1;
                color: #898989;
                font-family: Montserrat;
                font-size: 18px;

                img {
                    margin: 0.5em 1em;
                    width: 20px;
                }
            }
        }
        .login_items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            h4 {
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-222222);
                text-align: center;
                font-size: 20px;
                font-family: Montserrat;
                font-weight: 600;
                letter-spacing: 0px;
                color: #222222;
                opacity: 1;
                margin-top: 2em;
            }
            .links_item_signup {
                display: flex;
                align-items: center;
                padding: 1em 0;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-align: right;
                    letter-spacing: 0.45px;
                    color: #161616;
                    text-transform: uppercase;
                    opacity: 1;
                    font-family: Montserrat;
                    font-weight: 800 !important;
                    font-size: 18px !important;
                    letter-spacing: 0px;
                    color: #000 !important;
                    text-decoration: none;
                }
                .user_signup {
                    display: flex;
                    justify-content: flex-end;
                }
                .trainer_signup {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}
