.trainer-filter-container {
  width: 100%;
  padding-bottom: 4rem;
  background-color: #f8f8f8;

  .search-filter{
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

     padding-top: 3rem;
     padding-bottom: 5rem;

     @media only screen and (max-width: 900px) {
       display: none;
      }
  }
}
