.trainer-filter-container {
  width: 100%;
  padding-bottom: 4rem;
  background-color: #f8f8f8;

  .mobile-filter {
    display: none;

    @media only screen and (max-width: 900px) {
      display: -webkit-box;

      display: -ms-flexbox;

      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .mobile-filter-bar {
        margin-top: 100px;
        height: 60px;
        width: 93%;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        -webkit-box-shadow: 0px 3px 12px #dedede;
        box-shadow: 0px 3px 12px #dedede;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .mobile-filter__txt {
          font-size: 19px;
          font-family: "Montserrat", sans-serif;
          letter-spacing: 0.45px;
          color: #161616;
          font-weight: 500;
          padding-left: 1rem;
        }

        .mobile-filter__icon {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          font-size: 25px;
          height: 50px;
          width: 50px;
          border-radius: 50px;
          background-color: #53bfd2;
          margin-right: 5px;
          color: white;
        }
      }
    }
  }

  .search-filter {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding-top: 3rem;
    padding-bottom: 5rem;

    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  .outside-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 3rem;

    p {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0px;
      color: #bcbcbc;
      text-transform: lowercase;
    }
  }

  
}
