.wrapper_heading
    
    margin: 2em 0 1em 0
    padding: 1em
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    h2
        text-align: center
        margin: 0 0 0.5em 0
        line-height: 30px
        font-size: 40px
        font-weight: 600
        font-family: "Montserrat", sans-serif
        @media screen and (max-width: 600px)
           font-size: 25px

    p

        text-align: center
        letter-spacing: 0.27px
        color: #696969
        width: 70%
        line-height: 30px
        font-size: 18px
        font-weight: normal
        font-family: "Montserrat", sans-serif
        @media screen and (max-width: 600px)
           width: 100%
           text-align: justify


.row
    display: grid
    justify-items: center
    align-items: center
    grid-row-gap: 30px
    @media screen and (max-width: 920px)
        grid-template-columns: auto

    .card
        
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center
        margin: 1em 0
        width: 314px
        height: 100%
        border-radius: 50px
        background: #fff !important

        .card-img-top
            width: 100%
            height: 200px
            border-radius: 20px 20px 0 0

      
            

        .card-body
            width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            h3

                text-align: center
                letter-spacing: -0.35px
                color: #161616
                line-height: 45px
                font-size: 32px
                font-weight: bold
                font-family: "Cormorant Garamond", sans-serif
            h6

                text-align: center
                letter-spacing: 0.9px
                color: #898989
                text-transform: uppercase
                margin-bottom: 1em
                font-family: 'Montserrat'
                font-size: 14px !important
                font-weight: 600

            p

                text-align: center
                letter-spacing: 0.24px
                color: #898989
                font-family: 'Montserrat'
                font-size: 12px !important
                font-weight: 500
                button
                    outline: none
                    border: none

                    text-align: center
                    text-decoration: underline
                    letter-spacing: 0.24px
                    color: #2C2C2C
                    line-height: 22px
                    font-size: 15px
                    font-weight: 600
                    font-family: "Montserrat", sans-serif

        .card-button
            button
                display: flex
                align-items: center
                justify-content: space-between
                padding: 0 0.6em !important
                margin: 0 auto
                width: 314px
                height: 62px
                outline: none
                border: 0
                cursor: pointer
                border-radius: 0 0 20px 20px

                text-transform: uppercase
                font-weight: bold
                color: #fff
                p
                    margin: 0
                    text-transform: lowercase
                    display: flex
                    align-items: center
                    transition: .2s ease-in-out
                    font-size: 15px
                    font-weight: 600
                    font-family: "Montserrat", sans-serif
                    font-style: italic

                img
                    position: absolute
                    left: 50%
                    width: 40px
                span
                    margin-left: 0.3em
                    font-size: 16px
                    font-weight: 300
                    font-family: "Montserrat", sans-serif
                   
                    

.showmore
    display: flex
    justify-content: center
    margin: 1em 0 3em 0
    padding: 0 1em

    .showmore_btn
        outline: none
        border: none
        padding: 0 1em
        text-transform: uppercase
        font-weight: bold
        img
            margin: 0 0 0 1em

.readmore
    margin: 0 0.5em
    text-decoration: underline
    transition: .2s ease-in-out
    &:hover
        color: #53BFD2

.no_match
    color: #53BFD2
    text-align: center

    margin: 2em 0 0em 0
    line-height: 30px
    font-size: 40px
    font-weight: 600
    font-family: "Montserrat", sans-serif
