$primary-bg: #ffffff
$text-color: #161616
$logo: #53BFD2
$secondary-bg: #F8F8F8

$nice-dates-color-gray-dark: #00ebfc
$nice-dates-color-gray: #999
$nice-dates-color-gray-light: #ddd
$nice-dates-color-accent: $nice-dates-color-gray-dark
$nice-dates-font-size-small: 12px
$nice-dates-font-size-base: 14px
$nice-dates-font-size-big: 16px
.card-box
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    width: 1140px
    height: 100px
    border-radius: 50px
    padding: 0 1em
    border: 2px solid #70707046
    background: $primary-bg

    .card-wrapper_home
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        grid-template-rows: auto
        grid-column-gap: 10px
        align-items: center
        justify-content: center
        width: 1250px
        padding: 1em 0 1em 1em
        border-radius: 50px
        border: none
        display: flex
        justify-content: center
        flex-direction: row

        .item1, .item2, .item3, .item4
            text-align: left
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            padding: 0 0 0 1em
            border: none
            width: 100%
            h3
                text-align: left
                letter-spacing: 0px
                color: #161616
                text-transform: capitalize
                opacity: 1
                font-size: 18px

                font-family: 'Montserrat'
                font-weight: 600

            .card_item_home
                display: flex
                flex-direction: column
                align-items: center
                margin: 0
                height: 33px
                button
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-42) var(--unnamed-font-family-montserrat)
                    letter-spacing: var(--unnamed-character-spacing-0)
                    color: var(--unnamed-color-898989)
                    text-align: left
                    font: normal normal normal 16px/42px Montserrat
                    letter-spacing: 0px
                    color: #898989
                    opacity: 1
                    background: transparent
                    outline: none
                    border: none
                    padding: 0 0.5em 0 0em
                    margin: 0
                button:focus
                    color: $logo
                button:hover
                    color: $logo
                input
                    border: none
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-42) var(--unnamed-font-family-montserrat)
                    letter-spacing: var(--unnamed-character-spacing-0)
                    color: var(--unnamed-color-898989)
                    text-align: left
                    font: normal normal normal 18px/42px Montserrat
                    letter-spacing: 0px
                    color: #898989
                    opacity: 1
                    width: 132px
                    height: 24px
                img
                    padding: 0 0.5em
                .custom_dropdown
                    display: flex
                    width: 100%
                    h2
                        width: -10px
                        height: 34px
                        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-42) var(--unnamed-font-family-montserrat)
                        letter-spacing: var(--unnamed-character-spacing-0)
                        color: var(--unnamed-color-898989)
                        text-align: left
                        font: normal normal normal 18px/42px Montserrat
                        letter-spacing: 0px
                        color: #898989
                        opacity: 1
                        cursor: pointer
                .home_dropdown
                    width: 200px
                    position: relative
                    top: 4px
                    right: 70px
            .card_item_home_item3
                display: flex
                justify-content: space-between
                align-items: center
                width: 80%
                height: 25px

                .nice-dates-navigation, .nice-dates-day
                    color: #53BFD2

                .nice-dates-popover
                    box-shadow: none
                    border: 1px solid #ddd
                    border-radius: 2px
                    max-width: 280px
                    height: auto
                    padding: 1em
                    transition: none

                    .nice-dates-grid
                        height: 350px

    input
        border: none
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-42) var(--unnamed-font-family-montserrat)
        letter-spacing: var(--unnamed-character-spacing-0)
        color: var(--unnamed-color-898989)
        text-align: left
        font: normal normal normal 18px/42px Montserrat
        letter-spacing: 0px
        color: #898989
        opacity: 1
        width: 132px
        height: 24px

    .item5
        display: flex
        border: none
        width: 100px
        position: relative
        right: 50px
        margin-left: 1em
        .circle
            background: $logo
            border-radius: 100px
            width: 80px
            height: 80px
            display: flex
            border: none
            align-items: center
            svg
                display: flex
                align-items: center
                margin: 0 auto
                font-size: 2em
                color: $primary-bg
.line
    display: flex
    align-items: center
    justify-content: center
