.background {
    background: transparent url("../../../../src/assets/Home/Banner/Banner.png")
        0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    background-size: cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;

    .cntr_cotainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: 1023px) {
            justify-content: space-between;
        }

        .heading_items {
            display: flex;
            justify-content: center;
            flex-direction: column;
            @media screen and (max-width: 1023px) {
                align-items: flex;
                justify-content: flex-start;
            }

            .heading_txt {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-bold) 60px/75px
                    var(--unnamed-font-family-cormorant-garamond);
                text-align: center;
                font: normal normal bold 60px/75px Cormorant Garamond;
                letter-spacing: -1.2px;
                color: #000000;
                text-shadow: 0px 3px 6px #c6c6c6;
                opacity: 1;
                @media screen and (max-width: 1023px) {
                    font: normal normal bold 40px/75px Cormorant Garamond;
                }
            }

            .sub_heading_txt {
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-medium)
                    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-30)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0-3);
                color: var(--unnamed-color-2c2c2c);
                text-align: center;
                font: normal normal medium 20px/30px Montserrat;
                letter-spacing: 0.3px;
                color: #2c2c2c;
                text-shadow: 0px 3px 6px #62412329;
                opacity: 1;
                @media screen and (max-width: 1023px) {
                    font: normal normal medium 14px/30px Montserrat;
                }
            }
        }

        .search-box {
            // width: 1400px;
            height: 100px;
            background: var(--unnamed-color-f8f8f8) 0% 0% no-repeat padding-box;
            background: #f8f8f8 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 12px #624123;
            border-radius: 150px;
            opacity: 1;
            margin-top: 5rem;
            min-width: 1000px;
            max-width: 1920px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .inner-choice-1 {
                margin-left: 50px;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-medium)
                    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-42)
                    var(--unnamed-font-family-montserrat);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-161616);
                text-align: left;
                font: normal normal medium 18px/42px Montserrat;
                letter-spacing: 0px;
                color: #161616;
                text-transform: capitalize;
                opacity: 1;
            }

            .inner-choice {
                img {
                    padding: 11px;
                }
            }
        }
    }
}
