.main_wrappercontainer {
    width: 100%;
    height: auto;
    margin-bottom: 8em;
    .link_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
        a {
            color: #000;
        }
    }
    .wrapper_inneritem {
        width: 80%;
        margin: 0 auto;
        h1 {
            text-align: center;
            font-size: 35px;
        }
        p {
            text-align: center;
            font-size: 18px;
            width: 80%;
            margin: 0 auto;
        }

        .content_wrapper {
            margin: 3em 0.5em;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            align-items: center;
            width: 100%;
            // background-color: chocolate;
            height: auto;
            .item_1 {
                margin: 1em 0 2em 0;

                .inputs_platform {
                    input {
                        width: 90%;
                        border: 1px solid #bcbcbc;
                        padding: 0.3em 1em;
                        border-radius: 50px;
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
            .item_2 {
                margin: 1em 0 2em 0;

                .inputs_platform {
                    display: flex;
                    justify-content: space-around;

                    button {
                        border-radius: 50px;
                        padding: 0.5em 2.5em;
                        border: 0;
                    }
                    :active {
                        background-color: #000;
                        color: #fff;
                    }
                    :hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
            .item_3 {
                margin: 1em 0 2em 0;
                label {
                    margin-right: 3em;
                }
                .inputs_platform {
                    display: flex;
                    justify-content: space-around;
                }
            }
            .item_4 {
                margin: 1em 0 2em 0;

                .inputs_platform {
                    label {
                        margin-right: 3em;
                    }
                    input {
                        width: 100%;
                        border: 1px solid #bcbcbc;
                        padding: 0.3em 1em;
                        border-radius: 50px;
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
            .item_5 {
                margin: 1em 0 2em 0;
                label {
                    margin-right: 3em;
                }

                .inputs_platform {
                    display: flex;
                    justify-content: space-around;
                }
            }
            .item_6 {
                margin: 1em 0 2em 0;

                .inputs_platform {
                    input {
                        width: 100%;
                        border: 1px solid #bcbcbc;
                        padding: 0.3em 1em;
                        border-radius: 50px;
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
        }
        .submit_button {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                outline: none;
                background: #53bfd2;
                border: 0;
                margin: 1em;
                padding: 0.5em 2em;
                text-transform: uppercase;
                color: #fff;
                font-weight: bold;
                img {
                    width: auto;
                    margin-left: 1em;
                    color: red;
                }
            }
        }
    }
}
