.main_wrappercontainer {
    width: 100%;
    height: auto;
    margin-bottom: 8em;
    .link_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2em;

        .inner_links {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                margin-left: 1em;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-normal)
                    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-42)
                    var(--unnamed-font-family-montserrat);
                color: var(--unnamed-color-161616);
                text-align: left;
                font: normal normal normal 16px/22px Montserrat;
                letter-spacing: 0.18px;
                color: #161616;
                opacity: 1;
                text-decoration: none;
            }
            div {
                width: 95%;
                height: 2px;
                margin-left: 1.5em;
                background-color: #53bfd2;
            }
        }
    }
    .wrapper_inneritem {
        width: 80%;
        margin: 0 auto;

        h1 {
            text-align: center;
            font-size: 35px;
        }
        p {
            text-align: center;
            font-size: 18px;
            width: 80%;
            margin: 0 auto;
            color: #696969;
            letter-spacing: 0.27px;
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            line-height: 30px;
        }

        .content_wrapper {
            margin: 3em 0.5em;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            align-items: center;
            width: 100%;
            // background-color: chocolate;
            height: auto;
            .item_1 {
                margin: 1em 0 2em 0;

                .inputs_platform {
                    input {
                        width: 90%;
                        padding: 0.3em 1em;
                        height: 45px;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
            .item_2 {
                margin: 1em 0 2em 0;

                .inputs_platform {
                    display: flex;
                   
                    button {
                        border-radius: 50px;
                        padding: 0.5em 2.5em;
                        border: 0;
                        margin-right: 20px;

                    }
                    :active {
                        background-color: #000;
                        color: #fff;
                    }
                    :hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
            .item_3 {
                margin: 1em 0 2em 0;
                label {
                    margin-right: 3em;
                }
                .inputs_platform {
                    display: flex;
                    justify-content: space-around;
                }
            }
            .item_4 {
                margin: 1em 0 2em 0;

                .inputs_platform {
                    label {
                        margin-right: 3em;
                    }
                    input {
                        width: 100%;
                        padding: 0.3em 1em;
                        height: 45px;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
            .item_5 {
                margin: 1em 0 2em 0;
                label {
                    margin-right: 3em;
                }

                .inputs_platform {
                    display: flex;
                    justify-content: space-around;
                }
            }
            .item_6 {
                margin: 1em 0 2em 0;

                .inputs_platform {
                    input {
                        width: 100%;
                        padding: 0.3em 1em;
                        height: 45px;
                        border: 1.5px solid var(--unnamed-color-bcbcbc);
                        border: 2px solid #bcbcbc;
                        border-radius: 30px;
                        opacity: 1;
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
        }
        .submit_button {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                outline: none;
                background: #53bfd2;
                border: 0;
                margin: 1em;
                width: 210px;
                height: 52px;
                display: flex;
                align-items: center;
                padding: 0.5em 2em;
                text-transform: uppercase;
                color: #fff;
                font-weight: bold;
                img {
                    width: auto;
                    margin-left: 1em;
                    color: red;
                }
            }
        }
    }
}
