.profile_main_admin {
    height: 100%;
    width: 1060px !important;
    .profile_outter_container {
        width: 100%;
        height: 100%;

        .profile_wrapper_container {
            .profile_header {
                width: 100%;
                height: 400px;
                background: #141414;

                .inner_profile {
                    position: relative;
                    top: 150px;
                    display: grid;
                    grid-template-columns: auto 30% 35%;
                    align-items: flex-start;
                    img {
                        width: 350px;
                        height: 400px;
                        opacity: 1;
                    }
                    .profile_header_inner {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin: 4em 0 0 2em;

                        h2 {
                            text-align: left;
                            letter-spacing: -0.45px;
                            color: #ffffff;
                            font-family: Cormorant Garamond;
                            font-size: 45px;
                            line-height: 55px;
                            font-weight: bold;
                        }
                        p {
                            text-align: left;
                            letter-spacing: 1.1px;
                            color: #898989;
                            text-transform: uppercase;
                            font-family: Montserrat;
                            font-size: 22px;
                            line-height: 22px;
                            font-weight: 500;
                            text-decoration: none;
                        }
                    }
                    .profile_header_link {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        text-align: right;
                        margin: 4em 0 0 4em;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            text-align: right;
                            letter-spacing: 0.18px;
                            color: #bcbcbc;
                            font-family: Montserrat;
                            font-size: 18px;
                            line-height: 25px;
                            font-weight: 500;
                            border-bottom: 2px solid #53bfd2;
                        }
                        a:hover {
                            text-decoration: none;
                        }
                        img {
                            margin-right: 0.5em;
                            width: 10px;
                            height: 15px;
                        }
                    }
                }
            }
            .profile_main_contents {
                display: grid;
                grid-template-columns: 30% 64%;
                grid-template-rows: auto;
                margin-top: 10em;
                grid-column-gap: 62px;
                // height: 900px;
                .profile_aside {
                    // background: chocolate;
                    .profile_aside_link {
                        a {
                            text-align: left;
                            letter-spacing: 0.18px;
                            color: #161616;
                            font-family: Montserrat;
                            font-size: 18px;
                            line-height: 45px;
                            font-weight: normal;
                            border-bottom: 2px solid #53bfd2;
                        }
                        a:hover {
                            text-decoration: none;
                        }
                        img {
                            margin-left: 0.5em;
                        }
                    }
                    .profile_aside_items {
                        // background: crimson;
                        height: auto;
                        width: 100%;
                        margin: 1em 0;
                        .profile_aside_item {
                            margin-top: 3em;
                            h2 {
                                text-align: left;
                                letter-spacing: 1px;
                                color: #2c2c2c;
                                text-transform: uppercase;
                                font-family: Montserrat;
                                font-size: 16px;
                                line-height: 22px;
                                font-weight: 600;
                            }
                            hr {
                                width: 350px;
                                height: 0px;
                                border: 2px solid #e3e3e3;
                                opacity: 1;
                            }
                            .model_Qmark {
                                position: relative;
                                bottom: 10px;
                                margin-left: 0.2em;
                                cursor: pointer;
                                border: none;
                            }
                            .profile_aside_inner_item {
                                h6 {
                                    text-align: left;
                                    font-size: 25px;
                                    font-weight: bold;
                                    font-family: Montserrat;
                                    letter-spacing: 0.63px;
                                    color: #2c2c2c;
                                    opacity: 1;
                                    span {
                                        text-align: left;
                                        letter-spacing: 0.24px;
                                        color: #696969;
                                        font-family: Montserrat;
                                        font-size: 16px;
                                        line-height: 30px;
                                        font-weight: normal;
                                    }
                                }
                                h5 {
                                    text-align: left;
                                    font-style: italic;
                                    font-size: 18px;
                                    font-weight: medium;
                                    font-family: Cormorant Garamond;
                                    letter-spacing: 0.27px;
                                    color: #696969;
                                    opacity: 1;
                                    width: 350px;
                                }
                                .profile_location {
                                    display: flex;
                                    align-items: center;
                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }
                                    h4 {
                                        display: flex;
                                        text-align: left;
                                        letter-spacing: 0.24px;
                                        color: #696969;
                                        font-family: Montserrat;
                                        font-size: 16px;
                                        line-height: 30px;
                                        font-weight: normal;
                                        margin: 0 0 0 0em;
                                        padding: 0 0 0 0.5em;
                                        width: 100%;
                                        a {
                                            text-align: left;
                                            text-decoration: underline;
                                            font-size: 15px;
                                            font-weight: bold;
                                            font-family: Montserrat;
                                            letter-spacing: 0px;
                                            color: #53bfd2;
                                            opacity: 1;
                                            padding: 0 0 0 0.5em;
                                        }
                                    }
                                }
                                .profile_share {
                                    display: flex;
                                    align-items: center;
                                    margin-top: 3em;
                                    a {
                                        text-align: left;
                                        text-decoration: underline;

                                        font-size: 15px;
                                        font-weight: bold;
                                        font-family: Montserrat;
                                        letter-spacing: 0px;
                                        color: #53bfd2;
                                        opacity: 1;
                                        padding: 0 0 0 1em;
                                    }
                                }
                            }
                        }
                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 3em;
                            width: 350px;
                            height: 52px;
                            background: #53bfd2 0% 0% no-repeat padding-box;
                            opacity: 1;
                            text-transform: uppercase;
                            text-align: right;
                            letter-spacing: 0.45px;
                            color: #ffffff;
                            text-transform: uppercase;
                            outline: none;
                            border: none;
                            font-family: Montserrat;
                            font-size: 18px;
                            line-height: 22px;
                            font-weight: bold;
                        }
                    }
                }
                .profile_trainer_data {
                    // background: cornflowerblue;
                    .profile_right_data {
                        .profile_right_item1 {
                            display: flex;
                            align-items: flex-start;
                            h6 {
                                text-align: left;
                                font: normal normal normal 22px/38px Montserrat;
                                letter-spacing: 0.33px;
                                color: #696969;
                                font-family: Montserrat;
                                font-size: 22px;
                                line-height: 38px;
                                font-weight: normal;
                                margin-left: 1em;
                            }
                        }
                        .profile_right_item2 {
                            margin-top: 3em;
                            h4 {
                                text-align: left;
                                letter-spacing: 1px;
                                color: #2c2c2c;
                                text-transform: uppercase;
                                font-family: Montserrat;
                                font-size: 20px;
                                line-height: 22px;
                                font-weight: 600;
                            }
                            p {
                                text-align: left;
                                letter-spacing: 0.27px;
                                color: #696969;
                                font-family: Montserrat;
                                font-size: 18px;
                                line-height: 32px;
                                font-weight: normal;
                            }
                            .profile_images_grid {
                                display: flex;
                                flex-direction: column;
                                box-sizing: border-box;
                                width: 100%;
                                margin: 0.5em 0;
                                .profile_images_grid_block{
                                    font-family: "Montserrat";
                                    color: #53bfd2;
                                    font-size: 28px;
                                    text-align: center;
                                }
                                .profile_images_container {
                                    display: flex;
                                    box-sizing: border-box;
                                    margin: 0.5em 0;

                                    .profile_images_card {
                                        font-family: sans-serif;
                                        font-size: 30px;
                                        font-weight: bold;
                                        height: 40%;
                                        display: flex;
                                        color: white;
                                        justify-content: center;
                                    }
                                    .box1 {
                                        width: 260px !important;
                                        height: 360px;
                                        object-fit: cover;
                                        // background: rgb(144, 144, 221);
                                    }

                                    .box2 {
                                        width: 340px !important;
                                        height: 175px;
                                        object-fit: cover;
                                        // background: rgb(75, 189, 189);
                                        margin-left: 10px;
                                    }

                                    .box3 {
                                        width: 170px !important;
                                        height: 165px;
                                        // background: rgb(78, 221, 150);
                                        margin: 0 0 0 10px;
                                        object-fit: cover;
                                    }

                                    .box4 {
                                        width: 170px !important;
                                        height: 165px;
                                        // background-color: rgb(245, 201, 148);
                                        margin-left: 10px;
                                        object-fit: cover;
                                    }
                                    .flex-try-2 {
                                        width: 408px;
                                    }
                                    .flex-try-3 {
                                        display: flex;
                                        margin-top: 20px;
                                    }
                                }
                            }
                            .image_more {
                                display: flex;
                                align-items: center;
                                h5 {
                                    margin: 0;
                                    text-align: left;
                                    letter-spacing: 0.18px;
                                    color: #161616;
                                    border-bottom: 2px solid #53bfd2;
                                    font-family: Montserrat;
                                    font-size: 18px;
                                    line-height: 25px;
                                    font-weight: normal;
                                }
                                img {
                                    margin-left: 0.5em;
                                }
                            }
                        }
                        .profile_right_item3 {
                            margin-top: 3em;
                            h2 {
                                letter-spacing: 0px;
                                color: #161616;
                                opacity: 1;
                                font-size: 28px;
                                font-weight: 800;
                                font-family: Montserrat;
                                margin-bottom: 1em;
                            }
                            .profile_item3_inner {
                                display: grid;
                                grid-template-columns: auto auto;
                                grid-template-rows: auto;
                                align-items: center;
                                .inner_items {
                                    display: flex;
                                    align-items: center;
                                    margin: 0.5em 0;
                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }
                                    h6 {
                                        text-align: left;
                                        letter-spacing: 0.6px;
                                        color: #898989;
                                        text-transform: uppercase;
                                        font-family: Montserrat;
                                        font-size: 18px;
                                        line-height: 22px;
                                        font-weight: 600;
                                        margin: 0 0 0 0.5em;
                                        display: flex;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                        .profile_personal_data {
                            margin: -2em 0 0 0;
                            h2 {
                                letter-spacing: 0px;
                                color: #161616;
                                opacity: 1;
                                font-size: 28px;
                                font-weight: 800;
                                font-family: Montserrat;
                                margin: 2em 0 0.8em 0;
                            }
                            .profile_personal_data_inner {
                                font-family: Montserrat;
                                .previousExperience {
                                    display: flex;
                                    justify-content: space-between;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    margin: 2em 0 0.5em 0;
                                    font-family:"Montserrat";
                                    color: "#53bfd2";
                                    font-size: "28px";

                                    h6 {
                                        font-size: 18px;
                                        font-weight: 600;
                                        color: #898989;
                                    }
                                }
                            }
                            .personal_data_inner1 {
                                display: grid;
                                grid-template-columns: 50% 47%;
                                grid-column-gap: 12px;
                                word-wrap: break-word;
                                h3 {
                                    color: #53bfd2;
                                    font-size: 26px;
                                    font-weight: 600;
                                }
                                h4 {
                                    font-size: 18px;
                                    font-weight: 600;
                                    color: #898989;

                                    img{
                                        height: 200px;
                                        width: 200px;
                                    }

                                    span {
                                        font-weight: 700;
                                        color: #696969;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.profile_modal_container{
    border-radius: 10px;
}

.model_styles{
    text-align:center;
    height:300px;
    width:60px;
    padding:2em; 
}

.profile_personal_data1{
    h2{
        text-transform: capitalize;
    }
    span{
        text-transform: none;
    }
}

.viewmore_img{
    object-fit: cover;
}




