.ham_menu {
  width: 100%;
  display: flex;
  background-color: #f6f6f6;
  flex-direction: column;
  // z-index: 2000;
  //position: fixed;
  height: 120%;

  .header {
    height: 100px;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: flex-end;

    img {
      flex: 1;
    }

    .close {
      flex: 5;
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
    }
  }

  .menu {
    margin-top: 2rem;
    padding: 1rem;
    padding-right: 2rem;

    .menu_item {
      width: 100%;
      height: 25px;
      font-size: 15px;
      color: #2c2c2c;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;

      hr:not([size]) {
        color: #eaeaea;
        height: 0.25px;

        border-top: unset;
      }
    }
  }

  .search {
    // display: none;
    flex: 5;
    margin: 1rem;
    margin-bottom: 2rem;
    color: #696969;
    font-family: "Montserrat", sans-serif;

    .search_bar {
      width: 100%;
      border: solid 1.5px #53bfd2;
      border-radius: 25px;
      height: 50px;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      input {
        color: #161616;
        font-weight: 600;
        margin: 0;
        padding-left: 1rem;
      }
    }
  }

  .footer {
    position: relative;
    bottom: 0;
    // background-color: violet;
    height: 100px;
  }
}
