.outter_bg_container {
    .background_container {
        background: transparent
            url("../../../assets/files/Home/trainer/Apply As A Trainer 1.png")
            no-repeat;
        background-size: cover;
        opacity: 1;
        max-height: 650px;
        height: 650px;
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        position: relative;

        @media screen and (max-width: 1024px) {
            background: url("../../../assets/files/Home/trainer/Woman Image.png")
                0% 0% no-repeat;
            width: 100%;
        }

        .container_trainer {
            display: flex;
            flex-direction: column;
            max-width: 740px;
            max-height: 40%;
            width: 87%;
            padding-right: 200px;
            padding-top: 85px;
            position: relative;
            left: 80px;

            @media screen and (max-width: 1024px) {
                margin-top: 10em;
                width: 100%;
                max-width: 100%;
                max-height: 100%;
                padding: 8em 0;
            }

            .qustion {
                text-align: left;
                letter-spacing: 0px;
                color: #161616;
                opacity: 1;
                width: 100%;
                position: relative;
                font-size: 35px;
                font-weight: bold;
                line-height: 50px;
                font-family: "Montserrat", sans-serif;

                @media screen and (max-width: 1024px) {
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    padding-left: 1em;
                    font-size: 22px;
                    margin: 2em 0 0 0;
                }
            }
            .answer {
                margin-top: 1em;
                text-align: left;
                letter-spacing: 0.27px;
                color: #2c2c2c;
                position: relative;
                font-size: 18px;
                font-weight: normal;
                line-height: 36px;
                font-family: "Montserrat", sans-serif;

                @media screen and (max-width: 1024px) {
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    padding-left: 1.5em;
                    margin-top: 1.5em;
                    font-size: 14px;
                }
            }
            .link {
                width: 100%;
                display: flex;
                align-items: center;
                text-align: left;
                letter-spacing: 0.45px;
                color: #161616;
                text-transform: uppercase;
                margin-top: 3em;
                text-decoration: none;
                position: relative;
                font-size: 12px;
                font-weight: 800;
                line-height: 45px;
                font-family: "Montserrat", sans-serif;

                @media screen and (max-width: 1024px) {
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    padding-left: 1.5em;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            .button-text {
                text-align: left;
                position: relative;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    padding-right: 1em;
                    text-align: right;
                    letter-spacing: 0.45px;
                    color: #161616;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 22px;
                    font-family: "Montserrat", sans-serif;
                }
                img {
                    margin-left: 1em;
                }
            }
            .watermark {
                position: absolute;
                right: 0;
                top: 350px;
                img {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .outter_bg_container{
        display: none;
    }
}
