:root {
    --primary-bg: #ffffff;
    --text-color: #000000;
    --logo: #53bfd2;
    --icon-color: #bcbcbc;
    --active-text: #000;
}

nav {
    transition: 0.8s ease-in-out;
    background: var(--primary-bg);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.header-links1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
}
.header-links1 a {
    color: var(--text-color);
    padding: 0 0.5em !important;
    text-decoration: none;
}
.logo-content1 img {
    padding: 1em 0;
    width: 100px;
}
.search-items1 {
    display: flex;
    align-items: center;
}

.input {
    background: transparent;
    border: 1px solid var(--logo);
    border-radius: 50px;
    padding: 0.3em 0.5em;
    width: 200px;
}
input::placeholder {
    font-size: 0.8em;
}
input:focus {
    outline: none;
}
.search-icon1 {
    margin: 0 1em 0 -1.5em;
    padding: 0;
    font-size: 1.3em;
    color: var(--icon-color);
}
.login-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-item1 img {
    margin: 0 0em 0 1em;
    cursor: pointer;
}

.nav_icon1 {
    display: none;
    color: var(--icon-color);
}
@media screen and (max-width: 1024px) {
    .nav_icon1 {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .header-links1 {
        display: none;
    }
    .logo-content1 svg {
        display: flex;
        justify-content: center;
    }
    .input-item1 input {
        display: none;
    }
    .search-icon1 {
        display: none;
    }
    .login-item1 svg {
        display: none;
    }
    .link-icons1 svg {
        display: flex;
    }
    .navbaractive.active {
        position: sticky;
        top: 0;
    }
    .login-item1 img:nth-child(1) {
        display: none;
    }
    .login-item1 img {
        margin: 0 !important;
    }
    .main_navbar1 {
        align-items: center;
    }
}
