.book_main {
    width: 100%;
    height: auto;
    // background-color: cadetblue;
    .book_grid {
        display: grid;
        grid-template-columns: 35% 60%;
        grid-column-gap: 5%;
        grid-template-rows: auto;
        align-items: center;
        margin-top: 7em;
        @media screen and (max-width: 1023px) {
            grid-template-columns: auto;
        }

        .book_left {
            height: 600px;
            @media screen and (max-width: 1023px) {
                height: auto;
            }

            .book_left_content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                h5 {
                    font: var(--unnamed-font-style-normal) normal
                        var(--unnamed-font-weight-600)
                        var(--unnamed-font-size-40) /
                        var(--unnamed-line-spacing-58)
                        var(--unnamed-font-family-montserrat);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-161616);
                    text-align: left;
                    font: normal normal 600 40px/58px Montserrat;
                    letter-spacing: 2px;
                    color: #161616;
                    opacity: 1;
                }
                p {
                    font: var(--unnamed-font-style-normal) normal
                        var(--unnamed-font-weight-normal)
                        var(--unnamed-font-size-18) /
                        var(--unnamed-line-spacing-32)
                        var(--unnamed-font-family-montserrat);
                    letter-spacing: var(--unnamed-character-spacing-0-27);
                    color: var(--unnamed-color-2c2c2c);
                    text-align: left;
                    font: normal normal normal 18px/32px Montserrat;
                    letter-spacing: 0.27px;
                    color: #2c2c2c;
                    opacity: 1;
                }
                .book_left_link {
                    a {
                        font: var(--unnamed-font-style-normal) normal
                            var(--unnamed-font-weight-bold)
                            var(--unnamed-font-size-18) /
                            var(--unnamed-line-spacing-22)
                            var(--unnamed-font-family-montserrat);
                        color: var(--unnamed-color-161616);
                        text-align: right;
                        font: normal normal 800 18px/22px Montserrat;
                        letter-spacing: 0.45px;
                        color: #161616;
                        text-transform: uppercase;
                        opacity: 1;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin: 2em 0;
                        text-decoration: none;
                    }
                }
            }
        }
        .book_right {
            height: 600px;
            margin: 0 0 0 4em;

            .book_right_content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .book_right_innerItems {
                    display: flex;
                    flex-direction: row;
                    width: 90%;
                    margin: 0 0 3em 0;
                    img {
                        top: 1160px;
                        left: 973px;
                        width: 110px;
                        height: 110px;
                        background: var(--unnamed-color-f6f6f6) 0% 0% no-repeat
                            padding-box;
                        background: #f6f6f6 0% 0% no-repeat padding-box;
                        opacity: 1;
                        margin-right: 2em;
                    }
                    h3 {
                        top: 702px;
                        left: 1176px;
                        width: 518px;
                        height: 22px;
                        font: var(--unnamed-font-style-normal) normal
                            var(--unnamed-font-weight-600)
                            var(--unnamed-font-size-18) /
                            var(--unnamed-line-spacing-22)
                            var(--unnamed-font-family-montserrat);
                        letter-spacing: var(--unnamed-character-spacing-0-9);
                        color: var(--unnamed-color-161616);
                        text-align: left;
                        font: normal normal 600 18px/22px Montserrat;
                        letter-spacing: 0.9px;
                        color: #161616;
                        text-transform: uppercase;
                        opacity: 1;
                    }
                    p {
                        font: var(--unnamed-font-style-normal) normal
                            var(--unnamed-font-weight-normal)
                            var(--unnamed-font-size-18) /
                            var(--unnamed-line-spacing-30)
                            var(--unnamed-font-family-montserrat);
                        letter-spacing: var(--unnamed-character-spacing-0-27);
                        text-align: left;
                        font: normal normal normal 18px/30px Montserrat;
                        letter-spacing: 0.27px;
                        color: #696969;
                        width: 90%;
                    }
                }
            }
        }
    }
}
