.user-sessions-container {
  margin-left: 4rem;

  .user-sessions__title {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #161616;
    margin-bottom: 1rem;
  }

  .session-tab-data {
    margin-top: 3rem;
    background-color: white;
    width: 85%;
    height: 700px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 12px #16161608;
    box-shadow: 0px 3px 12px #16161608;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;

    .session-tab__header {
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 0px;
      color: #161616;
      font-weight: 500;
      text-transform: capitalize;
    }

    .session-tab__content{
        margin-top: 1rem
    }
  }
}
