@import "../../../TrainerOnBoard/TrainerCaptures/TrainerSetUpProfile/styles.scss";

.outter_tp_container {
  width: 100%;
  height: auto;
  background: #f6f6f6 0% 0% no-repeat padding-box;
  .inner_trinerpro_container {
    width: 90%;
    margin: 0 auto;

    .tp_wrapper {
      margin: 0 auto;
      width: 100%;

      .tp_header {
        margin-bottom: 2em;
        h2 {
          text-align: left;
          font: normal normal 600 40px/58px Montserrat;
          letter-spacing: 0px;
          color: #161616;
        }
      }
      .tp_outter_form {
        padding: 0 1em 0 0;
        width: 100%;

        .setup_card1,
        .setup_card2 {
          margin: 1em 2em 1em 1em;
          h6 {
            margin-top: 1em;
            font-size: 22px;
            color: #161616;
            font-family: Montserrat;
            font-weight: 500;
            text-align: left;
            font: normal normal medium 22px/42px Montserrat;
            letter-spacing: 0px;
            opacity: 1;
          }
          textarea {
            width: 100%;
            height: 135px;
            border: 2px solid #bcbcbc;
            border-radius: 20px;
            font-size: 18px;
            color: #161616;
            font-family: "Montserrat";
            font-weight: 500;
            padding: 0.5em 1em;
          }
          textarea::placeholder {
            font-size: 18px;
            color: #bcbcbc;
            font-style: italic;
            font-family: "Montserrat";
            font-weight: 500;
          }
          textarea:focus {
            outline: none;
          }
        }
        .setup_card3 {
          margin: 1em 2em 1em 1em;
          h6 {
            margin-top: 1em;
            font-size: 22px;
            color: #161616;
            font-family: Montserrat;
            font-weight: 500;
            text-align: left;
            font: normal normal medium 22px/42px Montserrat;
            letter-spacing: 0px;
            opacity: 1;
          }
          h5 {
            color: rgb(83, 191, 210);
            font-size: 16px;
            margin-bottom: 1em;
            cursor: pointer;
            font-family: Montserrat;
            text-decoration: underline;
          }
          .read_image {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-evenly;
            h5 {
              color: rgb(83, 191, 210);
              font-size: 16px;
              margin-bottom: 1em;
              cursor: pointer;
              font-family: Montserrat;
              text-decoration: underline;
            }
            .render_image {
              display: flex;
            }
            h2 {
              margin: 0 2em;
            }
            input {
              display: none;
            }
          }
        }
        .setup_card4 {
          margin: 1em 2em 2em 1em;
          h5 {
            color: rgb(83, 191, 210);
            font-size: 16px;
            margin-bottom: 1em;
            cursor: pointer;
            font-family: Montserrat;
            text-decoration: underline;
          }
          h6 {
            margin-top: 1em;
            font-size: 22px;
            color: #161616;
            font-family: Montserrat;
            font-weight: 500;
            text-align: left;
            font: normal normal medium 22px/42px Montserrat;
            letter-spacing: 0px;
            opacity: 1;
          }
          .inputs_certificate {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0.5em;
            align-items: center;

            input {
              width: 50%;
              margin: 1em 1em 1em 0;
              padding: 0.3em 1em;
              height: 45px;
              border: 2px solid #bcbcbc;
              border-radius: 30px;
              opacity: 1;
              font-family: Montserrat;
              font-size: 18px;
              font-weight: 500;
              top: -10px;
              position: relative;
            }
            input::placeholder {
              color: #bcbcbc;
              font-family: Montserrat;
              font-size: 18px;
              font-weight: 400;
            }
            input:focus {
              outline: none;
            }
            .custom-file-input {
              color: transparent;
              width: 65%;
            }
            .custom-file-input::-webkit-file-upload-button {
              visibility: hidden;
            }
            .custom-file-input::before {
              content: "upload";
              outline: none;
              border: 0;
              text-transform: uppercase;
              color: black;
              font-weight: bold;
            }
            .custom-file-input:hover::before {
              border-color: black;
            }
            .custom-file-input:active {
              outline: 0;
            }
            .custom-file-input:active::before {
              background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
            }

            .checkarrow {
              position: relative;
              right: 150px;
            }
          }
        }

        .setup_card5 {
          h6 {
            font-size: 22px;
            color: #161616;
            font-family: Montserrat;
            font-weight: 500;
            text-align: left;
            font: normal normal medium 22px/42px Montserrat;
            letter-spacing: 0px;
            opacity: 1;
          }
          .setupcontent_wrapper {
            margin: 3em 0.5em;
            display: grid;
            grid-template-columns: repeat(auto-fit, 50% 50%);
            grid-template-rows: auto;
            align-items: center;
            width: 90% !important;
            height: auto;
            word-wrap: normal;
            grid-column-gap: 40px;
            height: auto;
            .setup_item {
              margin: 1em 0 2em 0;
              .inputs_platform {
                button {
                  border-radius: 50px;
                  padding: 0.5em 2.5em;
                  border: 0;
                  font-family: Montserrat;
                  font-size: 18px;
                  font-weight: 500;
                  height: 45px;
                  margin: 0.7em 0.7em 0.7em 0;

                  &.active,
                  &:hover,
                  &:focus {
                    background-color: #000;
                    color: #fff;
                  }
                  &.buttonTrue {
                    background-color: rgb(255, 255, 255);
                    color: #000;
                  }
                  &.buttonFalse {
                    color: #fff;
                    background-color: rgb(0, 0, 0);
                  }
                }
              }
              .social_meeting_links {
                h5 {
                  margin-top: 1em;
                  color: #161616;
                  text-align: left;
                  font-family: "Montserrat", sans-serif;
                  font-size: 22px;
                  line-height: 42px;
                  font-weight: 500;
                  letter-spacing: 0px;
                  text-transform: capitalize;
                  opacity: 1;
                }
                .inputs_platform {
                  textarea {
                    width: 100%;
                    height: 135px;

                    border: 2px solid #bcbcbc;
                    border-radius: 20px;
                    font-size: 18px;
                    color: #161616;
                    font-family: "Montserrat";
                    font-weight: 500;
                    padding: 0.5em 1em;
                  }
                  textarea::placeholder {
                    font-size: 18px;
                    color: #bcbcbc;
                    font-style: italic;
                    font-family: "Montserrat";
                    font-weight: 500;
                  }
                  textarea:focus {
                    outline: none;
                  }
                }
              }
            }
            .setup_item1 {
              margin: 0em 0 2em 0;

              h6 {
                margin-top: 1em;
                color: #161616;
                text-align: left;
                letter-spacing: 0px;
                font-family: "Montserrat", sans-serif;
                font-size: 22px;
                line-height: 42px;
                font-weight: 500;
              }

              .inputs_platform {
                input {
                  width: 100% !important;
                  margin: 1em 1em 1em 0;
                  border-radius: 50px;
                  background: transparent;
                  width: 500px;
                  height: 45px;
                  font-size: 22px;
                  color: #161616;
                  font-family: Montserrat;
                  font-weight: 500;

                  border: 2px solid #bcbcbc;
                  border-radius: 30px;
                  opacity: 1;
                  margin-right: 1em;
                  padding: 0.3em 2em 0.3em 1em;
                  opacity: 1;
                  top: -10px;
                  position: relative;
                  @media screen and (max-width: 1023px) {
                    width: 100% !important;
                  }
                }
                input::placeholder {
                  text-align: left;
                  font-family: "Montserrat", sans-serif;
                  font-size: 18px;
                  line-height: 30px;
                  font-weight: normal;
                  color: #898989;
                }
                .iconwrapper {
                  display: flex;
                  margin: 0;
                  padding: 0;
                  height: 70px;
                  width: 95% !important;
                  img {
                    margin-left: -3.7em;
                    position: relative;
                    top: 25px;
                    height: 20px;
                  }
                  .location_icon {
                    position: relative;
                    top: 25px;
                    right: -2px;
                    height: 20px;
                  }
                  select {
                    border-radius: 50px;
                    border: 2px solid #bcbcbc;
                    box-shadow: 0 0;
                    outline: 0;
                    background: white;
                    max-height: 45px;
                    min-height: 45px;
                    width: 100%;
                    padding: 0px 20px;
                    font-size: 18px;
                    background: url("../../../../assets/files/SVG/Drop Down 4.svg")
                      95% center no-repeat;
                    background-color: transparent;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    font-weight: 500;
                    option {
                      color: black;
                      border: 2px solid #bcbcbc;
                    }
                  }
                  select::placeholder {
                    color: #bcbcbc;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 400;
                  }
                  select:invalid {
                    color: #bcbcbc;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                  }
                }
              }
            }
            .item_3 {
              margin: 2em 0 1.5em 0;
              position: relative;
              h6 {
                color: #161616;
                opacity: 1;
                font-size: 22px;
                font-family: "Montserrat";
                font-weight: 500;
                letter-spacing: 0px;
                text-align: left;
              }
              label {
                margin-right: 3em;
                color: #2c2c2c;
                font-size: 20px;
                font-family: "Montserrat";
                font-weight: 500;
              }
              .inputs_platform {
                display: flex;
                justify-content: space-around;
              }
            }
            .item_4 {
              margin: 1em 0 0em 0;
              position: relative;
              top: -5px;

              h6 {
                color: #161616;
                opacity: 1;
                font-size: 22px;
                font-family: "Montserrat";
                font-weight: 500;

                letter-spacing: 0px;
                text-align: left;

                position: relative;
              }

              .inputs_platform {
                display: flex;
                textarea {
                  width: 95%;
                  height: 70px;
                  border: 2px solid #bcbcbc;
                  border-radius: 20px;
                  font-size: 18px;
                  color: #161616;
                  font-family: "Montserrat";
                  font-weight: 500;
                  padding: 0.5em 1em;
                }
                textarea::placeholder {
                  font-size: 18px;
                  color: #bcbcbc;
                  font-family: "Montserrat";
                  font-weight: 400;
                }
                textarea:focus {
                  outline: none;
                }
                label {
                  margin-right: 3em;
                  color: #2c2c2c;
                  font-size: 20px;
                  font-family: "Montserrat";
                  font-weight: 500;
                }

                .loction_img_select {
                  position: relative;
                  left: -60px;
                }
              }
            }
            .item_5 {
              margin: 1em 0 2em 0;
              position: relative;
              top: -15px;
              h6 {
                color: #161616;
                opacity: 1;
                font-size: 22px;
                font-family: "Montserrat";
                font-weight: 500;

                letter-spacing: 0px;
                text-align: left;
              }
              label {
                margin-right: 3em;
                color: #2c2c2c;
                font-size: 20px;
                font-family: "Montserrat";
                font-weight: 500;
              }

              .inputs_platform {
                display: flex;
                justify-content: space-around;
              }
            }
            .item_6 {
              margin: 1em 0 2em 0;
              position: relative;
              h6 {
                color: #161616;
                opacity: 1;
                font-size: 22px;
                font-family: "Montserrat";
                font-weight: 500;
                letter-spacing: 0px;
                text-align: left;
                position: relative;
              }

              .inputs_platform {
                display: flex;
                textarea {
                  width: 100%;
                  height: 70px;
                  border: 2px solid #bcbcbc;
                  border-radius: 20px;
                  font-size: 18px;
                  color: #161616;
                  font-family: "Montserrat";
                  font-weight: 500;
                  padding: 0.5em 1em;
                }
                textarea::placeholder {
                  font-size: 18px;
                  color: #bcbcbc;
                  font-family: "Montserrat";
                  font-weight: 400;
                }
                textarea:focus {
                  outline: none;
                }
                .loction_img_select {
                  position: relative;
                  left: -60px;
                }
              }
            }
          }
        }

        .submit_button {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 5em;

          button {
            display: block;
            outline: none;
            background: rgb(83, 191, 210);
            border: 0;
            height: 50px;
            margin: 1em 1em 2em 1em;
            text-decoration: none;
            padding: 0.2em 0.5em 0.2em 2em;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;

            &.loading {
              padding-right: 2rem;
            }
            a {
              display: flex;
              align-items: center;
            }
          }

          .terms_msg {
            margin-bottom: 6em;
            color: #898989;
            text-align: left;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            line-height: 42px;
            font-weight: 500;
          }
        }
        .tp_button_save {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 5em;
          button {
            outline: none;
            background: rgb(83, 191, 210);
            border: 0;
            margin: 1em;
            text-decoration: none;
            padding: 0.2em 0.5em 0.2em 2em !important;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
            margin-top: 55px;
            width: 333px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5em;
            height: 60px;
          }
        }
      }
    }
  }
  .btn-file-input {
    position: relative;
    overflow: hidden;
    button {
      box-sizing: border-box;
      height: 185px;
      width: 185px;
      color: #fff;
      font-size: 24px;
      border-radius: 20px;
      border: 1px solid transparent;
      padding: 0;
      img {
        width: 100%;
        height: 185px;
      }
    }
  }
  .btn-file-input input[type="file"] {
    left: 0;
    position: absolute;
    top: 0;
    height: 180px;
    font-size: 0.625rem;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 185px;
    outline: none;
    background: transparent;
    cursor: pointer;
    display: block;
  }
}
