.big_container {
  width: 100%;
  margin: 3em 0;

  .experience_upper_container {
    .image_container_mobile {
      display: none;
    }
    margin: 2em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .heading {
      padding-bottom: 40px;
      text-align: center;
      letter-spacing: -0.45px;
      color: #161616;
      opacity: 1;
      width: 50%;
      font-size: 45px;
      font-weight: 800;
      font-family: Cormorant Garamond;

      @media screen and (max-width: 920px) {
        font: normal normal bold 25px/35px Cormorant Garamond;
        width: 100%;
      }
    }
    .svgBG {
      position: relative;
      top: -490px;
      right: -200px;
      width: 134px !important;
      height: 229px !important;
      bottom: center;
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    .image_Container {
      display: flex;
      height: auto;
      width: 100%;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 1024px) {
        justify-content: space-evenly;
        height: auto;
        flex-wrap: wrap;
      }
      .svgBGMobile {
        display: none;
        @media screen and (max-width: 1023px) {
          position: unset;
          display: block;
          padding: 2em;
        }
      }

      .image_strength_main {
        display: flex;
        width: 100%;
        height: 310px;
        margin: 0 1em 0 0;
        flex-direction: column;
        // img {
        //   width: 260px;
        // }

        @media screen and (max-width: 1023px) {
          width: 40%;
          margin-top: 2em;
        }

        .link_button {
          display: flex;
          //   width: 260px;
          height: 70px;
          text-transform: uppercase;
          justify-content: flex-start !important;
          align-items: center;
          background: #53bfd2;
          color: #fff;
          padding: 0.5em 0 0.5em 0.8em !important;
          font-size: 16px;
          font-weight: 800;
          font-family: "Montserrat", sans-serif;
          text-align: right;
          letter-spacing: 0.45px;
          text-decoration: none;
          line-height: 22px;
          @media screen and (max-width: 919px) {
            font-size: 12px;
          }
          @media screen and (max-width: 1023px) and (min-width: 920px) {
            font-size: 16px;
          }

          img {
            width: 45px;
            padding: 0 0 0 0.5em;
            height: 30px;
            @media screen and (max-width: 919px) {
              width: 20px;
              height: 15px;
            }
            @media screen and (max-width: 1023px) and (min-width: 920px) {
              width: 30px;
              height: 15px;
            }
          }
        }
      }
    }
  }

  .personal_container {
    display: grid;
    grid-template-columns: 38% 58%;
    grid-column-gap: 40px;
    width: 100%;
    align-items: flex-start;
    height: 500px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    // margin-top: 15em;
    padding: 3em 0em !important;
    @media screen and (max-width: 1023px) {
      grid-template-columns: auto;
      height: auto;
    }
    .personal_trainer_description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .heading {
        padding-bottom: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #161616;
        opacity: 1;
        font-size: 40px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        line-height: 58px;

        @media screen and (max-width: 1023px) {
          text-align: center;
          font-size: 24px;
        }
      }
      .discription {
        padding-bottom: 30px;
        align-items: center;
        text-align: left;
        letter-spacing: 0.27px;
        color: #2c2c2c;
        font-size: 18px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;

        line-height: 32px;

        @media screen and (max-width: 1023px) {
          text-align: center;
          font-size: 14px;
        }
      }
      .link {
        height: 22px;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 12px;
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.45px;
        color: #161616;
        text-transform: uppercase;
        margin-top: 2em;
        position: relative;

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          color: #161616;
          font-weight: 900;
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          padding: 0;

          .button-text {
            text-align: left;
            align-items: center;
            margin-right: 1em;
          }
        }
      }
    }
    .right_container_home {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      grid-column-gap: 0px;
      height: 550px;
      margin-top: 10px;
      row-gap: 50px;
      align-items: center;
      @media screen and (max-width: 1023px) {
        grid-template-columns: auto;
        height: auto;
      }

      .find_your_trainer {
        display: none;
      }
    }
    .flex-contents {
      display: flex;
      height: 100px;
      align-items: center;
      @media screen and (max-width: 1023px) {
        justify-content: space-between;
        padding: 0 1em;
      }
      .image img {
        width: 100px;
        height: 100px;
      }
      .discription_home {
        text-align: left;
        letter-spacing: 0.3px;
        color: #2c2c2c;
        margin-left: 1em;
        opacity: 1;
        font-weight: normal;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        line-height: 32px;
        @media screen and (max-width: 1023px) {
          line-height: 22px;
          font-size: 16px;
          padding: 0 0 0 1em;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .big_container {
    .experience_upper_container {
      .image_Container {
        // background-color: #161616;
        display: none;
      }

      .image_container_mobile {
        display: block;
        width: 100%;
        .monogram {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 5rem;
          img {
            height: 35%;
            width: 35%;
          }
        }
        .row {
          display: flex;
          margin-bottom: 3rem;

          .vertical {
            height: 190px;
            flex: 1;

            margin: 1rem;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }

            .bottom_bar {
              height: 45px;
              background-color: #53bfd2;
              display: flex;
              align-items: center;
              padding: 10px;
              font-weight: bold;
              font-family: "Montserrat", sans-serif;
              font-size: 15px;
              color: #fff;
              justify-content: space-evenly;
            }
          }
        }
      }
    }

    .personal_container {
      margin-top: 0px;
      padding: 0px;
      margin-bottom: 0px;
      .personal_trainer_description {
        .link {
          display: none;
        }
      }
      .right_container_home {
        .find_your_trainer {
          display: block;
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .desk_ {
          display: none;
        }
        .mobile_ {
          display: flex;
        }
      }
    }
  }
}
