.main_wrapper {
    // background-color: yellowgreen;
    width: 100%;
    height: auto;
    margin-bottom: 8em;
    .links_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
        a {
            color: #000;
        }
    }
    .wrapper_inneritems {
        width: 80%;
        margin: 0 auto;
        h1 {
            text-align: center;
            font-size: 35px;
        }
        p {
            text-align: center;
            font-size: 18px;
            width: 80%;
            margin: 0 auto;
        }

        .contents_wrapper {
            margin: 3em 0.5em;
            width: 100%;
            height: auto;
            .item1 {
                margin: 1em 0 2em 0;

                .inputs_experience {
                    label {
                        margin-right: 3em;
                    }
                }
            }

            .item2 {
                margin: 1em 0 2em 0;
                h6 {
                    margin-bottom: 1em;
                }
                span {
                    font-size: 10px;
                    cursor: pointer;
                }
                h5 {
                    cursor: pointer;
                    font-size: 12px;
                    color: #53bfd2;
                }

                .inputs_experience {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 0.5em;
                    align-items: center;
                    input {
                        width: 50%;
                        margin-right: 1em;
                        border: 1px solid #bcbcbc;
                        padding: 0.3em 1em;
                        border-radius: 50px;

                        &:nth-child(2) {
                            width: 30%;
                        }
                        &:nth-child(3) {
                            width: 30%;
                        }
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
            .item3 {
                margin: 1em 0 2em 0;
                h6 {
                    margin-bottom: 1em;
                }
                h5 {
                    cursor: pointer;
                    font-size: 12px;
                    color: #53bfd2;
                }

                .inputs_experience {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 0.5em;
                    align-items: center;
                    input {
                        width: 50%;
                        margin-right: 1em;
                        border: 1px solid #bcbcbc;
                        padding: 0.3em 1em;
                        border-radius: 50px;

                        &:nth-child(2) {
                            width: 30%;
                        }
                        &:nth-child(3) {
                            width: 30%;
                            border: 0;
                        }
                    }
                    input:focus {
                        outline: none;
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            .item4 {
                margin: 1em 0 2em 0;
                h6 {
                    margin-bottom: 1em;
                }
                textarea {
                    width: 100%;
                    height: 120px;
                }

                .inputs_experience {
                    width: 100%;
                }
            }
            .item5 {
                margin: 1em 0 2em 0;
                h6 {
                    margin-bottom: 1em;
                }

                .inputs_experience {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    input {
                        width: 50%;
                        margin-right: 1em;
                        border: 1px solid #bcbcbc;
                        padding: 0.3em 1em;
                        border-radius: 50px;
                    }
                    input::placeholder {
                        font-size: 16px;
                        color: #bcbcbc;
                        margin: 0;
                        padding: 0;
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
            .item6 {
                margin: 1em 0 2em 0;
                h6 {
                    margin-bottom: 1em;
                }
                textarea {
                    width: 100%;
                    height: 120px;
                }
            }
            .submit_button {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    outline: none;
                    background: #53bfd2;
                    border: 0;
                    margin: 1em;
                    padding: 0.5em 2em;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: bold;
                    img {
                        width: auto;
                        margin-left: 1em;
                        color: red;
                    }
                }
            }
        }
    }
}
