.main_container {
  background: url("../../../assets/files/SignUp/BG Image.png") 50% 0% no-repeat;
  height: auto;
  width: 100%;
  background-size: cover;
  // margin-bottom: -100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6em;

  .wrapper {
    background-color: rgb(255, 255, 255);
    height: auto;
    // width: 40%;
    width: 550px;
    height: auto;
    margin: 5em 0 8em 0;
    border-radius: 10px;
    @media screen and (max-width: 1023px) {
      width: 80%;
    }
  }
  .inner_items {
    margin: 0 auto;
    padding: 2em 0;

    h2 {
      text-align: center;
      letter-spacing: -0.45px;
      color: #161616;
      opacity: 1;
      margin-top: 0.5em;
      font-family: "Cormorant Garamond", sans-serif;
      font-size: 45px;
      line-height: 55px;
      font-weight: bold;
    }
    p {
      text-align: center;
      letter-spacing: 0.27px;
      color: #2c2c2c;
      opacity: 1;
      font-size: 17px;
      margin-bottom: 29px;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      line-height: 32px;
      font-weight: normal;
    }
  }
  .form_items form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .input_items {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 20px;
      width: 80%;
      color: #898989;
      font-size: 15px;

      input {
        font-family: Montserrat;
        padding: 0.3em 1.5em;
        width: 425px;
        height: 45px;
        border-radius: 50px;
        border: 2px solid #bcbcbc;
        border-radius: 30px;
        opacity: 1;
        font-size: 1.3em;
        color: #242424;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500 !important;
      }
      input:focus {
        outline: none;
      }

      input::placeholder {
        color: #bcbcbc;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500 !important;
      }
      img {
        position: absolute;
        right: 0;
        margin: 0 auto;
        padding: 0.8em 3em 0.8em 0;
      }
      span {
        font-size: 12px;
        padding: 0em 1em 0 1em;
        text-align: left !important;
        color: red;
        font-weight: 500;
        font-family: Montserrat;
      }
    }
    .or_items {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 1.5em 3em;
      margin-top: 20px;

      p {
        margin: 0;
        padding: 0 1em;
        text-transform: uppercase;
      }

      .hr_line {
        background-color: #bcbcbc;
        height: 1px;
        width: 185px;
      }
    }
    .social_buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 15px;

      .facebook-auth {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        outline: none;
        width: 80%;
        background-color: #fff;
        color: #bcbcbc;
        border-radius: 50px;
        margin: 0.2em 1em;
        width: 425px;
        height: 45px;
        border: 2px solid #bcbcbc;
        border-radius: 30px;
        opacity: 1;
        font-family: Montserrat;
        font-size: 18px;

        img {
          margin: 0.5em 1.3em;
          width: 10px;
        }
      }
      .google-auth {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #fff;
        color: #bcbcbc;
        outline: none;
        border-radius: 50px;
        margin: 0.7em 1em;
        width: 425px;
        height: 45px;
        border: 2px solid #bcbcbc;
        border-radius: 30px;
        opacity: 1;
        font-family: Montserrat;
        font-size: 18px;

        img {
          margin: 0.5em 1em;
          width: 20px;
        }
      }
    }
    .submit_button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 1rem;
      margin-top: 45px;
      button {
        outline: none;
        background: rgb(83, 191, 210);
        border: 0;
        width: 425px;
        height: 52px;
        display: flex;
        align-items: center;
        padding: 0.5em 0 0.5em 0.8em !important;
        text-transform: uppercase;
        color: #fff;
        justify-content: center;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .errorMessage {
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 10px;
      padding: 0em 1em 0 1em;
      text-align: left !important;
      color: red;
      font-weight: bold;
      font-family: Montserrat;
    }
  }
  .login_content_signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin: 1.5em 0 0.5em 0;
      color: #222222 !important;
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
      line-height: 38px;
      font-weight: 600;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 800;
      letter-spacing: 0.45px;
      color: #161616 !important;
      margin: 0.5em 0 0 0;
      padding: 0 1em;
      font-size: 15px;
      margin-left: 25px;
      margin-top: -5px;
      font-size: 18px;
      font-family: Montserrat;
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: 900px) {
  .main_container {
    display: unset;

    .wrapper {
      width: 100vw;
    }

    .form_items form {
      .submit_button {
        width: 80%;
      }

      .social_buttons {
        .facebook-auth {
          width: 90%;
        }

        .google-auth {
          width: 90%;
        }
      }
      .or_items {
        .hr_line {
          width: 90px;
        }
      }
      .input_items {
        width: unset;
        input {
          width: unset;
        }
      }
    }
  }
}
