.main_container {
  background: url("../../../assets/files/SignUp/BG Image.png") 0% 0% no-repeat;
  height: auto;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 6em;
}

.main_container .wrapper {
  background-color: white;
  height: auto;
  width: 550px;
  height: auto;
  margin: 5em 0 8em 0;
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {
  .main_container .wrapper {
    width: 80%;
  }
}

.main_container .inner_items {
  margin: 0 auto;
  padding: 2em 0;
}

.main_container .inner_items h2 {
  text-align: center;
  letter-spacing: -0.45px;
  color: #161616;
  opacity: 1;
  margin-top: 0.5em;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: bold;
}

.main_container .inner_items p {
  text-align: center;
  letter-spacing: 0.27px;
  color: #2c2c2c;
  opacity: 1;
  font-size: 17px;
  margin-bottom: 29px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
}

.main_container .form_items form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main_container .form_items form .input_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 0.6em 0;
  width: 80%;
  color: #898989;
  font-size: 15px;
}

.main_container .form_items form .input_items input {
  font-family: Montserrat;
  padding: 0.3em 1.5em;
  width: 425px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #bcbcbc;
  border-radius: 30px;
  opacity: 1;
  font-size: 1.3em;
  color: #242424;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500 !important;
}

.main_container .form_items form .input_items input:focus {
  outline: none;
}

.main_container .form_items form .input_items input::-webkit-input-placeholder {
  color: #bcbcbc;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500 !important;
}

.main_container .form_items form .input_items input:-ms-input-placeholder {
  color: #bcbcbc;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500 !important;
}

.main_container .form_items form .input_items input::-ms-input-placeholder {
  color: #bcbcbc;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500 !important;
}

.main_container .form_items form .input_items input::placeholder {
  color: #bcbcbc;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500 !important;
}

.main_container .form_items form .input_items img {
  position: absolute;
  right: 0;
  margin: 0 auto;
  padding: 0.8em 3em 0.8em 0;
}

.main_container .form_items form .input_items span {
  font-size: 12px;
  padding: 0em 1em 0 1em;
  text-align: left !important;
  color: red;
  font-weight: 500;
  font-family: Montserrat;
}

.main_container .form_items form .or_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1.5em 3em;
  margin-top: 20px;
}

.main_container .form_items form .or_items p {
  margin: 0;
  padding: 0 1em;
  text-transform: uppercase;
}

.main_container .form_items form .or_items .hr_line {
  background-color: #bcbcbc;
  height: 1px;
  width: 185px;
}

.main_container .form_items form .social_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.main_container .form_items form .social_buttons .facebook-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  width: 80%;
  background-color: #fff;
  color: #bcbcbc;
  border-radius: 50px;
  margin: 0.2em 1em;
  width: 425px;
  height: 45px;
  border: 2px solid #bcbcbc;
  border-radius: 30px;
  opacity: 1;
  font-family: Montserrat;
  font-size: 18px;
}

.main_container .form_items form .social_buttons .facebook-auth img {
  margin: 0.5em 1.3em;
  width: 10px;
}

.main_container .form_items form .social_buttons .google-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #bcbcbc;
  outline: none;
  border-radius: 50px;
  margin: 0.7em 1em;
  width: 425px;
  height: 45px;
  border: 2px solid #bcbcbc;
  border-radius: 30px;
  opacity: 1;
  font-family: Montserrat;
  font-size: 18px;
}

.main_container .form_items form .social_buttons .google-auth img {
  margin: 0.5em 1em;
  width: 20px;
}

.main_container .form_items form .submit_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 1rem;
  margin-top: 45px;
}

.main_container .form_items form .submit_button button {
  outline: none;
  background: #53bfd2;
  border: 0;
  width: 425px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0 0.5em 0.8em !important;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-decoration: none;
}

.main_container .form_items form .errorMessage {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  padding: 0em 1em 0 1em;
  text-align: left !important;
  color: red;
  font-weight: bold;
  font-family: Montserrat;
}

.main_container .login_content_signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_container .login_content_signup h1 {
  margin: 1.5em 0 0.5em 0;
  color: #222222 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
}

.main_container .login_content_signup a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.45px;
  color: #161616 !important;
  margin: 0.5em 0 0 0;
  padding: 0 1em;
  font-size: 15px;
  margin-left: 25px;
  margin-top: -5px;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
}
/*# sourceMappingURL=styles.css.map */