.setup_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0;

  .inner_link {
    display: flex;
    align-items: center;
    a {
      text-align: left;
      letter-spacing: 0.18px;
      color: #161616;
      opacity: 1;
      text-decoration: none;
      border-bottom: 2px solid rgb(83, 191, 210);
      line-height: 22px;
      font-size: 16px;
      font-weight: normal;
      font-family: "Montserrat", sans-serif;
    }

    img {
      margin-right: 0.5em;
    }
  }

  .inner_link_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    .prev_profile {
      text-decoration: underline;
      cursor: pointer;
      letter-spacing: 0px;
      color: rgb(83, 191, 210);
      font-size: 15px;
      font-family: Montserrat;
      font-weight: 500;
    }
  }
}
.setup_container {
  width: 100%;

  padding: 0 4em;

  .setup_headings {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      letter-spacing: -0.45px;
      color: #161616;
      line-height: 55px;
      font-size: 45px;
      font-weight: bold;
      font-family: "Cormorant Garamond", sans-serif;
    }
    p {
      text-align: center;

      letter-spacing: 0.27px;
      color: #696969;
      opacity: 1;
      width: 70%;
      line-height: 30px;
      font-size: 18px;
      font-weight: normal;
      font-family: "Montserrat", sans-serif;
    }
  }
  .setup_wrapper {
    .setup_formInner {
      width: 100%;

      .setup_card1,
      .setup_card2 {
        margin: 1em 2em 1em 1em;
        h6 {
          margin-top: 1em;
          color: #161616;
          text-align: left;
          letter-spacing: 0px;
          line-height: 42px;
          font-size: 22px;
          font-weight: 500;
          font-family: "Montserrat", sans-serif;
        }
        textarea {
          width: 100%;
          height: 135px;

          border: 2px solid #bcbcbc;
          border-radius: 20px;
          font-size: 18px;
          color: #161616;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          padding: 0.5em 1em;
        }
        textarea::placeholder {
          font-size: 18px;
          color: #bcbcbc;
          font-style: italic;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
        }
        textarea:focus {
          outline: none;
        }
      }
      .setup_card3 {
        margin: 1em 2em 1em 1em;
        .row {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
        }
        h6 {
          margin-top: 1em;
          font-size: 22px;
          color: #161616;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          line-height: 45px;
          text-align: left;
          letter-spacing: 0px;
        }
        .read_image {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-evenly;
          h5 {
            color: rgb(83, 191, 210);
            font-size: 16px;
            margin-bottom: 1em;
            cursor: pointer;
            font-family: Montserrat;
            text-decoration: underline;
          }
          .render_image {
            display: flex;
          }
          h2 {
            margin: 0 2em;
          }
          input {
            display: none;
          }
        }
      }
      .setup_card4 {
        margin: 1em 2em 2em 1em;
        h5 {
          color: rgb(83, 191, 210);
          font-size: 16px;
          margin-bottom: 1em;
          cursor: pointer;
          font-family: Montserrat;
          text-decoration: underline;
        }
        h6 {
          margin-top: 1em;
          font-size: 22px;
          color: #161616;
          font-family: "Montserrat", sans-serif;
          line-height: 42px;
          font-weight: 500;
          text-align: left;
          letter-spacing: 0px;
        }
        .inputs_certificate {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 0.5em;
          align-items: center;

          input {
            width: 50%;
            margin: 1em 1em 1em 0;
            padding: 0.3em 1em;
            height: 45px;
            border: 2px solid #bcbcbc;
            border-radius: 30px;
            opacity: 1;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 500;
            top: -10px;
            position: relative;
          }
          input::placeholder {
            color: #bcbcbc;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
          }
          input:focus {
            outline: none;
          }
          .custom-file-input {
            color: transparent;
            width: 65%;
          }
          .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
          }
          .custom-file-input::before {
            content: "upload";
            outline: none;

            border: 0;

            text-transform: uppercase;
            color: black;
            font-weight: bold;
          }
          .custom-file-input:hover::before {
            border-color: black;
          }
          .custom-file-input:active {
            outline: 0;
          }
          .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
          }

          .checkarrow {
            position: relative;
            right: 150px;
          }
        }
      }

      .setup_card5 {
        h6 {
          // margin-top: 1em;
          font-size: 22px;
          color: #161616;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;

          text-align: left;
          letter-spacing: 0px;
          line-height: 42px;
        }
        .setupcontent_wrapper {
          margin: 3em 0.5em;
          display: grid;
          grid-template-columns: repeat(auto-fit, 50% 50%);
          grid-template-rows: auto;
          align-items: center;
          width: 100%;
          height: auto;
          word-wrap: normal;
          grid-column-gap: 40px;
          height: auto;
          .setup_item {
            margin: 1em 0 2em 0;
            .inputs_platform {
              button {
                border-radius: 50px;
                padding: 0.5em 2.5em;
                border: 0;
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 500;
                height: 45px;
                margin: 0.7em 0.7em 0.7em 0;

                &.active,
                &:hover,
                &:focus {
                  background-color: #000;
                  color: #fff;
                }
              }
            }
            .social_meeting_links {
              h5 {
                margin-top: 1em;
                font-size: 22px;
                color: #161616;
                font-weight: 500;
                text-align: left;
                letter-spacing: 0px;
                font-family: "Montserrat", sans-serif;
                line-height: 42px;
              }
              .inputs_platform {
                textarea {
                  width: 100%;
                  height: 135px;
                  border: 2px solid #bcbcbc;
                  border-radius: 20px;
                  font-size: 18px;
                  color: #161616;
                  font-family: "Montserrat", sans-serif;
                  font-weight: 500;
                  padding: 0.5em 1em;
                }
                textarea::placeholder {
                  font-size: 18px;
                  color: #bcbcbc;
                  font-style: italic;
                  font-family: "Montserrat", sans-serif;
                  font-weight: 500;
                }
                textarea:focus {
                  outline: none;
                }
              }
            }
          }
          .setup_item1 {
            margin: 0em 0 2em 0;

            h6 {
              margin-top: 1em;
              font-size: 22px;
              color: #161616;
              font-family: "Montserrat", sans-serif;
              font-weight: 500;

              text-align: left;
              letter-spacing: 0px;
              line-height: 10px;
            }

            .inputs_platform {
              input {
                width: 100% !important;
                margin: 1em 1em 1em 0;
                border-radius: 50px;
                background: transparent;
                width: 500px;
                height: 45px;
                font-size: 22px;
                color: #161616;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                border: 2px solid #bcbcbc;
                border-radius: 30px;
                opacity: 1;
                margin-right: 1em;
                padding: 0.3em 2em 0.3em 1em;
                opacity: 1;
                top: -10px;
                position: relative;
                @media screen and (max-width: 1023px) {
                  width: 100% !important;
                }
              }
              input::placeholder {
                text-align: left;
                color: #898989;
                font-size: 18px;
                font-family: "Montserrat", sans-serif;
                font-weight: normal;
                letter-spacing: 0px;
                line-height: 30px;
              }
              .iconwrapper {
                display: flex;
                margin: 0;
                padding: 0;
                height: 70px;
                width: 95% !important;
                img {
                  margin-left: -3.7em;
                  position: relative;
                  top: 25px;
                  height: 20px;
                }
                .location_icon {
                  position: relative;
                  top: 25px;
                  right: -2px;
                  height: 20px;
                }
                select {
                  background: transparent;
                  width: 90% !important;
                  margin: 0.5em 1em 0.5em 0;
                  padding: 0em 1.5em;
                  border-radius: 50px;
                  border: 2px solid #bcbcbc;
                  outline: none;
                  appearance: none;
                  font-family: "Montserrat", sans-serif;
                  font-size: 22px;
                  font-weight: 500;
                  color: #161616;
                  height: 45px;

                  option {
                    color: black;
                    border-radius: 100px;
                    border: 2px solid #bcbcbc;
                  }
                }
                select::placeholder {
                  color: #bcbcbc;
                  font-family: "Montserrat", sans-serif;

                  font-size: 18px;
                  font-weight: 400;
                }
                select:invalid {
                  color: #bcbcbc;
                  font-family: "Montserrat", sans-serif;

                  font-size: 18px;
                  font-weight: 500;
                }
              }
            }
          }
          .item_3 {
            margin: 2em 0 1.5em 0;
            position: relative;
            h6 {
              color: #161616;
              font-size: 22px;
              font-family: "Montserrat", sans-serif;
              line-height: 28px;
              font-weight: 500;

              letter-spacing: 0px;
              text-align: left;
            }
            label {
              margin-right: 3em;
              color: #2c2c2c;
              font-size: 20px;
              font-family: "Montserrat", sans-serif;

              font-weight: 500;
            }
            .inputs_platform {
              display: flex;
              justify-content: space-around;
            }
          }
          .item_4 {
            margin: 1em 0 0em 0;
            position: relative;
            top: -5px;

            h6 {
              color: #161616;
              opacity: 1;
              font-size: 22px;
              font-family: "Montserrat", sans-serif;

              font-weight: 500;
              line-height: 28px;
              letter-spacing: 0px;
              text-align: left;

              position: relative;
            }

            .inputs_platform {
              display: flex;
              textarea {
                width: 95%;
                height: 70px;

                border: 2px solid #bcbcbc;
                border-radius: 20px;
                font-size: 18px;
                color: #161616;
                font-family: "Montserrat", sans-serif;

                font-weight: 500;
                padding: 0.5em 1em;
              }
              textarea::placeholder {
                font-size: 18px;
                color: #bcbcbc;
                font-family: "Montserrat", sans-serif;

                font-weight: 400;
              }
              textarea:focus {
                outline: none;
              }
              label {
                margin-right: 3em;
                color: #2c2c2c;
                font-size: 20px;
                font-family: "Montserrat", sans-serif;

                font-weight: 500;
              }

              .loction_img_select {
                position: relative;
                left: -60px;
              }
            }
          }
          .item_5 {
            margin: 1em 0 2em 0;
            position: relative;
            top: -15px;
            h6 {
              color: #161616;
              opacity: 1;
              font-size: 22px;
              font-family: "Montserrat", sans-serif;
              line-height: 28px;

              font-weight: 500;

              letter-spacing: 0px;
              text-align: left;
            }
            label {
              margin-right: 3em;
              color: #2c2c2c;
              font-size: 20px;
              font-family: "Montserrat", sans-serif;

              font-weight: 500;
            }

            .inputs_platform {
              display: flex;
              justify-content: space-around;
            }
          }
          .item_6 {
            margin: 1em 0 2em 0;
            position: relative;
            h6 {
              color: #161616;
              opacity: 1;
              font-size: 22px;
              font-family: "Montserrat", sans-serif;
              line-height: 28px;

              font-weight: 500;

              letter-spacing: 0px;
              text-align: left;

              position: relative;
            }

            .inputs_platform {
              display: flex;
              textarea {
                width: 100%;
                height: 70px;

                border: 2px solid #bcbcbc;
                border-radius: 20px;
                font-size: 18px;
                color: #161616;
                font-family: "Montserrat", sans-serif;

                font-weight: 500;
                padding: 0.5em 1em;
              }
              textarea::placeholder {
                font-size: 18px;
                color: #bcbcbc;
                font-family: "Montserrat", sans-serif;

                font-weight: 400;
              }
              textarea:focus {
                outline: none;
              }
              .loction_img_select {
                position: relative;
                left: -60px;
              }
            }
          }
        }
      }
      .card_agree {
        display: flex;
        align-items: center;
        margin-bottom: 2em;
        input {
          padding: 1em;
          height: 20px;
          background-color: rgb(83, 191, 210);
        }
        label {
          display: flex;
          align-items: center;
          font-size: 18px;
          padding: 0 0 0 0.5em;
          color: #898989;
          text-align: left;
          letter-spacing: 0px;
          margin: 0;
          font-weight: 500;
          line-height: 42px;
          font-family: "Montserrat", sans-serif;

          a {
            color: rgb(83, 191, 210);
            padding-left: 0.2em;
            font-family: 800;
          }
        }
      }
    }
    .submit_button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 5em;

      button {
        display: block;
        outline: none;
        background: rgb(83, 191, 210);
        border: 0;
        height: 50px;
        margin: 1em 1em 2em 1em;
        text-decoration: none;
        padding: 0.2em 0.5em 0.2em 2em;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;

        &.loading {
          padding-right: 2rem;
        }
        a {
          display: flex;
          align-items: center;
        }
      }

      .terms_msg {
        margin-bottom: 6em;
        text-align: left;
        font-size: 18px;
        font-weight: 500;
        line-height: 42px;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}
.renderImage {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0.5em 1em 0.5em 0;
  cursor: pointer;

  input {
    display: none;
  }
  button {
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: #f3f3f3;
    border-radius: 20px;
  }
}

.customModal {
  max-width: 100% !important;
}

img {
  color: #ffff;
  font: 20px Impact;
}
