.inner_setup_container {
    padding: 0 4em;
    @media screen and (max-width: 920px)
    {
        padding: 1rem;
    }
    .setup_link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 2em 0;
        @media screen and (max-width: 920px)
        {
            display: none;
        }

        .inner_link {
            display: flex;
            align-items: center;
            a {
                text-align: left;
                letter-spacing: 0.18px;
                color: #161616;
                opacity: 1;
                text-decoration: none;
                border-bottom: 2px solid rgb(83, 191, 210);
                line-height: 22px;
                font-size: 16px;
                font-weight: normal;
                font-family: "Montserrat", sans-serif;
            }

            img {
                margin-right: 0.5em;
            }
        }

        .inner_link_preview {
            display: flex;
            flex-direction: column;
            align-items: center;
            .prev_profile {
                text-decoration: underline;
                cursor: pointer;
                letter-spacing: 0px;
                color: rgb(83, 191, 210);
                font-size: 15px;
                font-family: Montserrat;
                font-weight: 500;
            }
        }
    }
    .setup_headings {
        margin: 4em 0 2em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            text-align: center;
            letter-spacing: -0.45px;
            color: #161616;
            line-height: 55px;
            font-size: 45px;
            font-weight: bold;
            font-family: "Cormorant Garamond", sans-serif;
            margin-top: 1rem;
        }
        p {
            text-align: center;
            letter-spacing: 0.27px;
            color: #696969;
            opacity: 1;
            width: 70%;
            line-height: 30px;
            font-size: 18px;
            font-weight: normal;
            font-family: "Montserrat", sans-serif;
            @media screen and (max-width: 920px)
            {
                width: 100%;
                margin-top: 1rem;
            }
        }
    }
    .certificate_content {
        .image_upload_init {
            width: 170px;
            height: 170px;
            margin: 0.5em 1em 0.5em 0;

            .image-upload-card {
                border-radius: 20px;
                opacity: 1;
                padding: 10px;
                width: 170px;
                height: 170px;
                .uploaded-image {
                    position: relative;
                    &:hover {
                        #overlay {
                            display: block;
                        }
                        .remove-image {
                            display: block;
                        }
                    }
                    #overlay {
                        position: absolute;
                        display: none;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.32);
                        cursor: pointer;
                    }
                    .remove-image {
                        position: absolute;
                        top: 50%;
                        display: none;
                        right: 50%;
                        height: 15px;
                        width: 15px;
                    }
                }
            }
        }
        .certificate_fields {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            input {
                margin: 0.5em 0.2em;
                border: 1px solid #bcbcbc;
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                font-weight: 500;
                height: 45px;
                border-radius: 50px;
                width: 48%;
                padding: 0.5em 1em;
                &::placeholder {
                    font-size: 18px;
                    color: #bcbcbc;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                }
            }
        }
        .certificate_button {
            text-align: left;
            text-decoration: underline;
            color: #53bfd2;
            font-size: 15px;
            line-height: 42px;
            font-family: Montserrat;
            border: none;
            outline: none;
            background-color: transparent;
        }
    }

    .trainDetails_container {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: auto;
        grid-column-gap: 40px;
        margin-bottom: 6em;
        @media screen and (max-width: 920px)
        {
            display: block;
        }
        .training_options {
            label {
                margin-top: 1em;
                color: #161616;
                text-align: left;
                letter-spacing: 0px;
                // text-transform: capitalize;
                line-height: 30px;
                font-size: 22px;
                font-weight: 500;
                font-family: "Montserrat", sans-serif;
            }
            button {
                border-radius: 50px;
                border: 2px solid #bcbcbc !important;
                background-color: transparent;
                color: rgb(0, 0, 0);
                width: 190px;
                text-align: center;
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 500;
                height: 45px;
                margin: 0 0.7em 0.7em 0;
                &:focus,
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
                &.buttonFalse {
                    background-color: rgb(255, 255, 255);
                    color: #000;
                }
                &.buttonTrue {
                    color: #fff;
                    background-color: rgb(0, 0, 0);
                }
            }
        }
        .dd_content {
            select {
                border-radius: 50px;
                border: 2px solid #bcbcbc;
                box-shadow: 0 0;
                outline: 0;
                background: white;
                max-height: 45px;
                min-height: 45px;
                width: 100%;
                padding: 0px 20px;
                font-size: 18px;
                background: url("../../../../assets/files/SVG/Drop Down 4.svg")
                    95% center no-repeat;
                background-color: transparent;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                font-weight: 500;
                option {
                    color: black;
                    border: 2px solid #bcbcbc;
                }
            }
            select::placeholder {
                color: #bcbcbc;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
            }
            h5 {
                margin-top: 1em;
                color: #161616;
                text-align: left;
                letter-spacing: 0px;
                text-transform: capitalize;
                line-height: 30px;
                font-size: 22px;
                font-weight: 500;
                font-family: "Montserrat", sans-serif;
            }
        }
        .radio {
            color: #161616;
            line-height: 30px;
            font-size: 20px;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
        }
        .input_content {
            input {
                border: 1.5px solid #bcbcbc;
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                font-weight: 500;
                height: 45px;
                border-radius: 50px;
                width: 90%;
                padding: 0.5em 1em;
                &::placeholder {
                    font-size: 18px;
                    color: #bcbcbc;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                }
            }
            img {
                position: relative;
                right: 45px;
            }
        }
    }
    .card_agree {
        display: flex;
        align-items: center;
        margin: 3em 0 2em 0;
        input {
            padding: 1em;
            height: 20px;
            background-color: rgb(83, 191, 210);
        }
        label {
            display: flex;
            align-items: center;
            font-size: 18px;
            padding: 0 0 0 0.5em;
            color: #898989;
            text-align: left;
            letter-spacing: 0px;
            margin: 0;
            font-weight: 500;
            line-height: 42px;
            font-family: "Montserrat", sans-serif;
            @media screen and (max-width: 920px)
            {
                display: block;
            }

            a {
                color: rgb(83, 191, 210);
                padding-left: 0.2em;
                font-family: 800;
            }
        }
    }

    .submit_button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5em;

        button {
            display: block;
            outline: none;
            background: rgb(83, 191, 210);
            border: 0;
            height: 50px;
            margin: 1em 1em 2em 1em;
            text-decoration: none;
            padding: 0.2em 0.5em 0.2em 2em;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;

            &.loading {
                padding-right: 2rem;
            }
            a {
                display: flex;
                align-items: center;
            }
        }

        .terms_msg {
            margin-bottom: 6em;
            text-align: left;
            font-size: 18px;
            font-weight: 500;
            line-height: 42px;
            font-family: "Montserrat", sans-serif;
        }
    }
}
// global styles for labels
.certificate_content,
.textarea_content,
.input_content,
.radio_content {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    label {
        margin-top: 1em;
        color: #161616;
        text-align: left;
        letter-spacing: 0px;
        // text-transform: capitalize;
        line-height: 30px;
        font-size: 22px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
    }
    .btn-file-input {
        position: relative;
        overflow: hidden;
        button {
            box-sizing: border-box;
            height: 170px;
            width: 170px;
            color: #fff;
            font-size: 24px;
            border-radius: 20px;
            border: 1px solid transparent;
            padding: 0;
            img {
                width: 100%;
                height: 170px;
            }
        }
    }
    .btn-file-input input[type="file"] {
        left: 10px;
        position: absolute;
        top: 10px;
        height: 170px;
        font-size: 0.625rem;
        filter: alpha(opacity=0);
        opacity: 0;
        width: 170px;
        outline: none;
        background: transparent;
        cursor: pointer;
        display: block;
    }
    textarea {
        border: 1px solid #bcbcbc;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 500;
        height: 120px;
        border-radius: 20px;
        width: 100%;
        padding: 0.5em 1em;
        margin-bottom: 1em;

        &::placeholder {
            font-size: 18px;
            color: #bcbcbc;
            font-style: italic;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
        }
        &:focus {
            outline: none;
        }
    }
}
