$primary-bg: #ffffff
$text-color: #161616
$logo: #53BFD2
$secondary-bg: #F8F8F8
.card-box
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    border-radius: 50px
    padding: 0 6em

    .card-wrapper
        background: $primary-bg
        width: 100%
        height: 100px
        border-radius: 50px
        border: 2px solid #70707046
        display: flex
        justify-content: center
        flex-direction: row
        margin: 2em

        .item1, .item2, .item3, .item4
            width: 20%
            text-align: left
            h3
                font-size: 18px
                padding: 1em 1em 0 1em
                color: $text-color
            .card-item
                display: flex
                align-items: center
                padding: 0 0.5em
                input
                    width: 100%
                    background: transparent
                    outline: none
                    border: 0
                    margin: 0 0.5em
                &:nth-child(3)
                    width: 100%

                svg
                    margin: 0 0.5em
                    align-items: center
                    width: 27.08px
                    height: 23.94px
                select
                    background: transparent
                    outline: none
                    border: 0
                    width: 60%

    .item5
        display: flex
        align-items: center
        .circle
            background: $logo
            border-radius: 100px
            width: 80px
            height: 80px
            display: flex
            align-items: center
            svg
                display: flex
                align-items: center
                margin: 0 auto
                font-size: 2em
                color: $primary-bg
.line
    display: flex
    align-items: center
    justify-content: center
