//inPersonDropdown styles
.inPersonBG {
    background: #fff;
    position: relative;
    top: 9px;
    font-family: "Montserrat", sans-serif !important;

    .list_inPerson {
        display: flex;
        flex-direction: column;
        padding: 1em;
        font-family: "Montserrat", sans-serif !important;

        .radio_content {
            display: flex;
            align-items: center;
            text-transform: uppercase;
        }
        span {
            color: #898989;
            font-family: "Montserrat", sans-serif !important;
            font-size: 16px !important;
            font-weight: 600 !important;
            text-transform: uppercase !important;
            :nth-child(1) {
                color: #53bfd2;
            }
        }
    }
}
.inperson_checkbox {
    color: #898989;
}
