@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Montserrat&display=swap");

@import "./find.scss";

.background {
  background: transparent
    url("../../../../src/assets/files/Home/Banner/Banner.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;

  background-size: cover;
  height: 975px;
  display: flex;
  justify-content: center;

  .cntr_cotainer {
    display: flex;
    justify-content: center;
    flex-direction: column;

    // @media screen and (max-width: 1023px) {
    //   justify-content: space-between;
    // }

    .heading_items {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .heading_txt {
        text-align: center;
        font-weight: 800;
        font-family: "Cormorant Garamond";
        font-size: 60px;
        letter-spacing: -1.2px;
        color: #000000;
        text-shadow: 0px 3px 6px #c6c6c6;
        opacity: 1;
        // @media screen and (max-width: 1023px) {
        //   font: normal normal bold 40px/75px Cormorant Garamond;
        // }
      }

      .sub_heading_txt {
        font-size: 20px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        letter-spacing: 0.3px;
        color: #2c2c2c;
        text-shadow: 0px 3px 6px #62412329;
        opacity: 1;
        // @media screen and (max-width: 1023px) {
        //   font: normal normal medium 14px/30px Montserrat;
        // }
      }
    }

    // .search-box {
    //   height: 100px;
    //   background: #f8f8f8 0% 0% no-repeat padding-box;
    //   box-shadow: 0px 3px 12px #624123;
    //   border-radius: 150px;
    //   opacity: 1;
    //   margin-top: 5rem;
    //   min-width: 1000px;
    //   max-width: 1920px;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;

    //   .inner-choice-1 {
    //     margin-left: 50px;
    //     text-align: left;
    //     letter-spacing: 0px;
    //     color: #161616;
    //     text-transform: capitalize;
    //     font-family: Montserrat;
    //     font-size: 18px;
    //     opacity: 1;
    //   }

    //   .inner-choice {
    //     img {
    //       padding: 11px;
    //     }
    //   }
    // }
  }
}

// .mobile-search {
//   height: 100px;
//   width: 100%;
//   position: fixed;
//   z-index: 10000;
//   bottom: 0;

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .mobile-search-card {
//     height: 60px;
//     width: 90%;
//     background-color: white;
//     border-radius: 60px;
//     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
//     display: flex;
//     align-items: center;
//   }

//   .mobile-search-txt {
//     font-size: 18px;
//     margin-left: 20px;
//     font-weight: 500;
//     font-family: "Montserrat", sans-serif;
//     flex: 2;
//   }

//   .mobile-search-icon {
//     height: 50px;
//     width: 50px;
//     border-radius: 50px;
//     background-color: #53bfd2;
//     margin-right: 5px;
//   }
// }

@media only screen and (max-width: 600px) {
  .background {
    background: transparent
      url("../../../../src/assets/files/Home/Banner/Mobile_Homepage_Banner_Image.jpg")
      0% 0% no-repeat padding-box;
    background-size: 100%;
    display: flex;
    justify-content: center;
    .cntr_cotainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .mobile-search {
        height: 100px;
        width: 100%;
        position: fixed;
        z-index: 10000;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        .mobile-search-card {
          height: 60px;
          width: 90%;
          background-color: white;
          border-radius: 60px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
          display: flex;
          align-items: center;
        }

        .mobile-search-txt {
          font-size: 18px;
          margin-left: 20px;
          font-weight: 500;
          font-family: "Montserrat", sans-serif;
          flex: 2;
        }

        .mobile-search-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          height: 50px;
          width: 50px;
          border-radius: 50px;
          background-color: #53bfd2;
          margin-right: 5px;
          color: white;
        }
      }

      .heading_items {
        width: 100%;
        padding: 3%;
        margin-top: 3rem;
        .heading_txt {
          font-size: 45px;
        }

        .sub_heading_txt {
          font-size: 16px;
        }
      }
    }
  }
}
