@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Montserrat&display=swap");

@import "./find.scss";

.background {
  background: transparent
    url("../../../../src/assets/files/Home/Banner/Banner.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;

  background-size: cover;
  height: 975px;
  display: flex;
  justify-content: center;

  .cntr_cotainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // @media screen and (max-width: 1023px) {
    //   justify-content: space-between;
    // }

    .heading_items {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .heading_txt {
        text-align: center;
        font-weight: 800;
        font-family: "Cormorant Garamond";
        font-size: 60px;
        letter-spacing: -1.2px;
        color: #000000;
        text-shadow: 0px 3px 6px #c6c6c6;
        opacity: 1;
        // @media screen and (max-width: 1023px) {
        //   font: normal normal bold 40px/75px Cormorant Garamond;
        // }
      }

      .sub_heading_txt {
        font-size: 20px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        letter-spacing: 0.3px;
        color: #2c2c2c;
        text-shadow: 0px 3px 6px #62412329;
        opacity: 1;
        // @media screen and (max-width: 1023px) {
        //   font: normal normal medium 14px/30px Montserrat;
        // }
      }
    }

    // .search-box {
    //   height: 100px;
    //   background: #f8f8f8 0% 0% no-repeat padding-box;
    //   box-shadow: 0px 3px 12px #624123;
    //   border-radius: 150px;
    //   opacity: 1;
    //   margin-top: 5rem;
    //   min-width: 1000px;
    //   max-width: 1920px;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;

    //   .inner-choice-1 {
    //     margin-left: 50px;
    //     text-align: left;
    //     letter-spacing: 0px;
    //     color: #161616;
    //     text-transform: capitalize;
    //     font-family: Montserrat;
    //     font-size: 18px;
    //     opacity: 1;
    //   }

    //   .inner-choice {
    //     img {
    //       padding: 11px;
    //     }
    //   }
    // }
  }
}

@media only screen and (max-width: 600px) {
  .background {
    background: transparent
    url("../../../../src/assets/files/Home/Banner/Mobile_Homepage_Banner_Image.jpg") 0% 0% no-repeat
    padding-box;
    background-size:100%;
    display: flex;
    justify-content: center;
    .cntr_cotainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      .heading_items {
        width: 100%;
        padding: 3%;
        margin-top: 5rem;
        .heading_txt {
          font-size: 45px;
        }

        .sub_heading_txt {
          font-size: 16px;
        }
      }
    }
  }
}
