.wrapper {
    width: 100%;
    margin: 0 auto;
}

.accordion-wrapper {
    width: 100%;
    & + * {
        margin-top: 0.5em;
    }
    .cyanRadio_wrapper {
        display: flex;
        align-items: center;
    }
}

.accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
    .accordion-content {
        p {
            font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
                var(--unnamed-line-spacing-30)
                var(--unnamed-font-family-montserrat);
            letter-spacing: var(--unnamed-character-spacing-0-27);
            text-align: left;
            font: normal normal normal 18px/30px Montserrat;
            letter-spacing: 0.27px;
            color: #696969;
        }
    }
}

.accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
    font-weight: 500;
    cursor: pointer;
    color: black;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";

    font-size: 22px;
    width: 100%;

    &::after {
        content: url("../../assets/files/SVG/Cross 2.svg");
        // width: 20px;
        // height: 2px;
        // background-color: rgb(0, 0, 0);
        // background-image: url("../../../assets/SVG/Negative.svg");
    }

    &:hover,
    &.open {
        color: #666;
    }

    &.open {
        &::after {
            content: url("../../assets/files/SVG/Negative.svg");
        }
    }
}
