html {
    scroll-behavior: smooth;
}
.faq_outer_container {
    width: 100%;

    .hero_banner {
        width: 100%;
        background: #53bfd2;
        padding: 40px;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            // font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 60px/var(--unnamed-line-spacing-55) var(--unnamed-font-family-cormorant-garamond);
            // color: var(--unnamed-color-ffffff);
            text-align: center;
            font: normal normal bold 60px/55px Cormorant Garamond;
            letter-spacing: -0.6px;
            color: #ffffff;
            text-shadow: 0px 3px 6px #0000004b;
            opacity: 1;
        }
    }

    .faq_wrapper {
        width: 100%;

        .data_container {
            display: grid;
            grid-template-columns: 28% 68%;
            grid-template-rows: auto;
            grid-column-gap: 40px;
            margin-top: 100px;
            .side_menu_contents {
                height: auto;
                margin-bottom: 1em;
                z-index: -5;
                .sidebar_left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    position: sticky;
                    top: 200px;
                    bottom: 200px;
                    height: 346px;
                    margin-bottom: 2em;
                    align-self: start;

                    a {
                        padding: 1em 1em 0 1em;
                        font: var(--unnamed-font-style-normal) normal
                            var(--unnamed-font-weight-bold)
                            var(--unnamed-font-size-17) /
                            var(--unnamed-line-spacing-42)
                            var(--unnamed-font-family-montserrat);
                        color: var(--unnamed-color-161616);
                        text-align: left;
                        font: normal normal bold 17px/42px Montserrat;
                        letter-spacing: 0.59px;
                        color: #161616;
                        text-transform: uppercase;
                        cursor: pointer;
                        opacity: 1;
                        &.active {
                            text-decoration: underline 4px #53bfd2;
                        }
                    }
                    a:hover {
                        text-decoration: underline 4px #53bfd2;
                    }
                }
            }

            .sidebar_right {
                overflow: auto;
                height: auto;
                .card_item {
                    margin-bottom: 8em;
                    h6 {
                        // font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-35)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-montserrat);
                        // letter-spacing: var(--unnamed-character-spacing-0);
                        color: var(--unnamed-color-53bfd2);
                        text-align: left;
                        // font: normal normal medium 35px/58px Montserrat;
                        font-size: 35px;
                        font-family: Montserrat;
                        letter-spacing: 0px;
                        color: #53bfd2;
                        opacity: 1;
                        margin-bottom: 1.5em;
                    }
                }
                .card_item2 {
                    margin-bottom: 15em;
                    h6 {
                        color: var(--unnamed-color-53bfd2);
                        text-align: left;
                        font-size: 35px;
                        font-family: Montserrat;
                        letter-spacing: 0px;
                        color: #53bfd2;
                        opacity: 1;
                        margin-bottom: 1.5em;
                    }
                }
            }
        }
    }
}
