.event_outter_container {
    width: 100%;
    height: 1000px;
    .event_inner_container {
        .link_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: 2em;

            .inner_links {
                display: flex;
                flex-direction: column;
                align-items: center;
                a {
                    margin-left: 1em;
                    font: var(--unnamed-font-style-normal) normal
                        var(--unnamed-font-weight-normal)
                        var(--unnamed-font-size-18) /
                        var(--unnamed-line-spacing-42)
                        var(--unnamed-font-family-montserrat);
                    color: var(--unnamed-color-161616);
                    text-align: left;
                    font: normal normal normal 16px/22px Montserrat;
                    letter-spacing: 0.18px;
                    color: #161616;
                    opacity: 1;
                    text-decoration: none;
                }
                div {
                    width: 95%;
                    height: 2px;
                    margin-left: 1.5em;
                    background-color: #53bfd2;
                }
            }
        }
        .event_wrapper {
            .event_wrapper_inner {
                .event_header {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-top: 2em;
                    h2 {
                        font: var(--unnamed-font-style-normal) normal
                            var(--unnamed-font-weight-600)
                            var(--unnamed-font-size-35) /
                            var(--unnamed-line-spacing-58)
                            var(--unnamed-font-family-montserrat);
                        letter-spacing: var(--unnamed-character-spacing-0);
                        color: var(--unnamed-color-161616);
                        text-align: center;
                        font: normal normal 600 35px/58px Montserrat;
                        letter-spacing: 0px;
                        color: #161616;
                        opacity: 1;
                    }
                    p {
                        width: 900px;
                        height: 54px;
                        font: var(--unnamed-font-style-normal) normal
                            var(--unnamed-font-weight-normal)
                            var(--unnamed-font-size-18) /
                            var(--unnamed-line-spacing-30)
                            var(--unnamed-font-family-montserrat);
                        letter-spacing: var(--unnamed-character-spacing-0-27);
                        text-align: center;
                        font: normal normal normal 18px/30px Montserrat;
                        letter-spacing: 0.27px;
                        color: #696969;
                        opacity: 1;
                    }
                }
                .user_profile_details {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 5em 0 2em 1em;
                    img {
                        width: 125px;
                        height: 125px;
                        opacity: 1;
                        border-radius: 100px;
                    }
                    .user_content {
                        align-items: center;
                        margin: 0em 0 0em 1em;
                        h2 {
                            font: var(--unnamed-font-style-normal) normal
                                var(--unnamed-font-weight-bold)
                                var(--unnamed-font-size-45) /
                                var(--unnamed-line-spacing-55)
                                var(--unnamed-font-family-cormorant-garamond);
                            letter-spacing: var(
                                --unnamed-character-spacing--0-45
                            );
                            color: var(--unnamed-color-161616);
                            text-align: left;
                            font: normal normal bold 45px/55px Cormorant
                                Garamond;
                            letter-spacing: -0.45px;
                            color: #161616;
                            opacity: 1;
                        }
                        p {
                            text-align: left;
                            letter-spacing: 1.1px;
                            color: #898989;
                            text-transform: uppercase;
                            opacity: 1;
                            font-size: 22px;
                            font-family: Montserrat;
                            font-weight: 500;
                        }
                    }
                }
                .event_schedular_slot {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: cyan;
                    width: 100%;
                    height: 400px;
                    padding: 2em;
                    margin: 1em;
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    padding-left: 1em;
                    width: 230px;
                    text-decoration: none;
                    height: 52px;
                    background: var(--unnamed-color-53bfd2) 0% 0% no-repeat
                        padding-box;
                    background: #53bfd2 0% 0% no-repeat padding-box;
                    opacity: 1;
                    font: var(--unnamed-font-style-normal) normal
                        var(--unnamed-font-weight-bold)
                        var(--unnamed-font-size-18) /
                        var(--unnamed-line-spacing-22)
                        var(--unnamed-font-family-montserrat);
                    color: var(--unnamed-color-ffffff);
                    text-align: right;
                    font: normal normal bold 18px/22px Montserrat;
                    letter-spacing: 0.45px;
                    color: #ffffff;
                    text-transform: uppercase;
                    opacity: 1;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}
