.navsearch-container {
  input {
    border-radius: 30px;
    text-indent: 10px;
    border-color: #53bfd2;
    border-style: solid;
    width: 300px;
    padding: 1px;
  }

  .icon-search {
    color: #898989;
    position: relative;
    right: 35px;
  }
}
