.footer_container {
    // height: 400px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    @media screen and (max-width: 1023px) {
        width: 100%;
    }

    footer {
        height: 300px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        background-color: #000;
        @media screen and (max-width: 1023px) {
            width: 100%;
            flex-wrap: wrap;
        }
        .footer_outter {
            width: 100%;
            .footer_main {
                // display: flex;
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                align-items: flex-end;
                @media screen and (max-width: 1023px) {
                    grid-template-columns: auto;
                }

                .footer_left {
                    display: flex;
                    justify-content: center;
                    height: 300px;
                    align-items: center;
                    background-color: rgb(0, 0, 0);
                    @media screen and (max-width: 1023px) {
                        height: 300px;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                    }

                    .footer_left_items {
                        display: flex;
                        flex-direction: column;
                        @media screen and (max-width: 1023px) {
                            width: 100%;
                            flex-direction: column;
                            align-items: center;
                        }
                        p {
                            font: var(--unnamed-font-style-normal) normal
                                var(--unnamed-font-weight-normal)
                                var(--unnamed-font-size-22) /
                                var(--unnamed-line-spacing-54)
                                var(--unnamed-font-family-montserrat);
                            letter-spacing: var(--unnamed-character-spacing-0);
                            color: var(--unnamed-color-ffffff);
                            text-align: left !important;
                            font: normal normal normal 22px/54px Montserrat;
                            letter-spacing: 0px;
                            color: #ffffff;
                            opacity: 1;
                            display: flex;
                            // justify-content: flex-start;
                            @media screen and (max-width: 1023px) {
                                width: 100%;
                                flex-direction: column;
                                padding: 0 !important;
                                align-items: center;
                                text-align: center !important;
                                margin: 3em 0 2em 0;
                            }
                        }
                        .footer_socialIcons {
                            .footer_social {
                                display: flex;
                                list-style-type: none;
                                margin: 0;
                                width: 100%;
                                padding: 0;
                                @media screen and (max-width: 1023px) {
                                    padding: 0;
                                    margin: 0 0 5em 0;
                                    z-index: 0;
                                    width: 100%;
                                }

                                li {
                                    margin-right: 2em;
                                    a {
                                        font-size: 40px !important;
                                        color: #53bfd2;
                                    }
                                }
                            }
                        }
                    }
                }

                .footer_right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: #2c2c2c;
                    height: 380px;
                    width: 100%;
                    margin: 0;
                    clip-path: polygon(
                        100% -800%,
                        100% 100%,
                        100% 100%,
                        0% 100%
                    );
                    @media screen and (max-width: 1023px) {
                        width: 100%;
                        height: 700px;
                        background: #000 url("../../../assets/SVG/Grey BG.png")
                            no-repeat;
                        background-size: cover;
                        z-index: 0;
                        clip-path: none;
                        // display: none;
                    }

                    .footer_right_inner {
                        margin: 0 2em 0 10em;
                        @media screen and (max-width: 1023px) {
                            margin: 0 auto;
                        }
                        .right_wrapper {
                            margin: 0 2em;
                            .logo_contents {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin: 2em 0;
                                @media screen and (max-width: 1023px) {
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                }
                                a {
                                    font: var(--unnamed-font-style-normal)
                                        normal var(--unnamed-font-weight-normal)
                                        var(--unnamed-font-size-17) / 24px
                                        var(--unnamed-font-family-montserrat);
                                    letter-spacing: var(
                                        --unnamed-character-spacing-0
                                    );
                                    color: var(--unnamed-color-53bfd2);
                                    text-align: left;
                                    font: normal normal normal 17px/24px
                                        Montserrat;
                                    letter-spacing: 0px;
                                    color: #53bfd2;
                                    opacity: 1;
                                    text-decoration: none;
                                }
                            }
                            .footer_links {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin: 1em 0;
                                padding: 0;
                                font: var(--unnamed-font-style-normal) normal
                                    var(--unnamed-font-weight-200)
                                    var(--unnamed-font-size-28) /
                                    var(--unnamed-line-spacing-54)
                                    var(--unnamed-font-family-montserrat);
                                letter-spacing: var(
                                    --unnamed-character-spacing-0
                                );
                                color: var(--unnamed-color-ffffff);
                                text-align: left;
                                font: normal normal 200 28px/54px Montserrat;
                                letter-spacing: 0px;
                                color: #ffffff;
                                text-transform: lowercase;
                                opacity: 0.5;
                                list-style-type: none;
                                @media screen and (max-width: 1023px) {
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                }
                                li {
                                    a {
                                        text-decoration: none;
                                        color: #ffffff;
                                        @media screen and (max-width: 1023px) {
                                            margin: 0.5em 0;
                                        }
                                    }
                                }
                            }
                            hr {
                                background-color: #454545;
                                position: relative;

                                @media screen and (max-width: 1023px) {
                                    display: none;
                                }
                            }
                        }
                        .footer_contents {
                            margin: 0.5em 2em;

                            display: flex;
                            justify-content: space-between;
                            @media screen and (max-width: 1023px) {
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                            }
                            .footer_policy {
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                @media screen and (max-width: 1023px) {
                                    flex-direction: column-reverse;
                                    align-items: center;
                                    justify-content: center;
                                }

                                p {
                                    font: var(--unnamed-font-style-normal)
                                        normal var(--unnamed-font-weight-normal)
                                        var(--unnamed-font-size-14) / 26.9px
                                        var(--unnamed-font-family-montserrat);
                                    letter-spacing: var(
                                        --unnamed-character-spacing-0
                                    );
                                    color: var(--unnamed-color-898989);
                                    text-align: left;
                                    font: normal normal normal 14px/27px
                                        Montserrat;
                                    letter-spacing: 0px;
                                    color: #898989;
                                    opacity: 1;
                                    @media screen and (max-width: 1023px) {
                                        text-align: center;
                                    }

                                    span,
                                    a {
                                        display: inline;
                                        text-decoration: none;
                                        color: #898989;

                                        @media screen and (max-width: 1023px) {
                                            text-align: center;
                                            display: flex;
                                            justify-content: center;
                                            color: #898989;
                                            text-decoration: none;
                                            padding: 0 0.5em;
                                        }

                                        a {
                                            @media screen and (max-width: 1023px) {
                                                margin-left: 0.3em;
                                            }
                                        }
                                    }
                                }
                                .footer_privacy {
                                    @media screen and (max-width: 1023px) {
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                    .footer_privacy_ul {
                                        display: flex;
                                        list-style-type: none;
                                        @media screen and (max-width: 1023px) {
                                            padding: 0;
                                            margin: 0 0 1.5em 0;
                                        }

                                        li {
                                            margin: 0 1em;
                                            font: var(
                                                    --unnamed-font-style-normal
                                                )
                                                normal
                                                var(
                                                    --unnamed-font-weight-normal
                                                )
                                                var(--unnamed-font-size-14) /
                                                26.9px
                                                var(
                                                    --unnamed-font-family-montserrat
                                                );
                                            letter-spacing: var(
                                                --unnamed-character-spacing-0
                                            );
                                            color: var(--unnamed-color-898989);
                                            text-align: right;
                                            font: normal normal normal 14px/27px
                                                Montserrat;
                                            letter-spacing: 0px;
                                            color: #898989;
                                            opacity: 1;
                                            @media screen and (max-width: 1023px) {
                                                text-align: center;
                                                margin: 0 auto;
                                            }
                                        }
                                        img {
                                            @media screen and (max-width: 1023px) {
                                                padding: 0 0.6em;
                                            }
                                        }
                                    }
                                    .hr_mobile {
                                        @media screen and (max-width: 1023px) {
                                            background-color: #454545;
                                            height: 2px;
                                            width: 100%;
                                            position: relative;
                                            margin: 0 0 0.5em 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
