.outter_admin_login {
    width: 100%;
    height: 100vh;
    .inner_admin_login {
        .login_wraper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            flex-direction: column;
            h2 {
                margin: 2em 0 1em 0;
                font: var(--unnamed-font-style-normal) normal
                    var(--unnamed-font-weight-bold) var(--unnamed-font-size-45) /
                    var(--unnamed-line-spacing-55)
                    var(--unnamed-font-family-cormorant-garamond);
                letter-spacing: var(--unnamed-character-spacing--0-45);
                color: var(--unnamed-color-161616);
                text-align: center;
                font: normal normal bold 45px/55px Cormorant Garamond;
                letter-spacing: -0.45px;
                color: #161616;
                opacity: 1;
            }
            form {
                .inner_form_loginAdmin {
                    display: flex;
                    flex-direction: column;
                    label {
                        color: #242323;
                        font-family: Montserrat;
                        font-size: 22px;
                        font-weight: 500;
                        margin: 0.5em 0;
                    }

                    .input_item1_signin {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        img {
                            position: relative;
                            right: 45px;
                        }
                        input {
                            height: 45px;
                            width: 425px;
                            border: 1.5px solid var(--unnamed-color-bcbcbc);
                            border: 2px solid #bcbcbc;
                            border-radius: 30px;
                            opacity: 1;
                            padding: 1em 1.5em;
                            font-size: 18px;
                            color: var(--unnamed-color-898989) !important;
                            font: var(--unnamed-font-style-normal) normal
                                var(--unnamed-font-weight-normal)
                                var(--unnamed-font-size-20) /
                                var(--unnamed-line-spacing-42)
                                var(--unnamed-font-family-montserrat);
                            font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 500;
                        }
                        input::placeholder {
                            color: #898989;
                            font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 500;
                        }
                        input:focus {
                            outline: none;
                        }
                    }
                    button {
                        margin-top: 2em;
                        outline: none;
                        background: #53bfd2;
                        border: 0;
                        width: 425px;
                        padding: 0.8em;
                        text-align: center;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: bold;
                        height: 52px;
                        background: var(--unnamed-color-53bfd2) 0% 0% no-repeat
                            padding-box;
                        background: #53bfd2 0% 0% no-repeat padding-box;
                        opacity: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .sigup_admin {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        margin-top: 2em;
                        h4 {
                            font-family: Montserrat;
                            font-size: 22px;
                            font-weight: 500;
                            margin: 0.5em 0;
                        }
                        a {
                            font-family: Montserrat;
                            font-size: 22px;
                            font-weight: 500;
                            margin: 0.5em 0;
                            color: black;
                            font-weight: 800;
                            text-transform: uppercase;
                        }
                    }
                    .errorMessage {
                        color: tomato;
                        font-family: Montserrat;
                        font-size: 22px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin-top: 1em;
                    }
                }
            }
        }
    }
}
