.search_filter {
  height: 100px;
  border-radius: 100px;
  background-color: #f8f8f8;
  box-shadow: 0px 3px 12px #1616161a;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 20px;

  .filter_type {
    flex: 3;
    border-right: solid 2px #eaeaea;
    padding-left: 1em;
    padding-right: 1em;
    font-family: "Montserrat", sans-serif;

    .filter_header {
      font-size: 18px;
      color: #161616;
      font-weight: 500;
    }

    .filter_options {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .option_txt {
        color: #898989;
        font-size: 20px;
      }

      .option_icon{
        color: #898989;
        font-size: 20px;
        font-weight: 300;
        transform: rotate(-90deg);
      }
    }
  }

  .search_cta {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .circle {
      height: 80px;
      width: 80px;
      border-radius: 80px;
      background-color: #53bfd2;
    }
  }
}
