.wrapper {
  z-index: 1;
  position: relative;


  .search_filter {
    height: 100px;
    border-radius: 100px;
    background-color: #f8f8f8;
    -webkit-box-shadow: 0px 3px 12px #1616161a;
            box-shadow: 0px 3px 12px #1616161a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 1140px;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .filter_type {
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3;
      border-right: solid 2px #eaeaea;
      padding-left: 1em;
      padding-right: 1em;
      font-family: "Montserrat", sans-serif;
      height: 100%;
      max-width: 255px;

      .filter_type:focus {
        outline: none;
      }

      .filter_header {
        font-size: 18px;
        color: #161616;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
      }

      .filter_options {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        .option_txt {
          color: #898989;
          font-size: 20px;
          font-family: "Montserrat", sans-serif;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          .blue_bar {
            color: #53bfd2;
            font-weight: 600;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 3px;
          }

          .active_bar {
            font-weight: 600;
            border-bottom: solid 3px #53bfd2;
          }
        }

        .option_icon {
          color: #898989;
          font-size: 20px;
          font-weight: 300;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg);
        }
        .option_icon_rotate {
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg);
        }
      }

      .city_dropdown {
        background-color: #fff;
        display: block;
        position: relative;
        -webkit-box-shadow: 0px 3px 12px #1616160d;
                box-shadow: 0px 3px 12px #1616160d;
        cursor: pointer;
        bottom: 2px;
        width: 200px;
        left: 35px;
        z-index: -1;

        color: #161616;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .city {
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.7px;
          font-family: "Montserrat", sans-serif;
        }
      }

      .filter_dropdown {
        background-color: #eaeaea;
        display: block;
        position: relative;
        -webkit-box-shadow: 0px 3px 12px #1616160d;
                box-shadow: 0px 3px 12px #1616160d;
        cursor: pointer;
        top: 20px;
        width: 255px;
        right: 18px;
        z-index: -1;
        .dropdown_grid {
          display: grid;
          grid-template-areas: "a a";
          height: 100%;
          grid-auto-columns: 127px;
          -webkit-column-gap: 2px;
             -moz-column-gap: 2px;
                  column-gap: 2px;
          row-gap: 2px;

          .dropdown_item {
            background-color: #fff;
            height: 120px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            color: #161616;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
            font-size: 12px;
            font-weight: 600;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
          }

          .item_active {
            background-color: #53bfd2;
            // color: white;
          }

          .dropdown_item:hover {
            background-color: #53bfd2;
            // color: white;
          }
        }
      }
    }

    .calendar_dropdown {
      background-color: #eaeaea;
      display: block;
      position: relative;
      -webkit-box-shadow: 0px 3px 12px #1616160d;
              box-shadow: 0px 3px 12px #1616160d;
      cursor: pointer;
      top: 20px;
      z-index: -1;
      right: 18px;
      width: 350px;
    }

    .search_cta {
      cursor: pointer;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .circle {
        height: 80px;
        width: 80px;
        border-radius: 80px;
        background-color: #53bfd2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: white;
        font-size: 2em;
      }
    }
  }
}
.filterActiveIcon {
  width: 27px;
  height: 25px;
  margin-right: 10px;
}
