$primary-bg: #ffffff;
$text-color: #000000;
$logo: #53BFD2;
$icon-color: #bcbcbc;

.navbar-sass{
    background:$primary-bg;
    position: sticky;
    top: 0;
    z-index: 999;
    .navbar-container{
        display: flex
        justify-content: space-around
        flex-direction: row
        align-items: center
        .header-links
            display: flex
            justify-content: space-around
            flex-direction: row
            align-items: center
            color: $text-color
    
            a {
                color: $text-color
                padding: 0 0.5em
                text-decoration: none
            }
        .logo-content{
            svg{
                height: 80px
                padding: 0.5em
        }
    }
        .search-items{
            display: flex
            justify-content: space-around
            align-items: center
            .input-item
                display: flex
                flex-direction: row
                align-items: center
                justify-content: space-around
                color: $text-color
                input
                    background: transparent
                    outline: 1px
                    border: 1px solid $logo
                    border-radius: 50px
                    padding: 0.5em
                    width: 230px
                    position: relative
                ::placeholder
                    color: $text-color
                    font-size: 0.9em

                .search-icon
                    position: absolute
                    right: 15%
                    padding: 10px
                    min-width: 0
                    font-size: 2.5em
                    text-align: center
                    color: $icon-color
        }
        .login-item{
            display: flex
            justify-content: center
            align-items: center
        }

            svg{
                width: 40px
            &:nth-child(2) svg{
                color: $icon-color
                font-size: 2em
            }
        }
}
}