:root {
    --primary-bg: #ffffff;
    --text-color: #000000;
    --logo: #53bfd2;
    --icon-color: #bcbcbc;
    --active-text: #000;
}

.navbaractive.active {
    transition: 0.8s ease-in-out;
    background: var(--primary-bg);
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-sass {
    background: transparent;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: -100px;
}

.header-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
}
.header-links a {
    color: var(--text-color);
    padding: 0 0.5em;
    text-decoration: none;
}
.logo-content svg {
    height: 80px;
    padding: 0.5em;
    display: flex;
    justify-content: center;
}
.search-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-items .input-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
input {
    background: transparent;
    outline: 1px;
    border: 1px solid var(--logo);
    border-radius: 50px;
    padding: 0.3em 0.5em;
    width: 210px;
    display: flex;
    align-items: center;
    position: relative;
}
input::placeholder {
    color: var(--text-color);
    font-size: 0.7em;
    padding: 0;
    margin: 0;
}
.search-icon {
    position: absolute;
    right: 9%;
    font-size: 1.5em;
    margin: 0 0.4em;
    color: var(--icon-color);
}
.login-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-item svg {
    width: 40px;
    font-size: 1em;
}
.login-item svg:nth-child(1) {
    color: var(--icon-color);
    font-size: 3em;
}
.nav_icon {
    display: none;
    color: var(--icon-color);
}
@media screen and (max-width: 1024px) {
    .nav_icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .header-links {
        display: none;
    }
    .logo-content svg {
        display: flex;
        justify-content: center;
    }
    .input-item input {
        display: none;
    }
    .search-icon {
        display: none;
    }
    .login-item svg {
        display: none;
    }
    .link-icons svg {
        display: flex;
    }
    .navbaractive.active {
        position: sticky;
        top: 0;
    }
}
